---
title: Prototype Camp
date: 2012-08-25 01:00 CDT
category: events
alias: prototype-camp
summary: Prototype Camp delivers a full day of bringing together Designers, Developers, and anyone else who is interested in putting a bit more &#8220;build and create&#8221; into their craft.
---

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Prototype Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#special-guests" rel="nofollow") Special Guests
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 Prototype Camp delivers a full day of bringing together people who are interested in putting a bit more &#8220;build and create&#8221; into their craft.

    %p Are you a designer who wants to learn more about how to code but have not yet found your inner codemonkey? Are you a developer who wants to learn more about how to create non-code prototypes but are afraid you just are not one of those creative types? Are you just curious to learn more tips, tricks, and techniques from other smart folks in the design and development community and Prototype Camp simply has not been offered yet?

    %p Have we got a day for you! Prototype Camp is going to bring together many bright minds who can walk you through a variety of methods for making things more made. Mark August 25th on your calendar, register, and come hang out with us.

    %h3 Meet Our Awesome Sponsors

    %p These fantastic sponsors are helping us bring this great event to you.

    %p Do not be shy–you, too, can be an awesome sponsor by contacting us below! We are actively seeking sponsors who will fund our registration coffee &amp; light breakfast, morning and afternoon snack breaks, and lunch. These are &#8220;at cost&#8221; sponsorships, which means that you work with us to provide the food and drink and we provide you with a table during your time slot that will serve as a great place to gather resumes from some of the brightest minds in the Chicago design and development community! 

    %ul.event-sponsors.grid
      %li
        %a(href="http://www.8thlight.com/" rel="nofollow")
          = image_tag "events/sponsors/8th-light.png", alt: "8th Light"
      %li
        %a(href="http://www.axure.com/" rel="nofollow")
          = image_tag "events/sponsors/axure.png", alt: "Axure"
      %li
        %a(href="http://www.balsamiq.com/" rel="nofollow")
          = image_tag "events/sponsors/balsamiq.png", alt: "Balsamiq"
      %li
        %a(href="http://binth.com/" rel="nofollow")
          = image_tag "events/sponsors/binth.png", alt: "Binth"
      %li
        %a(href="http://fieldnotesbrand.com/" rel="nofollow")
          = image_tag "events/sponsors/field-notes.jpg", alt: "Field Notes"
      %li
        %a(href="https://www.fluidui.com/" rel="nofollow")
          = image_tag "events/sponsors/fluid.png", alt: "Fluid UI"
      %li
        %a(href="http://www.harrington.edu/" rel="nofollow")
          = image_tag "events/sponsors/harrington.png", alt: "Harrington College of Design"
      %li
        %a(href="http://www.peachpit.com/" rel="nofollow")
          = image_tag "events/sponsors/new-riders.jpg", alt: "New Riders"
      %li
        %a(href="http://www.optimalworkshop.com/" rel="nofollow")
          = image_tag "events/sponsors/optimal-workshop.png", alt: "Optimal Workshop"
      %li
        %a(href="http://www.protoshare.com/" rel="nofollow")
          = image_tag "events/sponsors/protoshare.png", alt: "ProtoShare"
      %li
        %a(href="http://rosenfeldmedia.com/" rel="nofollow")
          = image_tag "events/sponsors/rosenfeld-media.png", alt: "Rosenfeld Media"
      %li
        %a(href="http://www.sapient.com/en-us/sapientnitro.html" rel="nofollow")
          = image_tag "events/sponsors/sapient-nitro.png", alt: "SapientNitro"
      %li
        %a(href="http://www.unitedpixelworkers.com/" rel="nofollow")
          = image_tag "events/sponsors/united-pixel-workers.png", alt: "United Pixelworkers"
      %li
        %a(href="https://www.uie.com/" rel="nofollow")
          = image_tag "events/sponsors/uie.png", alt: "User Interface Engineering"
      %li
        %a(href="http://uxpin.com/" rel="nofollow")
          = image_tag "events/sponsors/uxpin.png", alt: "UXPin"
      %li
        %a(href="http://www.webvisionsevent.com/chicago/" rel="nofollow")
          = image_tag "events/sponsors/webvisions.png", alt: "WebVisions Chicago"

    %h3 Here Are Some Great Reasons to Attend Prototype Camp

    %p For $30, we try our best to get you value for your money! We are grateful to <a href="http://binth.com/" rel="nofollow">Binth</a> and <a href="http://done-n-done.com/" rel="nofollow">The Bakery, LLC</a> for providing us with top notch design services, including their collaboration with the makers of fantastic t-shirts for the digitally minded: <a href="http://www.unitedpixelworkers.com/" rel="nofollow">United Pixelworkers</a>. We cannot recommend them enough! The fine folks at <a href="http://www.harrington.edu/" rel="nofollow">Harrington College of Design</a> are excellent hosts with unique space that allow for multiple tracks of content and easy socializing.

    %p In addition to being awesome hosts, Harrington College will also have an ArtBot Lab! Take a break and explore the intersection of art and technology in Harrington&#8217;s Art Bot lab. Come to create and play, leave with the know how to build your own for more fun at home.

    %p In addition to the above fine folks, check out the other great things our sponsors are providing you with:
    
    %ul.list-ul
      %li <a href="http://www.sapient.com/en-us/sapientnitro.html" rel="nofollow">SapientNitro</a> is providing us with a nice spread for breakfast during the registration time.
      %li <a href="http://www.8thlight.com/" rel="nofollow">8th Light</a>, a Chicago and Tampa based Agile software development company, is keeping us well fed with lunch from Buca di Beppo.
      %li Our friends at <a href="http://www.balsamiq.com/" rel="nofollow">Balsamiq</a> are serving up an afternoon snack and providing extended licenses to their MyBalsamiq tool for all of our attendees!
      %li The super cool folks at <a href="http://fieldnotesbrand.com/" rel="nofollow">Field Notes</a> are making sure that attendees all have their own Field Notes to take copious notes throughout the day&#8211;how cool is that?
      %li Our pals at <a href="http://rosenfeldmedia.com/" rel="nofollow">Rosenfeld Media</a> and <a href="http://www.peachpit.com/" rel="nofollow">New Riders</a> are providing us with a whole slew of books that we will be able to raffle off throughout the day!
      %li The fine folks behind <a href="http://www.webvisionsevent.com/chicago/" rel="nofollow">WebVisions</a>&#8211;one of the coolest conferences in the Web Design and Development field are generously giving us 2 free passes to WebVisions Chicago to give away PLUS a 20% off discount to all of our attendees!
      %li The brilliant thinkers down under at <a href="http://www.optimalworkshop.com/" rel="nofollow">Optimal Workshop</a> have also given us 1 year subscriptions to OptimalSort, Treejack, Chalkmark, and The Suite that we will be able to raffle off during the day!
      %li Those smart kids at <a href="http://www.axure.com/" rel="nofollow">Axure</a> have also given us 2 copies of the Axure RP software that we get to give away, some notebooks, and some pens, too!
      %li The kind and generous folks at <a href="http://uxpin.com/" rel="nofollow">UXPin</a> have offered up 2 Web and 2 Mobile kits, as well as 5 one-year UXPin App subscriptions for the Freelancer&#8217;s Friend plan (valued at $1620) to be raffled off, as well as 20% off for all of the UXPin App plans for all attendees!
      %li Ermegerd! The insanely bright minds at <a href="http://protoshare.com/" rel="nofollow">PROTOSHARE</a> have given us 2 free 6-month Business Edition subscriptions of their collaborative online prototyping tool that we get to raffle off to you!
      %li The swell gang at <a href="https://www.fluidui.com/" rel="nofollow">FluidUI</a> are providing us with 3 annual professional-level accounts and upgraded accounts for every Prototype Camp attendee!
      %li Oh! And the best researchers in the business, <a href="https://www.uie.com/" rel="nofollow">UIE</a>, and the makers of software you cannot bear to work on your projects without, <a href="http://37signals.com/" rel="nofollow">37signals</a>, have generously donated Jared Spool and Ryan Singer to us. We are hoping to make good use of them!

%section#special-guests.main-content.main-bg-alt
  .container

    %h3.h-section Special Guests
    
    %p We are bringing together two of the brightest minds in the web industry today to share with you why they find prototyping and blended skill sets so valuable today.

    .profile.profile-bump.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/jared-spool.jpg", alt: "Jared Spool"
      .media-body

        %h2
          Jared Spool
          .lineup.lineup-wrap
            .h-sm-caps-gray Founder, <a href="https://www.uie.com/" rel="nofollow">User Interface Engineering</a>

        %p Jared M. Spool is the founder of User Interface Engineering, the largest usability research organization of its kind in the world. If you&#8217;ve ever seen Jared speak about usability, you know that he&#8217;s probably the most effective and knowledgeable communicator on the subject today.

    .profile.media
      .profile-object.media-object= image_tag "events/speakers/ryan-singer.jpg", alt: "Ryan Singer"
      .media-body

        %h2
          Ryan Singer
          .lineup.lineup-wrap
            .h-sm-caps-gray Product Manager, <a href="http://37signals.com/" rel="nofollow">37signals</a>

        %p Ryan Singer leads product design and manages the development process at 37signals. He recently led the ground-up redesign of Basecamp, their flagship app. He lives in Logan Square with his wife and two dogs.

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section Schedule

    %p A full day of smart people and great topics, book-ended by two of the smartest people in the industry that you will ever meet. Do not delay&#8211;register for Prototype Camp and/or sign-up for your own speaking slot today!

    %table.event-schedule

      %tr
        %th
          %time(datetime="2012-08-25T08:30") 8:30
          &#8212;
          %time(datetime="2012-08-25T09:15") 9:15
        %td.event-schedule-offset(colspan="3")
          Registration &amp; Waking Up
          %br
          Coffee &amp; Breakfast Sponsored by <a href="http://www.sapient.com/en-us/sapientnitro.html" rel="nofollow">Sapient</a>

      %tr
        %th
          %time(datetime="2012-08-25T09:15") 9:15
          &#8212;
          %time(datetime="2012-08-25T09:30") 9:30
        %td.event-schedule-offset(colspan="3") Introduction, Housekeeping, Overview, Kick-off

      %tr
        %th
          %time(datetime="2012-08-25T09:30") 9:30
          &#8212;
          %time(datetime="2012-08-25T10:15") 10:15
        %td(colspan="3")
          %strong.event-schedule-room(data-room="Blue") Jared Spool
          .event-schedule-offset Morning Keynote
      
      %tr
        %th
          %time(datetime="2012-08-25T10:15") 10:15
          &#8212;
          %time(datetime="2012-08-25T10:30") 10:30
        %td.event-schedule-offset(colspan="3") Morning Break

      %tr
        %th Rooms
        %td
          %strong Blue
          %span.event-schedule-offset (Main)
        %td
          %strong Red
        %td
          %strong Yellow

      %tr
        %th
          %time(datetime="2012-08-25T10:30") 10:30
          &#8212;
          %time(datetime="2012-08-25T11:10") 11:10
        %td
          %strong.event-schedule-room(data-room="Blue") Jon Hadden
          .event-schedule-offset HTML Prototyper&#8217;s Toolbox
        %td
          %strong.event-schedule-room(data-room="Red") Will Hacker
          .event-schedule-offset Mobile Prototyping with Axure
        %td
          %strong.event-schedule-room(data-room="Yellow") John Polacek
          .event-schedule-offset The Never Ending Quest to Build Cool Stuff

      %tr
        %th
          %time(datetime="2012-08-25T11:15") 11:15
          &#8212;
          %time(datetime="2012-08-25T11:55") 11:55
        %td
          %strong.event-schedule-room(data-room="Blue") Brad Nunnally
          .event-schedule-offset The Layers of Prototyping
        %td
          %strong.event-schedule-room(data-room="Red") Dan LeBoeuf
          .event-schedule-offset Testing Tools of On-Device Mobile Prototypes
        %td
          %strong.event-schedule-room(data-room="Yellow") Quite Strong
          .event-schedule-offset Power in Numbers

      %tr
        %th
          %time(datetime="2012-08-25T12:00") 12:00
          &#8212;
          %time(datetime="2012-08-25T13:00") 1:00
        %td.event-schedule-offset(colspan="3")
          Lunch
          %br
          Lunch Sponsored by <a href="http://www.8thlight.com/" rel="nofollow">8th Light</a>

      %tr
        %th
          %time(datetime="2012-08-25T13:00") 1:00
          &#8212;
          %time(datetime="2012-08-25T13:40") 1:40
        %td
          %strong.event-schedule-room(data-room="Blue") Russ Unger
          .event-schedule-offset Live with 6-8-5
        %td
          %strong.event-schedule-room(data-room="Red") Param Rengaiah
          .event-schedule-offset How to Build CMS&#8211;Free Websites
        %td
          %strong.event-schedule-room(data-room="Yellow") Adam Lupu
          .event-schedule-offset 360 Prototyping: Learn to Look at What You&#8217;re Building from Every Angle

      %tr
        %th
          %time(datetime="2012-08-25T13:45") 1:45
          &#8212;
          %time(datetime="2012-08-25T14:25") 2:25
        %td
          %strong.event-schedule-room(data-room="Blue") Adam McCrimmon
          .event-schedule-offset PDF = Prototype
        %td
          %strong.event-schedule-room(data-room="Red") Christopher Webb
          .event-schedule-offset Supercharge Your Toolchain: Haml, Sass, Coffee, Git, &amp; Heroku
        %td
          %strong.event-schedule-room(data-room="Yellow") Jonathan Snook
          .event-schedule-offset Getting Your CSS Under Control

      %tr
        %th
          %time(datetime="2012-08-25T14:30") 2:30
          &#8212;
          %time(datetime="2012-08-25T14:45") 2:45
        %td.event-schedule-offset(colspan="3")
          Afternoon Break
          %br Snacks Sponsored by <a href="http://www.balsamiq.com/" rel="nofollow">Balsamiq</a>

      %tr
        %th
          %time(datetime="2012-08-25T14:45") 2:45
          &#8212;
          %time(datetime="2012-08-25T15:25") 3:25
        %td
          %strong.event-schedule-room(data-room="Blue") Sharlene King
          .event-schedule-offset InDesign &amp; Websites: A Compendium of Reasons it Works
        %td
          %strong.event-schedule-room(data-room="Red") Dennis Kardys
          .event-schedule-offset Replacing Photoshop Comps with HTML Prototypes in the Real World
        %td.event-schedule-offset &#8212;
      
      %tr
        %th
          %time(datetime="2012-08-25T15:30") 3:30
          &#8212;
          %time(datetime="2012-08-25T16:15") 4:15
        %td(colspan="3")
          %strong.event-schedule-room(data-room="Blue") Afternoon Panel
          .event-schedule-offset Featuring Ryan Singer, Jared Spool, Russ Unger, Shay Howe, &amp; Guest Speakers

      %tr
        %th
          %time(datetime="2012-08-25T16:15") 4:15
          &#8212;
          %time(datetime="2012-08-25T16:30") 4:30
        %td.event-schedule-offset(colspan="3") Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section Speakers

    %h2 Blue Room

    .profile.profile-bump.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/jon-hadden.jpg", alt: "Jon Hadden"
      .media-body

        %h2
          Jon Hadden
          .lineup.lineup-wrap
            .h-sm-caps-gray Founder &amp; Design Director, NiceUX

        %p Jon is the founder of NiceUX, a user experience design and development consultancy in Minneapolis, Minnesota. In his 10 years of designing, coding, speaking, and writing, Jon has produced usable products and services for millions across the globe. He&#8217;s a volunteer with Boxes and Arrows, guest speaker with the University of Minnesota Design program, and has been lucky enough to have worked with Happy Cog, Yahoo!, and space150.

        %h3
          .h-divider.h-dividerlight HTML Prototyper&#8217;s Toolbox
          %span.lineup
            %a.h-sm-caps(href="http://www.slideshare.net/jonhadden/html-prototypers-toolbox" rel="nofollow") Slides

        %p Without the correct tools for fast and efficient HTML prototyping, even the best process can be deemed too expensive to attempt. However, the desire to be able to test one&#8217;s design in the browser, at a low cost is always the goal for experience designers. The HTML Prototyper&#8217;s Toolbox is a set of layout patterns and components, built on top of Twitter&#8217;s Bootstrap framework that NiceUX uses to create rapid coded prototypes.

        %p This session, Jon will teach you a pragmatic process and method to using the toolbox to create high fidelity HTML prototypes in the same amount of time you would spend with other prototyping methods. Simply knowing the basics of how front-end code works, we&#8217;ll be able to use the toolbox to create a prototype in 30 minutes.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/brad-nunnally.jpg", alt: "Brad Nunnally"
      .media-body

        %h2
          Brad Nunnally
          .lineup.lineup-wrap
            .h-sm-caps-gray Solution Architect, Perficient

        %p Brad is a user experience designer and researcher in St. Louis, MO. Over the course of his career he has helped clients in the financial, health care management, public utilities, and pharmaceutical management industries. He&#8217;s provided them with deep insight into their customers and users needs, and designed engaging experiences that were catered directly for those needs.

        %p Brad&#8217;s passion in user experience is centered around the modeling of data gained from user research and the creation of interactive prototypes and wireframes. He has presented on these topics at a variety of conferences. He also helps coach and mentor others who are new, or soon-to-be-new, to the user experience field.

        %h3 The Layers of Prototyping

        %p Prototyping is less about the tools you use and more about the process you follow. The process of prototyping can be broken down to three key layers&#8211;wireframing, screen flow, and state management. The completion of any of these layers is where a designer can stop, but as each layer is completed, the prototype gets closer to being a true representation of the final interaction design concept. By going through these layers one at a time, the overall complexity of the prototype melts away and the designer can take on the design one piece at a time. This is a process that has served me well in my career, and it has helped designers just getting into prototype tackle large and complex designs.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/russ-unger.jpg", alt: "Russ Unger"
      .media-body

        %h2
          Russ Unger
          .lineup.lineup-wrap
            .h-sm-caps-gray User Experience Designer &amp; Researcher, Author, &amp; Speaker
            
        %p Russ Unger is a Senior UX Leader with GE Capital. He is co-author of the book &#8220;<a href="http://www.amazon.com/Project-Guide-Design-experience-designers/dp/0321607376/ref=sr_1_1?ie=UTF8&amp;s=books&amp;qid=1224127792&amp;sr=8-1" rel="nofollow">A Project Guide to UX Design</a>&#8221; for Peachpit Press (Voices That Matter) and is co-authoring a book on Facilitation with Dan Willis and Brad Nunnally, due out in early 2013. Russ is also on the Advisory Board for the Department of Web Design and Development at Harrington College of Design.

        %h3 Live with 6-8-5

        %p The 6-8-5 Method can be used in a number of ways to help with ideation and brainstorming, but also for fine tuning your design. This session will focus on rapidly generating ideas in the form of rapid sketches around a set of requirements, then validating and fine-tuning them through structured pitching and critiquing. You won&#8217;t need a laptop—just bring your favorite pencil and get ready to sketch!

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/adam-mccrimmon.jpg", alt: "Adam McCrimmon"
      .media-body

        %h2
          Adam McCrimmon
          .lineup.lineup-wrap
            .h-sm-caps-gray VP, Digital Strategy &amp; UX, HY Connect
            
        %p Adam leads Digital Strategy &amp; UX at HY Connect where he works with companies of all sizes to make their web destinations and digital advertising more awesome. His passion for #goodweb is only equaled by his love of tacos.

        %h3
          .h-divider.h-dividerlight PDF = Prototype
          %span.lineup
            %a.h-sm-caps(href="http://amccrim.com/protopdf" rel="nofollow") Slides

        %p Providing clients with wireframe and design PDFs is common place. But those flat files generally aren&#8217;t very good at giving them a sense of what it&#8217;s like to use your awesomely planned site/app/etc. No matter what program you use to make your PDF there&#8217;s a quick and easy way to turn it into a prototype. In fact&#8211;We&#8217;ll make one in 20 min or less.

        %p And in turn you&#8217;ll help clients see the importance of wireframes in the creative process and help them to understand that the content and functionality drives the design. Not the other way around.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/sharlene-king.jpg", alt: "Sharlene King"
      .media-body

        %h2
          Sharlene King
          .lineup.lineup-wrap
            .h-sm-caps-gray Senior Art Director, Acquity Group
            
        %p Sharlene King is a designer working as a senior art director at Acquity Group and living it up in Chicago. She designs on the weekend, in the after hours, and with a mouthful of food for a variety of clients from global pharmaceuticals to incorrigible start-ups. Once she wrote something for Distance, a designer quarterly of long essays. According to Netflix, she likes &#8220;Visually striking prehistoric science and nature documentaries for ages 5-7&#8221; also known as dinosaurs.

        %h3 InDesign &amp; Websites: A Compendium of Reasons it Works

        %p As an industry, we fall into habits like relying on software that may be antiquated. Responsive websites are evolving from rare into standard. The platforms users have to choose is ever-increasing in variety. The way we interact with a website today is different tomorrow.

        %p We need to reconsider our software for its strengths and weaknesses rather than rely upon what&#8217;s familiar for the sake of familiarity. As designers, we need to shake ourselves from habit and adapt.

        %p In this talk, we&#8217;ll cover reasons why you should use InDesign for web design, how to calmly explain your conversion to a developer, how to ensure your client doesn&#8217;t completely break down into pure panic, and other surefire ways to be the most interesting person in your office by being novel in your software choices. There might even be some talk about CS6 versus CS5.

    %h2 Red Room

    .profile.profile-bump.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/will-hacker.jpg", alt: "Will Hacker"
      .media-body

        %h2
          Will Hacker
          .lineup.lineup-wrap
            .h-sm-caps-gray User Experience Architect, Cars.com

        %p Will Hacker is a user experience architect at Cars.com, where he focuses on UX design and usability for the mobile web. His background includes UX design for B2C and B2B ecommerce sites and financial services web products. He also is a graduate student in DePaul University&#8217;s masters program in human-computer interaction. You can follow him on <a href="https://twitter.com/willhacker" rel="nofollow">Twitter</a> or check out his <a href="http://willhacker.net/" rel="nofollow">website</a>.

        %h3
          .h-divider.h-dividerlight Mobile Prototyping with Axure
          %span.lineup
            %a.h-sm-caps(href="http://willhacker.net/2012/08/25/prototype-camp-chicago-2012/" rel="nofollow") Slides

        %p So you have a great idea for an iPhone or iPad app. But you lack the coding skills needed to bring it to life for testing and refinement before moving to development. Well a new set of features in Axure RP 6.5 allow you to rapidly prototype iOS applications for on-device testing with native-looking iOS UI widgets, home screen icons, splash screens, full-screen display, and swipe event detection. And all without writing a single line of code.

        %p In this session Will shows some of the techniques he used to create a demo iPhone app using some of the new features in Axure. You&#8217;ll learn how to simulate the user experience using dynamic displays, stored data in variables, multiple chained events, and more. For mobile user experience designers without ready access to iOS developers who can assist with prototyping, Axure provides a great way to get your ideas in people&#8217;s hands for design exploration and iteration.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/dan-leboeuf.jpg", alt: "Dan LeBoeuf"
      .media-body

        %h2
          Dan LeBoeuf
          .lineup.lineup-wrap
            .h-sm-caps-gray Senior UX Architect, Manifest Digital

        %p Dan LeBoeuf is a Senior UX Architect at Manifest Digital and graduate student at DePaul CDM studying HCI and Computer Science. With 16 years of industry experience, his career began as a visual designer. He shifted to front-end development and ultimately leveraged broad experience and combined capabilities to drive his fascination with digital user experiences and constructing solutions.

        %p Dan&#8217;s passion lies in collaborating on UX designs, wire frames and prototypes. He specializes in creating native mobile apps for iOS and Android as well as developing  web applications for device agnostic solutions. He has led projects for major automotive manufacturers, health care providers, personal line insurers, risk management insurers and shipping / industrial supply distributors. In his spare time, Dan participates in in Post-It Note Wars with neighboring Chicago buildings.

        %h3 Testing Tools of On-Device Mobile Prototypes

        %p So, you&#8217;ve built your mobile app prototype&#8230; now what? It&#8217;s time to test, test, test. Mobile prototype testing is used to evaluate functionality and potentially uncover unforeseen points of issue prior to major development efforts. It&#8217;s also used to make necessary and recommended usability updates to improve the user experience. Conducting an in-person test session, a proven effective model, gives unique insight and means of interacting with the participants while observing their process in real-time.

        %p Similar to a favorite wireframing tool or text editor, there is a variety of approaches to conduct and capture your test session. In this presentation, we&#8217;ll review mobile prototype testing tools that range from straightforward to comprehensive. From bootstrap to enterprise testing software. From bending acrylic to forged 606 aircraft grade aluminum. In addition, Dan will walk through options and decisions made while building Manifest&#8217;s custom configured research facility.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/param-rengaiah.jpg", alt: "Param Rengaiah"
      .media-body

        %h2
          Param Rengaiah
          .lineup.lineup-wrap
            .h-sm-caps-gray Experience Architect, Aspire Systems

        %p Param Rengaiah&#8217;s LinkedIn title is Solutions Architect/Experience Architect, but he considers himself a developer and a hacker. He is currently employed by Aspire Systems. In his quest to find the ingredients for creating useful software products, his technical interests revolves around scalable enterprise systems, digital media, mobile, cloud, enterprise social media, open source innovations and user experience. If he is not in front of his laptop or iPad hacking some code or reading, he spends rest of his time either sleeping, watching old movies on Netflix or playing with his two boys.

        %h3 How to Build CMS&#8211;Free Websites

        %p We are going to learn how to build a Website without any CMS&#8211;using only light coding techniques, existing stuff on the web, and you&#8217;re hosting provider, you can mimic the power of modern day content publishing platforms.

        %p If you are asking why, here&#8217;s one reason&#8211;its the easiest and yet most flexible and powerful option for a developer/designer.

        %p We will be using Jekyl, GitHub and Prose.io. We will also touch upon other options and extensions such as Jekyll Bootstrap, Octopress and Cactus.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/chris-webb.jpg", alt: "Chris Webb"
      .media-body

        %h2
          Chris Webb
          .lineup.lineup-wrap
            .h-sm-caps-gray User Interface Engineer, Groupon

        %p Christopher works as a User Interface Engineer at Groupon. He&#8217;s meticulous about hand-crafted HTML, carefully pruned CSS, and pushing the web forward. He&#8217;s interested in responsive web design, building iOS apps, and hacking on Arduinos. When he&#8217;s not pushing daily deals, he spends time with his loving wife, their two beautiful kids, and his rambunctious dog.

        %h3
          .h-divider.h-dividerlight Supercharge Your Toolchain: Haml, Sass, Coffee, Git, &amp; Heroku
          %span.lineup
            %a.h-sm-caps(href="https://speakerdeck.com/u/conspirator/p/supercharge-your-toolchain-haml-sass-coffeescript-git-and-heroku" rel="nofollow") Slides

        %p Learn how to write faster markup with Haml, smarter CSS with Sass, and better JavaScript with Coffee Script while we build a simple Rails3 application. We&#8217;ll touch on the benefits of a git repository and the ease of deploying to Heroku. Intended for anyone interested in more expedient tools.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/dennis-kardys.jpg", alt: "Dennis Kardys"
      .media-body

        %h2
          Dennis Kardys
          .lineup.lineup-wrap
            .h-sm-caps-gray Creative Director, WSOL

        %p Dennis Kardys is a Chicago based user experience designer with a hang up for well crafted code. Currently the Creative Director at WSOL, he leads up a team of extremely keen designers and front end devs. When he&#8217;s not busy collaborating with clients, evading meetings or squinting at markup, you&#8217;re likely to find him ranting about responsive design and the mobile web, or writing about design ethics at <a href="http://robotregime.com/" rel="nofollow">robotregime.com</a>.

        %h3
          .h-divider.h-dividerlight Replacing Photoshop Comps with HTML Prototypes in the Real World
          %span.lineup
            %a.h-sm-caps(href="https://speakerdeck.com/u/denniskardys/p/replacing-photoshop-with-html-prototypes-in-the-real-world" rel="nofollow") Slides

        %p Many clients (and bosses) still clamor for static, finalized Photoshop comps to sign off on. How do you convince them to evolve beyond rigid deliverables and embrace a prototype-based approach to interface design? In this session I&#8217;ll share recent experiences upending internal design processes and discarding Photoshop comps in favor of HTML based design guides. We&#8217;ll cover practical considerations for getting stakeholder buy-in (and sign-off) and walk through the code you need to start building device-agnostic design systems.

    %h2 Yellow Room

    .profile.profile-bump.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/john-polacek.jpg", alt: "John Polacek"
      .media-body

        %h2
          John Polacek
          .lineup.lineup-wrap
            .h-sm-caps-gray Senior Developer, Draftfcb

        %p John Polacek is a Senior Developer at Draftfcb Chicago. He has authored popular open source projects, drawn indie comic books, hit #1 on Hacker News and shows up #3 in the Google search results for Responsive Web Design. John has worked in the trenches doing big agency/big client digital work for years. &#8220;I love brass tacks and the nitty gritty. Ideas are great. Executions are better. Solving problems and building cool stuff is what I do.&#8221;

        %h3
          .h-divider.h-dividerlight The Never Ending Quest to Build Cool Stuff
          %span.lineup
            %a.h-sm-caps(href="http://johnpolacek.com/prototype" rel="nofollow") Slides

        %p It has never been easier to create amazing things. With the vast knowledge on the other side of a Google search, the possibilities are endless. Do you want to create radtastic HTML5 node-jure Raspberry Pi Quadcopters in the Cloud with an API? Let&#8217;s freaking do it!

        %p In this session, we&#8217;ll talk about what it takes to build cool stuff, mainly on the web. John will tell you about things you can do and stuff you should know.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/quite-strong.jpg", alt: "Quite Strong"
      .media-body

        %h2
          Elaine Chernov, Jana Kinsman, &amp; Katherine Walker
          .lineup.lineup-wrap
            .h-sm-caps-gray Quite Strong

        %p Quite Strong is a collaborative of five female Chicago-based creatives. We are art directors, graphic designers, web developers, illustrators and photographers. Quite Strong is a platform for us to pursue personal creative endeavors, to engage our community locally, to interact with the larger design community, and to promote and empower female creatives everywhere. Find more info and say hello! <a href="https://twitter.com/Quite_Strong" rel="nofollow">@quite_strong</a> / <a href="http://quitestrong.com/" rel="nofollow">http://quitestrong.com</a>.

        %h3 Power in Numbers: 15 Simple Ways to Harvest the Power of Your Community by Teaming Up

        %p Quite Strong is using 15 numbers to show you the power of numbers. In this chat you will hear from 3/5ths of Quite Strong on different aspects of engaging in your design and development community, some tried and true practices of getting involved with projects and people, and how to turn your connections into opportunities.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/adam-lupu.jpg", alt: "Adam Lupu"
      .media-body

        %h2
          Adam Lupu
          .lineup.lineup-wrap
            .h-sm-caps-gray Director of Learning &amp; Development, Global Playground

        %p Adam Lupu is a learning scientist and cognitive engineer. He specializes in applying the latest scientific research on learning and development to the creation of training programs for technologists, designers, and business leaders. A former teacher, Mr. Lupu has an MA in Learning Sciences from Northwestern University, and has spent the last year developing technology mentorships, leadership seminars, and learning labs at Chicago-based Code Academy. As Director of Learning and Development at non-profit Global Playground, Mr. Lupu is responsible for developing an online learning platform that educates students and teachers around the world in technology and cultural literacy. He is also a staff writer for <a href="http://technori.com/" rel="nofollow">Technori.com</a> and co-founder of TEDxEvanston.

        %h3 360 Prototyping: Learn to Look at What You&#8217;re Building from Every Angle

        %p Prototyping might be defined as applying a craft to learn about your product as you conceive and construct it. In order to learn more about your product (and what it can be) you want to look at it from all angles, not just the perspective you have inherited from developing your existing skills. In other words, designers, developers, and idea builders all benefit from being able to think about what they&#8217;re building using each other&#8217;s differing points of view.

        %p So how can you learn a new framework for conceiving of a product without spending years practicing a new craft?

        %p Research in the science of how people learn confirms that there are three different ways to pick up new perspectives and use them to inform what you create. In this session we will discuss these three pathways to 360 prototyping and everyone will get a chance to try on a new way of looking at what they make.

    .profile.media
      .profile-object.media-object= image_tag "events/speakers/jonathan-snook.jpg", alt: "Jonathan Snook"
      .media-body

        %h2
          Jonathan Snook
          .lineup.lineup-wrap
            .h-sm-caps-gray Lead Designer, Shopify

        %p Jonathan Snook writes about tips, tricks, and bookmarks on his blog at <a href="http://snook.ca/" rel="nofollow">Snook.ca</a>. He has also written for A List Apart, 24ways, and .net magazine, and has co-authored two books, The Art and Science of CSS and Accelerated DOM Scripting. He has recently written the book, Scalable and Modular Architecture for CSS, sharing his experience and best practices. Snook currently works on the design team at Shopify.

        %h3 Getting Your CSS Under Control

        %p CSS is easy? CSS is messy. We couple things so tightly with the HTML that we make it harder to build and iterate quickly on an ever-growing project. This session will look at some approaches from the book, Scalable and Modular Architecture for CSS, that can help create a more flexible platform for faster development and easier prototyping.

= partial "partials/event-location-harrington"
