---
title: Prototype Camp
date: 2013-08-24 01:00 CDT
category: events
alias: prototype-camp
summary: Prototype Camp delivers a full day of bringing together people who are interested in putting a bit more &#8220;build and create&#8221; into their craft. Clearly-thought and nearly-there are great places to be!
---

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Prototype Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#keynotes" rel="nofollow") Keynotes
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 Prototype Camp delivers a full day of bringing together people who are interested in putting a bit more &#8220;build and create&#8221; into their craft.

    %p Sometimes getting your idea across is all it takes, but getting your idea across can be daunting. Come spend a Saturday with us and learn how some of the most talented folks on all of the internets are getting their ideas across in various design and development methods!
    
    %h3 Meet Our Awesome Sponsors
    
    %p These fantastic sponsors are helping us bring this great event to you.
        
    %ul.event-sponsors.grid
      - data.events.sponsors.slice("Balsamiq", "Harrington", "Foiled Cupcakes", "Jawhole", "RG/A", "SapientNitro", "WebVisions").each do |s|
        %li
          %a(href="#{s[1]['url']}" rel="nofollow")
            = image_tag "events/sponsors/#{s[1]['alias']}.png", alt: "#{s[0]}"
        
    %h3 Lots of Great Reasons to Attend Prototype Camp Chicago

    %p We&#8217;ve got some pretty incredible sponsors lined up to help make Prototype Camp a pretty fantastic day. When you spend your hard-earned $50 on Prototype Camp, you&#8217;ll get to enjoy the opportunity to take part in most, if not all of the following from our sponsors:
    
    %ul.list-ul
      %li A unique, comfortable camp environment from our friends at <a href="http://www.harrington.edu/" rel="nofollow">Harrington College</a>.
      %li A good start to your day by having breakfast brought to you by <a href="http://www.sapient.com/en-us/sapientnitro.html" rel="nofollow">SapientNitro</a>.
      %li Lunch and an excellent lunchtime talk from <a href="http://www.rga.com/" rel="nofollow">R/GA</a>.
      %li An excellent selection of books from the fine folks at <a href="http://www.abookapart.com/" rel="nofollow">A Book Apart</a>!
      %li A slew of some of the best books in the <a href="http://www.peachpit.com/" rel="nofollow">New Riders library</a>!
      %li Some of the best books around on protototyping and failing from the bright minds at <a href="http://rosenfeldmedia.com/" rel="nofollow">Rosenfeld Media</a>.
      %li Free business cards from the business card people at <a href="http://moo.com/link/ha2r" rel="nofollow">Moo.com</a>.
      %li 5 free user tests for EACH attendee from <a href="http://www.usertesting.com/" rel="nofollow">UserTesting.com</a>!
      %li Free extended trials of the <a href="http://www.drifty.com/" rel="nofollow">Drifty</a> products, plus free 1-year subscriptions of their products to be raffled.
      %li An annual subscription to the online developer training library of over 500 video courses from <a href="http://pluralsight.com/" rel="nofollow">Pluralsight</a>!
      %li 4 months of the <a href="http://www.hotgloo.com/" rel="nofollow">HotGloo</a> Team Plan for free!
      %li A bunch of snazzy UX Man notebooks and 1 free full license of Axure RP from <a href="http://www.axure.com/" rel="nofollow">Axure</a>!
      %li Something special to A/B test from Jawhole!
      %li Some nice shirts to the winners of the A/B test with Jawhole from our pals at <a href="http://www.polarb.com/" rel="nofollow">Polar</a>!
      %li 2 2-day passes to <a href="http://www.webvisionsevent.com/chicago/" rel="nofollow">WebVisions Chicago</a> and 30% off 2-day and 3-day passes to the event!
      %li 6 copies of Present Yourself from <a href="http://oreilly.com/" rel="nofollow">O&#8217;Reilly</a>!
      %li Delicious snacks and tasty treats from <a href="http://balsamiq.com/" rel="nofollow">Balsamiq</a>, as well as a special gift for each attendee!
      %li Some fantastic swag and complimentary software licenses from <a href="http://www.optimalworkshop.com/" rel="nofollow">Optimal Workshop</a>!
      %li 2 yearly accounts from the awesome upstarts at <a href="http://codepen.io/" rel="nofollow">CodePen</a>.
      %li A 20% discount for <a href="http://uxpin.com/" rel="nofollow">UXPin</a> and 3 free 1-year licenses!
      %li A few complimentary software licenses to <a href="https://www.fluidui.com/" rel="nofollow">Fluid</a> to be raffled.
      %li Some awesome wearables from the ridiculously cool people at <a href="http://mailchimp.com/" rel="nofollow">MailChimp</a>!
      %li Incredible generosity from our pals at <a href="https://www.uie.com/" rel="nofollow">User Interface Engineering</a>, <a href="http://www.sabre.com/" rel="nofollow">Sabre</a>, and <a href="http://www.foiledcupcakes.com/" rel="nofollow">Foiled Cupcakes</a>!
      %li 3 Free licenses full licenses from the fine folks at <a href="https://www.fluidui.com/" rel="nofollow">Fluid</a>!
      %li 2 free months of the &#8220;Premium Light&#8221; plan and 3 free &#8220;Premium&#8221; licenses for 6 months from the generous folks at <a href="http://mockupbuilder.com/" rel="nofollow">Mockup Builder</a>!
      %li <a href="http://sugru.com/" rel="nofollow">Sugru</a> is providing each of our attendees with a gift card for some sugru! How cool is that?

    %p We&#8217;ve got so many great reasons to show up that we can&#8217;t think of a good reason to miss out! Get your tickets now before they&#8217;re gone!

%section#keynotes.main-content.main-bg-alt
  .container

    %h3.h-section Keynotes

    - data.events.speakers.slice("Fred Beecher", "Jared Spool").each do |s|
      .profile.media
        .profile-object.media-object= image_tag "events/speakers/#{s[1]['alias']}.jpg", alt: "#{s[0]}"
        .media-body
          %h2
            = s[0]
            .lineup.lineup-wrap
              .h-sm-caps-gray= s[1]['title']
          = s[1]['bio']
          - if s[1]['website'] || s[1]['twitter']
            %p
              For more, keep up with #{s[0].split[0...1].to_s.delete('[""]')}
              = succeed "." do
                - if s[1]['website']
                  at <a href="http://#{s[1]['website']}" rel="nofollow">#{s[1]['website']}</a>
                - if s[1]['website'] && s[1]['twitter']
                  or
                - if s[1]['twitter']
                  on Twitter as <a href="http://twitter.com/#{s[1]['twitter']}" rel="nofollow">@#{s[1]['twitter']}</a>

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section Schedule

    %table.event-schedule
      
      %tr
        %th
          %time(datetime="2013-08-24T08:30") 8:30
          &#8212;
          %time(datetime="2013-08-24T09:15") 9:15
        %td.event-schedule-offset(colspan="3")
          Registration
          %br
          Coffee &amp; Breakfast Sponsored by <a href="http://www.sapient.com/en-us/sapientnitro.html" rel="nofollow">Sapient</a>

      %tr
        %th
          %time(datetime="2013-08-24T09:30") 9:30
          &#8212;
          %time(datetime="2013-08-24T10:30") 10:30
        %td(colspan="3")
          %strong.event-schedule-room(data-room="Blue") Fred Beecher
          .event-schedule-offset Morning Keynote

      %tr
        %th
          %time(datetime="2013-08-24T10:30") 10:30
          &#8212;
          %time(datetime="2013-08-24T10:45") 10:45
        %td.event-schedule-offset(colspan="3") Morning Break

      %tr
        %th Rooms
        %td
          %strong Blue
          %span.event-schedule-offset (Main)
        %td
          %strong Red
        %td
          %strong Yellow

      %tr
        %th
          %time(datetime="2013-08-24T10:45") 10:45
          &#8212;
          %time(datetime="2013-08-24T11:15") 11:15
        %td
          %strong.event-schedule-room(data-room="Blue") Jen Myers
          .event-schedule-offset Adventures in Prototyping: How To Make Simple, Solid HTML/CSS Prototypes
        %td
          %strong.event-schedule-room(data-room="Red") Jason Cranford Teague
          .event-schedule-offset Interactive Prototyping: Avoiding the Fidelity Cliff
        %td
          %strong.event-schedule-room(data-room="Yellow") Victoria Pater
          .event-schedule-offset Designing for Mobile in InDesign

      %tr
        %th
          %time(datetime="2013-08-24T10:45") 10:45
          &#8212;
          %time(datetime="2013-08-24T11:55") 11:55
        %td(colspan="3")
          %strong Bonus: Andy Hullinger
          .event-schedule-offset (Presented in the MacLab on the 5th Floor)
          .event-schedule-offset From Idea to App: Learn to Use the CoronaSDK for Rapid, Native App Prototyping

      %tr
        %th
          %time(datetime="2013-08-24T11:15") 11:15
          &#8212;
          %time(datetime="2013-08-24T11:25") 11:25
        %td.event-schedule-offset(colspan="3") 10 Minute Break

      %tr
        %th
          %time(datetime="2013-08-24T11:25") 11:25
          &#8212;
          %time(datetime="2013-08-24T11:55") 11:55
        %td
          %strong.event-schedule-room(data-room="Blue") Todd Zaki Warfel
          .event-schedule-offset Talk TBD
        %td
          %strong.event-schedule-room(data-room="Red") Dave Kiss
          .event-schedule-offset Build Stuff That You&#8217;d Use
        %td
          %strong.event-schedule-room(data-room="Yellow") Gabby Hon
          .event-schedule-offset Co-Designing with the Client: Using Axure to Bring Requirements to Life

      %tr
        %th
          %time(datetime="2013-08-24T11:55") 11:55
          &#8212;
          %time(datetime="2013-08-24T12:40") 12:40
        
        %td.event-schedule-offset(colspan="3")
          Lunch
          %br
          Sponsored by <a href="http://www.rga.com/" rel="nofollow">R/GA</a>

      %tr
        %th
          %time(datetime="2013-08-24T12:40") 12:40
          &#8212;
          %time(datetime="2013-08-24T13:25") 1:25
        %td(colspan="3")
          %strong.event-schedule-room(data-room="Blue") Kaitlin Yapchaian &amp; Marc Maleh
          .event-schedule-offset Creation as Concept: The Maker Culture of R/GA&#8217;s Prototype Studio

      %tr
        %th
          %time(datetime="2013-08-24T13:25") 1:25
          &#8212;
          %time(datetime="2013-08-24T13:55") 1:55
        %td
          %strong.event-schedule-room(data-room="Blue") Max Temkin
          .event-schedule-offset Talk TBD
        %td
          %strong.event-schedule-room(data-room="Red") Smith Schwartz
          .event-schedule-offset Well-Designed Travel
        %td
          %strong.event-schedule-room(data-room="Yellow") Gail Swanson
          .event-schedule-offset The Right Type of Prototype

      %tr
        %th
          %time(datetime="2013-08-24T13:55") 1:55
          &#8212;
          %time(datetime="2013-08-24T14:05") 2:05
        %td.event-schedule-offset(colspan="3") 10 Minute Break

      %tr
        %th
          %time(datetime="2013-08-24T14:05") 2:05
          &#8212;
          %time(datetime="2013-08-24T14:35") 2:35
        %td
          %strong.event-schedule-room(data-room="Blue") Mari Luangrath
          .event-schedule-offset Prototyping Cupcakes: Taking Delicious from Local to National
        %td
          %strong.event-schedule-room(data-room="Red") Philip Likens
          .event-schedule-offset Deciding What to Build Without Killing Each Other
        %td
          %strong.event-schedule-room(data-room="Yellow") Scott Sullivan
          .event-schedule-offset Prototyping Sensor Networks!

      %tr
        %th
          %time(datetime="2013-08-24T14:35") 2:35
          &#8212;
          %time(datetime="2013-08-24T15:00") 3:00
        %td.event-schedule-offset(colspan="3")
          Afternoon Break
          %br
          Snacks Sponsored by <a href="http://balsamiq.com/" rel="nofollow">Balsamiq</a>

      %tr
        %th
          %time(datetime="2013-08-24T15:00") 3:00
          &#8212;
          %time(datetime="2013-08-24T16:00") 4:00
        %td(colspan="3")
          %strong.event-schedule-room(data-room="Blue") Jared Spool
          .event-schedule-offset Afternoon Keynote

      %tr
        %th
          %time(datetime="2013-08-24T16:00") 4:00
          &#8212;
          %time(datetime="2013-08-24T16:15") 4:15
        %td.event-schedule-offset(colspan="3") Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section Speakers

    %h2 Blue Room

    - content_for :talk_jen_myers do

      %h3 Adventures in Prototyping: How To Make Simple, Solid HTML/CSS Prototypes

      %p You need a prototype and you need it fast. Chances are, you&#8217;d also like it to look nice, be built on solid code and represent both the functionality and feel of the final intended product. With a good foundational knowledge of cutting-edge markup practices, design principles and readily available tools, it is in fact possible. This presentation will provide a look at the static site generators and style frameworks available, how to pick the right ones for your projects, and the process of using them to create quick, beautiful, representative prototypes.

    - content_for :talk_mari_luangrath do

      %h3 Prototyping Cupcakes: Taking Delicious from Local to National
      
      %p Now shipping their sweets nationally, Foiled has undertaken their biggest challenge to date&#8211;sending delicious cupcakes in a box, while keeping the product and brand experience rich and unique&#8230; and still remaining competitive from a cost perspective. Mari and her team have successfully navigated this space, using pastry experience, customer data, trial and error, storymapping, and a strategic partnership with one of the biggest pharmaceutical shipping companies in the world&#8211;in order to do so profitably.

    - data.events.speakers.slice("Jen Myers", "Mari Luangrath", "Max Temkin", "Todd Zaki Warfel").each do |s|
      .profile.media
        .profile-object.media-object= image_tag "events/speakers/#{s[1]['alias']}.jpg", alt: "#{s[0]}"
        .media-body
          %h2
            = s[0]
            .lineup.lineup-wrap
              .h-sm-caps-gray= s[1]['title']
          = s[1]['bio']
          - if s[1]['website'] || s[1]['twitter']
            %p
              For more, keep up with #{s[0].split[0...1].to_s.delete('[""]')}
              = succeed "." do
                - if s[1]['website']
                  at <a href="http://#{s[1]['website']}" rel="nofollow">#{s[1]['website']}</a>
                - if s[1]['website'] && s[1]['twitter']
                  or
                - if s[1]['twitter']
                  on Twitter as <a href="http://twitter.com/#{s[1]['twitter']}" rel="nofollow">@#{s[1]['twitter']}</a>
          - talk_desc = :"talk_#{s[1]['alias'].gsub(/[-]/, '_')}"
          - if content_for?(talk_desc)
            = yield_content talk_desc

    %h2 Red Room

    - content_for :talk_dave_kiss do

      %h3 Build Stuff That You&#8217;d Use
      
      %p As a designer or developer, keeping up with and growing your skillset can be challenging. However, figuring out what to do with those skills once you have them can be even more difficult. In this presentation, we&#8217;ll explore ways to come up with ideas that can lead to enhancing your work and workflow, shipping those ideas even when they aren&#8217;t perfect, and creating things that other people might even pay to use.

    - content_for :talk_jason_cranford_teague do

      %h3 Interactive Prototyping: Avoiding the Fidelity Cliff
      
      %p Interactive Prototyping is the next big Ux skill, but many designers may avoid embracing it. Prototyping can become needlessly complex, requiring designers to know when they&#8217;ve designed enough, and it&#8217;s time to start building. In this session, Jason will explain some of the most common pitfalls with interactive prototyping, how they can be avoided, and why it&#8217;s never been more important for designers to learn how to create working prototypes.

    - content_for :talk_philip_likens do

      %h3 Deciding What to Build Without Killing Each Other
      
      %p Deciding what to build is hard. Making the decision as a team is even tougher. Team members often have differing views on which portions of the prototype are most important and what functionality to include. Tensions from the decision-making process can drive teams apart. In our labs group we have adopted a framework for making prototyping and project decisions. This presentation outlines the framework we use in Sabre Labs, as well as some examples of times we&#8217;ve gotten it right, and other times we haven&#8217;t.

    - content_for :talk_smith_schwartz do

      %h3 Well-Designed Travel
      
      %p About two years ago, my partner and I left behind our Chicago home and nearly everything we owned to pursue a fanciful life of nomadic travel. We had flexible jobs where working from home was considered normal, so we wondered why couldn&#8217;t home be anywhere we want it to be? This lifestyle (though not without its challenges), has enabled us to visit new places, learn new languages, skip winters and spend time with the friends and family that we rarely got to see in our formerly stationary lives.
      
      %p The way we go about our day-to-day life on the road has been informed and made better by many of the development practices we already had, particularly in terms of prototyping. We continually strive for tight feedback loops so that we are free to try new things and quickly adapt. In our case we work for continual incremental improvement in our skills, our experiences, and our ability to connect with others to arrive at the most intentional and rewarding life that we know how to live.

    - data.events.speakers.slice("Dave Kiss", "Jason Cranford Teague", "Philip Likens", "Smith Schwartz").each do |s|
      .profile.media
        .profile-object.media-object= image_tag "events/speakers/#{s[1]['alias']}.jpg", alt: "#{s[0]}"
        .media-body
          %h2
            = s[0]
            .lineup.lineup-wrap
              .h-sm-caps-gray= s[1]['title']
          = s[1]['bio']
          - if s[1]['website'] || s[1]['twitter']
            %p
              For more, keep up with #{s[0].split[0...1].to_s.delete('[""]')}
              = succeed "." do
                - if s[1]['website']
                  at <a href="http://#{s[1]['website']}" rel="nofollow">#{s[1]['website']}</a>
                - if s[1]['website'] && s[1]['twitter']
                  or
                - if s[1]['twitter']
                  on Twitter as <a href="http://twitter.com/#{s[1]['twitter']}" rel="nofollow">@#{s[1]['twitter']}</a>
          - talk_desc = :"talk_#{s[1]['alias'].gsub(/[-]/, '_')}"
          - if content_for?(talk_desc)
            = yield_content talk_desc
           
    %h2 Yellow Room

    - content_for :talk_gabby_hon do

      %h3 Co-Designing with the Client: Using Axure to Bring Requirements to Life
      
      %p Axure is a great tool to use to help move from a high-level list of requirements into functional concepting. Gabby will present an actual case study of how she used Axure to winnow down a 5-page list of requirements into a working prototype by co-designing with her client. Moving from whiteboard and pencil sketches into Axure, and refining on the go, we were able to get to a pretty decent prototype that gave visual designers the room to be creative, while adhering to the functional goals of the site.

    - content_for :talk_gail_swanson do

      %h3 The Right Type of Prototype
      
      %p How do you know what to prototype? What details are important to get right? What level of interactivity is necessary to get valid feedback?
      
      %p Prototypes are very effective tools for playing out ideas, testing concepts and getting feedback. But they are often left out of the design and development cycles due to their disposable nature. It can be tough to justify the effort to make something for the purpose of experiment. Finding the right prototype medium and minimum level of detail required is essential. Without it, how will you get the stakeholder buy-in and funding?
      
      %p Learn how to match your prototype fidelity to the information you need to gather. Understand the range of prototype techniques and match them to your situation. Get maximum value and minimize your project risk.

    - content_for :talk_scott_sullivan do

      %h3 Prototyping Sensor Networks!
      
      %p This is an introduction to building connected environments. I&#8217;ll go over the main building blocks of what you need for a wireless sensor network, and show you how to get started making each &#8220;block.&#8221; This talk is intended for designers with little or no engineering ability who would like to start prototyping smart interactive environment-based experiences. I&#8217;ll give real world examples from a sensor network project I currently have deployed in a public space, and show exactly how data and feedback from the prototype has influenced the evolution of the system.

    - content_for :talk_victoria_pater do

      %h3 Designing for Mobile in InDesign
      
      %p Working in an agile setting has changed my approach to mobile design. I&#8217;ve let go of the pixel perfect final product and learned to iterate along the way in primarily one piece of software. I can flesh out everything from wireframes to final screens for my developers&#8211;all using Adobe InDesign. I&#8217;ll share how my files are set-up for efficiency and talk through the main reasons this works for designers who want to create better products that are constantly evolving.

    - data.events.speakers.slice("Gabby Hon", "Gail Swanson", "Scott Sullivan", "Victoria Pater").each do |s|
      .profile.media
        .profile-object.media-object= image_tag "events/speakers/#{s[1]['alias']}.jpg", alt: "#{s[0]}"
        .media-body
          %h2
            = s[0]
            .lineup.lineup-wrap
              .h-sm-caps-gray= s[1]['title']
          = s[1]['bio']
          - if s[1]['website'] || s[1]['twitter']
            %p
              For more, keep up with #{s[0].split[0...1].to_s.delete('[""]')}
              = succeed "." do
                - if s[1]['website']
                  at <a href="http://#{s[1]['website']}" rel="nofollow">#{s[1]['website']}</a>
                - if s[1]['website'] && s[1]['twitter']
                  or
                - if s[1]['twitter']
                  on Twitter as <a href="http://twitter.com/#{s[1]['twitter']}" rel="nofollow">@#{s[1]['twitter']}</a>
          - talk_desc = :"talk_#{s[1]['alias'].gsub(/[-]/, '_')}"
          - if content_for?(talk_desc)
            = yield_content talk_desc
      
    %h2 Bonus

    - content_for :talk_andy_hullinger do

      %h3 From Idea to App (in about an hour): Learn to Use the CoronaSDK for Rapid, Native App Prototyping
      
      %p You&#8217;ll be surprised just how simple and quick it can be to craft your next prototype with this true mobile development framework. Join App developer and Harrington professor Andy Hullinger in the school&#8217;s iMac lab for a hands-on micro-class in using the <a href="http://www.coronalabs.com/" rel="nofollow">CoronaSDK</a> and programming with the high-performance Lua language. You do not need prior app development experience to learn how to use this elegant, efficient, and freely available software development kit as we walk step-by-step through the creation and coding of an animated,  touch driven, multi-page iPhone App.
      
      %ul.list-ul
        %li Discover tips and tricks for designing a functional mobile prototype presentation
        %li Learn the simple syntax behind programming animation to enhance UI design
        %li Understand the creation and optimization of images for mobile display
        %li Experience the engineering cycle of native App development
      
      %p Why learn CoronaSDK? In addition to being the #1 cross-platform mobile development framework you&#8217;ll find it easy to continue pursuing your curiosity. The <a href="http://www.meetup.com/CoronaSDK/" rel="nofollow">Chicago CoronaSDK Developers Group Meetup</a> is now hosted at Harrington and Andy currently serves as a <a href="http://www.coronalabs.com/community/ambassadors/directory/" rel="nofollow">Corona Ambassador</a> advocating for the value of good design (both visual and functional) in App development and promoting the addition of Art education to Science, Tech, Engineering, and Math curriculum to put STEAM into S.T.E.M.

    - data.events.speakers.slice("Andy Hullinger").each do |s|
      .profile.media
        .profile-object.media-object= image_tag "events/speakers/#{s[1]['alias']}.jpg", alt: "#{s[0]}"
        .media-body
          %h2
            = s[0]
            .lineup.lineup-wrap
              .h-sm-caps-gray= s[1]['title']
          = s[1]['bio']
          - if s[1]['website'] || s[1]['twitter']
            %p
              For more, keep up with #{s[0].split[0...1].to_s.delete('[""]')}
              = succeed "." do
                - if s[1]['website']
                  at <a href="http://#{s[1]['website']}" rel="nofollow">#{s[1]['website']}</a>
                - if s[1]['website'] && s[1]['twitter']
                  or
                - if s[1]['twitter']
                  on Twitter as <a href="http://twitter.com/#{s[1]['twitter']}" rel="nofollow">@#{s[1]['twitter']}</a>
          - talk_desc = :"talk_#{s[1]['alias'].gsub(/[-]/, '_')}"
          - if content_for?(talk_desc)
            = yield_content talk_desc
            
    .profile.media
      .profile-object.media-object
        = image_tag "events/speakers/kaitlin-yapchaian.jpg", alt: "Kaitlin Yapchaian"
        = image_tag "events/speakers/marc-maleh.jpg", alt: "Marc Maleh"
      .media-body

        %h2
          Kaitlin Yapchaian &amp; Marc Maleh
          .lineup.lineup-wrap
            .h-sm-caps-gray R/GA 

        %p Kaitlin Yapchaian is the Executive Producer of R/GA&#8217;s Prototype Studio where she manages the day-to-day prototyping practice. Having worked across technology, marketing and publishing for nearly a decade, she has devised, managed and executed products and campaigns for a multitude of global brands including Google, Vogue and Nike. Kaitlin holds a B.A. in Studio Art from the University of Richmond in Virginia and currently lives in New York City.
        
        %p As a group director at R/GA, Marc is responsible for the Data Visualization capability as well as the Rapid Prototype Studio. In this role, he works in partnership with the creative team to grow the data visualization capability by collaborating with clients on visual solutions for data-derived insights and is actively defining best practices for implementing prototyping as a key first step in multiplatform design across R/GA&#8217;s global network.
        
        %p Marc has over 10 years of experience in interactive and new media technology. Prior to being named Group Director, Maleh served as Director of Interactive Production at Wieden+Kennedy NY, where he helped grow a team of producers, technologists, and creatives within a new structure designed to strengthen their integrated digital capabilities. Before moving to Wieden+Kennedy, Marc served for more than five years as an executive producer at R/GA, managing an integrated team of producers, creative directors, designers, and programmers for multiple Nike projects including Nike Running and Nike Football. Marc has also managed international design and technology teams in New York and Shanghai for Screampoint, working with clients that included Apple, AIG, World Trade Center Development, and Jamba Juice.
        
        %p Marc received his BA from Lehigh University and his Masters from NYU&#8217;s Interactive Telecommunications Program.          
        %h3 Creation as Concept: The Maker Culture of R/GA&#8217;s Prototype Studio
        
        %p From Google Glass apps to Tweeting E-Cigarettes, R/GA&#8217;s Prototype Studio is actively exploring innovative ways to use new technologies. Join Marc Maleh and Kaitlin Yapchaian to learn best practices for creating smart, swift, and effective prototypes.

= partial "partials/event-location-harrington"
