---
title: Speaker Camp Boston
date: 2014-10-11 01:00 CDT
category: events
logo: speaker-camp
location: Mad*Pow &ndash; Boston
header_image: active
summary: Speaker Camp Boston helps you get ready to present at conferences. Spend your Saturday with us and get prepared to get on stage and show your smarts!
---

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Speaker Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#staff" rel="nofollow") Staff &amp; Mentors
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#location" rel="nofollow") Location

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 Speaker Camp Boston helps you get ready to present at conferences. Spend your Saturday with us and get prepared to get on stage and show your smarts!

    %p You don&#8217;t need to picture people in their underwear to get up on stage and share what you know. You do, however, need to have a compelling idea along with a well-written abstract and a well-structured, well-prepared presentation in order to give the talk you–and your audience–deserve.

    %h3 You&#8217;ve Got A Lot To Say. People Deserve to Hear It.

    %p Show up with 5 minutes of a presentation and learn from seasoned professionals who have seen their fair share of stages. We&#8217;ll provide you with a safe, welcoming environment and help you by providing valuable and actionable feedback that will help you level-up your presentation game.

    %p We can help with that. Come learn with us!

%section#staff.main-content.main-bg-alt
  .container

    %h3.h-section
      Staff
      %span &amp;
      Mentors

    %h2 Leader

    .profile.profile-bump.profile-push.media
      .profile-object.media-object= image_tag "#{event_src(current_page)}/russ-unger.jpg", alt: "Russ Unger"
      .media-body

        %h2
          Russ Unger
          .lineup.lineup-wrap
            .h-sm-caps-gray User Experience Designer &amp; Researcher, Author, &amp; Speaker
        
        %p Russ Unger is an Experience Design Director in Chicago where he leads teams and projects in design and research. He is co-author of the book &#8220;<a href="http://www.amazon.com/Project-Guide-Design-experience-designers/dp/0321607376/" rel="nofollow">A Project Guide to UX Design</a>,&#8221; &#8220;<a href="http://www.amazon.com/gp/product/0321886720/" rel="nofollow">Designing the Conversation</a>,&#8221; and the forthcoming Speaker Camp for Peachpit Press (Voices That Matter). Russ is also working on a book on guerrilla design and research methods that is due out well, sometime.
        
        %p Russ is also co-founder of Chicago Camps, which hosts low-cost, high-value technology events in the Chicago area, and he is also on the Advisory Board for the Department of Web Design and Development at Harrington College of Design. Russ has 2 daughters who both draw better than he does and are currently beginning to surpass his limited abilities in coding.

    %h2 Special Guest

    .profile.profile-bump.profile-push.media
      .profile-object.media-object= image_tag "#{event_src(current_page)}/jared-spool.jpg", alt: "Jared Spool"
      .media-body

        %h2
          Jared Spool
          .lineup.lineup-wrap
            .h-sm-caps-gray Founder, User Interface Engineering, &amp; Co-founder, Centre Center
        
        %p Jared M. Spool is the founder of User Interface Engineering, the largest usability research organization of its kind in the world. If you&#8217;ve ever seen Jared speak about usability, you know that he&#8217;s probably the most effective and knowledgeable communicator on the subject today.

    %h2 Mentors
    
    %ul.mentor-list.grid

      %li
        %a(href="https://twitter.com/boonerang" rel="nofollow")
          = image_tag "#{event_src(current_page)}/boon-sheridan.jpg", alt: "Boon Sheridan"
          .mentor-name Boon Sheridan
        .mentor-job Senior Product Designer, NASDAQ OMX
        .mentor-podcast-cta.lineup
          %a.a-chevron-right(href="/podcasts/2014/boon-sheridan/") Boon&#8217;s Podcast

      %li
        %a(href="https://twitter.com/cperfetti" rel="nofollow")
          = image_tag "#{event_src(current_page)}/christine-perfetti.jpg", alt: "Christine Perfetti"
          .mentor-name Christine Perfetti
        .mentor-job Senior Director, Acquia

      %li
        %a(href="https://twitter.com/danachis" rel="nofollow")
          = image_tag "#{event_src(current_page)}/dana-chisnell.jpg", alt: "Dana Chisnell"
          .mentor-name Dana Chisnell
        .mentor-job Co-Director, Center for Civic Design
        .mentor-podcast-cta.lineup
          %a.a-chevron-right(href="/podcasts/2014/dana-chisnell/") Dana&#8217;s Podcast

      %li
        %a(href="https://twitter.com/DU5TB1N" rel="nofollow")
          = image_tag "#{event_src(current_page)}/dustin-ditommaso.jpg", alt: "Dustin DiTommaso"
          .mentor-name Dustin DiTommaso
        .mentor-job VP, Experience Design, Mad*Pow

      %li
        %a(href="https://twitter.com/beparticular" rel="nofollow")
          = image_tag "#{event_src(current_page)}/jenn-downs.jpg", alt: "Jenn Downs"
          .mentor-name Jenn Downs
        .mentor-job UX Researcher, ShootProof
        .mentor-podcast-cta.lineup
          %a.a-chevron-right(href="/podcasts/2014/jenn-downs/") Jenn&#8217;s Podcast
      
      %li
        %a(href="https://twitter.com/kylesoucy" rel="nofollow")
          = image_tag "#{event_src(current_page)}/kyle-soucy.jpg", alt: "Kyle Soucy"
          .mentor-name Kyle Soucy
        .mentor-job Founding Principal, Usable Interface
        .mentor-podcast-cta.lineup
          %a.a-chevron-right(href="/podcasts/2014/kyle-soucy/") Kyle&#8217;s Podcast
      
      %li
        %a(href="https://twitter.com/mbloomstein" rel="nofollow")
          = image_tag "#{event_src(current_page)}/margot-bloomstein.jpg", alt: "Margot Bloomstein"
          .mentor-name Margot Bloomstein
        .mentor-job Brand &amp; Content Strategist, Appropriate, Inc.
        .mentor-podcast-cta.lineup
          %a.a-chevron-right(href="/podcasts/2014/margot-bloomstein/") Margot&#8217;s Podcast

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section
      Schedule
      %span &amp;
      Curriculum

    %p We&#8217;ve pulled together a great schedule for Speaker Camp Boston, which includes brainstorming your ideas, understanding abstract structure and format, crafting your abstract, and much, much more!

    %table.event-schedule

      %tr
        %th
          %time(datetime="2014-10-11T08:00") 8:00
          &#8212;
          %time(datetime="2014-10-11T08:30") 8:30
        %td.event-schedule-offset Registration &amp; Morning Beverages

      %tr
        %th
          %time(datetime="2014-10-11T08:30") 8:30
          &#8212;
          %time(datetime="2014-10-11T12:00") 12:00

        %td
          %ul
            %li Brainstorming Your Big Idea
            %li How to Write Your Bio
            %li How to Write Your Proposal &amp; Abstract
            %li Critique Proposals &amp; Abstracts

      %tr
        %th
          %time(datetime="2014-10-11T12:00") 12:00
          &#8212;
          %time(datetime="2014-10-11T13:00") 1:00
        %td.event-schedule-offset Lunch

      %tr
        %th
          %time(datetime="2014-10-11T13:00") 1:00
          &#8212;
          %time(datetime="2014-10-11T13:45") 1:45
        %td Presentation Tips &amp; Techniques

      %tr
        %th
          %time(datetime="2014-10-11T14:30") 2:00
          &#8212;
          %time(datetime="2014-10-11T16:00") 4:00
        %td
          Trial by Fire
          .event-schedule-offset Presentations &amp; Critique

      %tr
        %th
          %time(datetime="2014-10-11T16:00") 4:00
          &#8212;
          %time(datetime="2014-10-11T16:45") 4:30
        %td Closing

%section#location.main-content
  .container

    %h3.h-section Location

    %h2
      Mad*Pow Boston
      .lineup
        %a.a-chevron-right(href="https://goo.gl/maps/57fux") 179 Lincoln Street, Boston, MA 02111

    .grid

      .event-location-venue
        .event-location-media
          %figure= image_tag "#{event_src(current_page)}/madpow.jpg", class: "frame", alt: "Mad*Pow Boston"
        
        %h3 About Mad*Pow

        %p Mad*Pow is a design agency that improves the experiences people have with technology, organizations and each other. Since 2000, they have partnered with industry leaders like Cigna, ESPN, John Hancock, Pearson, Microsoft and Google.
        
        %p Check out <a href="http://www.madpow.com/" rel="nofollow">Mad*Pow</a>.

      .event-location-area
        .event-location-media
          %figure
            %iframe.frame(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.627526121025!2d-71.05909799999999!3d42.35046400000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a8070d8f4a3%3A0x77f6f1246d555af3!2sMad*2APow!5e0!3m2!1sen!2sus!4v1420598158852")

        %h3 Where to Park?

        %p There are several easy-access <a href="http://www.parkwhiz.com/madpow-parking/" rel="nofollow">parking garages</a> available in the surrounding blocks.

        %h3 Where to Stay?

        %p Coming from out of town? There are a lot of hotels in Boston that may work well for you and we have already done the searching for you!

        %p Check out <a href="https://goo.gl/maps/fKil3" rel="nofollow">hotels in the surrounding area</a>.
