---
title: Mobile Camp
date: 2014-05-03 01:00 CDT
category: events
alias: mobile-camp
header_image_photographer: Scott Cresswell
header_image_url: https://flic.kr/p/iVvY69
summary: Mobile Camp gets you up to speed on the mobile issues you need to know! Spend a Saturday with us and then spend your Monday applying what you&#8217;ve learned!
---

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Mobile Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#keynotes" rel="nofollow") Keynotes
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 Mobile Camp gets you up to speed on the mobile issues you need to know! Spend a Saturday with us and then spend your Monday applying what you&#8217;ve learned!

    %p Mobile Camp dedicates a full day to bring together Designers, Developers, and anyone else who is interested in leveling-up their mobile skills.

    %p It&#8217;s more than smaller screens. Come learn with us!

    %h3 Meet Our Awesome Sponsors
    
    %p These fantastic sponsors are helping us bring this great event to you.

    %ul.event-sponsors.grid
      - data.events.sponsors.slice("Funsize", "Harrington", "Jawhole", "Optimal Workshop", "O'Reilly", "Rosenfeld", "UIE", "UXPin").each do |s|
        %li
          %a(href="#{s[1]['url']}" rel="nofollow")
            = image_tag "events/sponsors/#{s[1]['alias']}.png", alt: "#{s[0]}"

    %h3 Lots of Great Reasons to Attend Mobile Camp

    %p For your $50, we try our best to get you an incredible value for your money! The fine folks at <a href="http://www.harrington.edu/" rel="nofollow">Harrington College of Design</a> are excellent hosts with a unique space that allows for multiple tracks of content and easy socializing.

%section#keynotes.main-content.main-bg-alt
  .container

    %h3.h-section Keynotes

    %p We are bringing together two of the brightest minds in the industry to share with you what they know about mobile design and development. You don&#8217;t want to miss out on these talks!

    - content_for :talk_anthony_armendariz do

      %h3 Adapting to Change Keynote

      %p As designers, we constantly manage the chaos of mastering a craft, being diverse, all the while trying to differentiate ourselves and adapting our processes and deliverables in an industry that changes at lightening speeds.

      %p As if the web wasn&#8217;t difficult enough, the advent of mobile product design and service design has created an entirely new industry and career paths, completely disrupting everything we knew about engagements, processes, deliverables, and expectations of design teams and agencies.

      %p Face it, the industry is constantly changing and so should we. Let&#8217;s learn to embrace change and use it to intentionally position ourselves for constant reinvention and how to fashion the skills and environments necessary for creating meaningful products in the modern age and beyond.

    - content_for :talk_carolyn_chandler do

      %h3 On Reaction: The Power of Transitions Keynote

      %p Mobile interfaces have become a playground for new and unusual transitions. When you add a &#8220;to do&#8221; item in Clear, or move from category to story detail in Facebook Paper, you experience a new standard in interface response using animation and sound.

      %p Mobile developers and designers have a multitude of opportunities to inform and delight in those spaces in between major actions. When done well, unique transitions can add playfulness, meaning, and interest to your mobile solutions. When done badly, they can frustrate users with long wait times, or obscure the relationships between elements of your product.

      %p In this session we&#8217;ll explore the power of transitions in the mobile space, and discuss:

      %ul
        %li Why is it important to consider transitions?
        %li What types of situations warrant a unique transition?
        %li Where can you find inspiration?
        %li How do you know when you&#8217;ve gone overboard?

    - data.events.speakers.slice("Anthony Armendariz", "Carolyn Chandler").each do |s|
      .profile.media
        .profile-object.media-object= image_tag "events/speakers/#{s[1]['alias']}.jpg", alt: "#{s[0]}"
        .media-body
          %h2
            = s[0]
            .lineup.lineup-wrap
              .h-sm-caps-gray= s[1]['title']
          = s[1]['bio']
          - if s[1]['website'] || s[1]['twitter']
            %p
              For more, keep up with #{s[0].split[0...1].to_s.delete('[""]')}
              = succeed "." do
                - if s[1]['website']
                  at <a href="http://#{s[1]['website']}" rel="nofollow">#{s[1]['website']}</a>
                - if s[1]['website'] && s[1]['twitter']
                  or
                - if s[1]['twitter']
                  on Twitter as <a href="http://twitter.com/#{s[1]['twitter']}" rel="nofollow">@#{s[1]['twitter']}</a>
          - talk_desc = :"talk_#{s[1]['alias'].gsub(/[-]/, '_')}"
          - if content_for?(talk_desc)
            = yield_content talk_desc

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section Schedule

    %p A full day of smart people and great topics, book-ended by two of the smartest people in the industry that you will ever meet. Do not delay – register for Mobile Camp today!

    %table.event-schedule

      %tr
        %th
          %time(datetime="2014-05-03T08:30") 8:30
          &#8212;
          %time(datetime="2014-05-03T09:00") 9:00
        %td.event-schedule-offset(colspan="3") Registration &amp; Waking Up

      %tr
        %th
          %time(datetime="2014-05-03T09:00") 9:00
          &#8212;
          %time(datetime="2014-05-03T09:45") 9:45
        %td(colspan="3")
          %strong.event-schedule-room(data-room="Blue") Carolyn Chandler
          .event-schedule-offset On Reaction: The Power of Transitions Keynote

      %tr
        %th
          %time(datetime="2014-05-03T09:45") 9:45
          &#8212;
          %time(datetime="2014-05-03T10:00") 10:00
        %td.event-schedule-offset(colspan="3") Morning Break

      %tr
        %th Rooms
        %td
          %strong Blue
          %span.event-schedule-offset (Main)
        %td
          %strong Red
        %td
          %strong Yellow

      %tr
        %th
          %time(datetime="2014-05-03T10:00") 10:00
          &#8212;
          %time(datetime="2014-05-03T10:45") 10:45
        %td
          %strong.event-schedule-room(data-room="Blue") Arthur Kay
          .event-schedule-offset Sencha: Building Mobile Apps with HTML5
        %td
          %strong.event-schedule-room(data-room="Red") Matt Doty
          .event-schedule-offset Mobile/Desktop/Tablet First: Getting the Most from All Form Factors
        %td
          %strong.event-schedule-room(data-room="Yellow") Sean Johnson
          .event-schedule-offset How to Get Traction on Mobile

      %tr
        %th
          %time(datetime="2014-05-03T10:45") 10:45
          &#8212;
          %time(datetime="2014-05-03T11:00") 11:00
        %td.event-schedule-offset(colspan="3") Break

      %tr
        %th
          %time(datetime="2014-05-03T11:00") 11:00
          &#8212;
          %time(datetime="2014-05-03T11:45") 11:45
        %td
          %strong.event-schedule-room(data-room="Blue") Will Hacker
          .event-schedule-offset Manage This! Account and Profile Management on the Small Screen
        %td
          %strong.event-schedule-room(data-room="Red") Gail Swanson
          .event-schedule-offset 10lbs of Features in a 5lb App: Tips on Creating Simple Yet Robust Experiences for Mobile Devices
        %td
          %strong.event-schedule-room(data-room="Yellow") Adam McCrimmon
          .event-schedule-offset Device-ism: Overcoming the Small Screen &#8220;Problem&#8221;

      %tr
        %th
          %time(datetime="2014-05-03T11:45") 11:45
          &#8212;
          %time(datetime="2014-05-03T13:15") 1:15
        %td.event-schedule-offset(colspan="3") Lunch

      %tr
        %th
          %time(datetime="2014-05-03T13:15") 1:15
          &#8212;
          %time(datetime="2014-05-03T14:00") 2:00
        %td
          %strong.event-schedule-room(data-room="Blue") Adam Tramposh
          .event-schedule-offset Design for Android
        %td
          %strong.event-schedule-room(data-room="Red") Tom Greever
          .event-schedule-offset Easy Mobile Testing: Usability Checks Without Money, Time, or Even an App
        %td
          %strong.event-schedule-room(data-room="Yellow") Dennis Kardys
          .event-schedule-offset Navigating the Mobile Web

      %tr
        %th
          %time(datetime="2014-05-03T14:00") 2:00
          &#8212;
          %time(datetime="2014-05-03T14:15") 2:15
        %td.event-schedule-offset(colspan="3") Break

      %tr
        %th
          %time(datetime="2014-05-03T14:15") 2:15
          &#8212;
          %time(datetime="2014-05-03T15:00") 3:00
        %td
          %strong.event-schedule-room(data-room="Blue") Philip Likens
          .event-schedule-offset Experiencing the Mobile Mainframe
        %td
          %strong.event-schedule-room(data-room="Red") Mike Gibson
          .event-schedule-offset Mobile First Responsive Design?
        %td
          %strong.event-schedule-room(data-room="Yellow") Andy Hullinger
          .event-schedule-offset From Web to Widgets: How to Create and Code for iBooks Using Simple HTML,CSS, &amp; Javascript

      %tr
        %th
          %time(datetime="2014-05-03T15:00") 3:00
          &#8212;
          %time(datetime="2014-05-03T15:30") 3:30
        %td.event-schedule-offset(colspan="3") Break

      %tr
        %th
          %time(datetime="2014-05-03T15:30") 3:30
          &#8212;
          %time(datetime="2014-05-03T16:15") 4:15
        %td(colspan="3")
          %strong.event-schedule-room(data-room="Blue") Anthony Armendariz
          .event-schedule-offset Adapting to Change Keynote

      %tr
        %th
          %time(datetime="2014-05-03T16:15") 4:15
          &#8212;
          %time(datetime="2014-05-03T16:30") 4:30
        %td.event-schedule-offset(colspan="3") Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section Speakers

    %h2 Blue Room

    - content_for :talk_adam_tramposh do

      %h3 Designing for Android

      %p Android&#8217;s breakneck pace of evolution has been the platform&#8217;s greatest boon, but somewhat of a curse for software designers and developers. How does one cope with such an oft-iterated upon operating system? Designing for Android will examine the state of the Android ecosystem&#8211;who are it&#8217;s users, what are the devices they&#8217;re using, where is the market headed&#8211;to inform your Android app&#8217;s design. We&#8217;ll address Android design principles, structure, &#8220;Holo&#8221; UI patterns, and designing for variable viewport sizes and form factors. Resources, axure libraries and case studies will also be shared.

    - content_for :talk_arthur_kay do

      %h3 Sencha: Building Mobile Apps with HTML5

      %p HTML5 and web technologies have transformed the browser into a first-class application platform. Sencha gives developers the best combination of technology, tools, and support for developing powerful desktop and mobile apps based on HTML5.

      %p In this session, we will introduce Sencha Touch and Sencha Architect and explain how they rapidly create mobile web applications using pure HTML5, CSS3 and JavaScript.

    - content_for :talk_philip_likens do

      %h3 Experiencing the Mobile Mainframe

      %p Google Glass, Samsung Gear, MetaWatch, Fitbit Flex, and a whole host of other devices are weaving a connectivity web with a similar underlying pattern: the smartphone is emerging as the mobile mainframe. Our phones are powerful, always-on, always-connected machines that pipe data to and from these terminals (or devices). The result is an amazing collection of capabilities and experiences for the user.

      %p I&#8217;ve spent the last few months diving into the world of the mobile mainframe, bouncing between platforms and devices. I&#8217;d like to share my own journey, highlight the powerful experiences this model provides, discuss the downsides of the mobile mainframe as it stands today, and make some outlandish predictions about the future as I see it.

    - content_for :talk_will_hacker do

      %h3 Manage this! Account &amp; Profile Management on the Small Screen

      %p So you&#8217;ve built a great app, included awesome features, and have personalization in place to make it a rich and robust experience for every user. But have you considered when those folks are using handheld devices, with small screens, with less-than-optimal text input interfaces? Suddenly your well-crafted account and profile are about to get painful. But it doesn&#8217;t have to be this way. This talk looks at how we can create mobile account and profile experiences that get the information we need to deliver value from our apps even in a small-screen context without burdening users to the point they just give up and go somewhere else.

    - data.events.speakers.slice("Adam Tramposh", "Arthur Kay", "Philip Likens", "Will Hacker").each do |s|
      .profile.media
        .profile-object.media-object= image_tag "events/speakers/#{s[1]['alias']}.jpg", alt: "#{s[0]}"
        .media-body
          %h2
            = s[0]
            .lineup.lineup-wrap
              .h-sm-caps-gray= s[1]['title']
          = s[1]['bio']
          - if s[1]['website'] || s[1]['twitter']
            %p
              For more, keep up with #{s[0].split[0...1].to_s.delete('[""]')}
              = succeed "." do
                - if s[1]['website']
                  at <a href="http://#{s[1]['website']}" rel="nofollow">#{s[1]['website']}</a>
                - if s[1]['website'] && s[1]['twitter']
                  or
                - if s[1]['twitter']
                  on Twitter as <a href="http://twitter.com/#{s[1]['twitter']}" rel="nofollow">@#{s[1]['twitter']}</a>
          - talk_desc = :"talk_#{s[1]['alias'].gsub(/[-]/, '_')}"
          - if content_for?(talk_desc)
            = yield_content talk_desc

    %h2 Red Room

    - content_for :talk_gail_swanson do

      %h3 10lbs of Features in a 5lb App: Tips on Creating Simple Yet Yobust Experiences for Mobile Devices

      %p People use mobile devices for surprisingly complex tasks. The constant presence of our phones trumps the extra time it may take to manipulate the small screen with clumsy fingers. So, how do we deliver a simple mobile experience while providing the breadth of functionality users and stakeholders want to cram into these tiny containers?

      %p In this session, Gail will show you how to apply essential design concepts like progressive disclosure, complexity masking, and linear pathways to create the perception of simplicity for your users. Broaden your design strategies for getting all those features your stakeholders require into a design simple enough for your dad to understand.

    - content_for :talk_matthew_doty do

      %h3 Mobile/Desktop/Tablet First: Getting the Most from All Form Factors

      %p Most of us would agree that designing a smartphone experience first is a good way to prioritize features and functionality for a system that will span multiple form factors. Over the last 3 years, however, I&#8217;ve steadily come to realize that all form factors have important lessons to teach each other. While the &#8220;mobile first&#8221; movement represents an important evolution in our design thinking, there is a broader interplay between certain form factors that, when understood and mastered, can help take our designs to the next level.

    - content_for :talk_mike_gibson do

      %h3 Mobile First Responsive Design?

      %p It didn&#8217;t take long for builders of the web to embrace mobile first approaches in their workflow, but is it the right approach for your project? During this talk I&#8217;ll discuss mobile first as a workflow and as a set of ideals. I&#8217;ll explore scenarios where a responsive build that starts small and expands out from there may not be the most efficient workflow and how we can work through those projects and build our sites as quickly as possible while still holding true to the ideas that made Mobile First a best practice in the first place.

    - content_for :talk_tom_greever do

      %h3 Easy Mobile Testing: Usability Checks Without Money, Time, or Even an App

      %p Usability testing is one of the most important parts of the mobile app design process, yet few organizations do it because they believe it&#8217;s expensive, time-consuming or requires a completed app. The reality is, you can do some great usability tests in one day with no money, little prep, and even without an app! During this session, I&#8217;ll give tips for doing ad hoc usability testing for mobile devices and how to get the most out of it. Plus, I&#8217;ll do a test on-the-spot with a volunteer audience member to demonstrate just how easy it can be.

    - data.events.speakers.slice("Gail Swanson", "Matthew Doty", "Mike Gibson", "Tom Greever").each do |s|
      .profile.media
        .profile-object.media-object= image_tag "events/speakers/#{s[1]['alias']}.jpg", alt: "#{s[0]}"
        .media-body
          %h2
            = s[0]
            .lineup.lineup-wrap
              .h-sm-caps-gray= s[1]['title']
          = s[1]['bio']
          - if s[1]['website'] || s[1]['twitter']
            %p
              For more, keep up with #{s[0].split[0...1].to_s.delete('[""]')}
              = succeed "." do
                - if s[1]['website']
                  at <a href="http://#{s[1]['website']}" rel="nofollow">#{s[1]['website']}</a>
                - if s[1]['website'] && s[1]['twitter']
                  or
                - if s[1]['twitter']
                  on Twitter as <a href="http://twitter.com/#{s[1]['twitter']}" rel="nofollow">@#{s[1]['twitter']}</a>
          - talk_desc = :"talk_#{s[1]['alias'].gsub(/[-]/, '_')}"
          - if content_for?(talk_desc)
            = yield_content talk_desc

    %h2 Yellow Room

    - content_for :talk_adam_mccrimmon do

      %h3 Device-ism: Overcoming the Small Screen &#8220;Problem&#8221;

      %p In this talk I&#8217;ll make the case for embracing mobile as an opportunity not just a constraint. Using real world examples and data on mobile usage patterns, I&#8217;ll demonstrate the prominence and effect of &#8216;device deserts&#8217; and the importance of considering intent, not just context when creating mobile experiences.

      %p Working with marketing departments day to day I regularly run into the misconception that mobile experiences should be less robust than their non-mobile equivalents. Often this idea is expressed by someone saying &#8220;People won&#8217;t do that on a phone.&#8221; This talk will explore why this is a short-sided argument that is as silly as saying &#8220;People from Kansas aren&#8217;t interested in skiing.&#8221;

      %p As mobile strategists we spend a lot of time talking about context when it&#8217;s really user intent that drives interaction. It doesn&#8217;t matter where someone is or what device is near them, they still want the same stuff. If we can embrace intent over context, we will better understand what users really need from their small screens.

    - content_for :talk_andy_hullinger do

      %h3 From Web to Widgets How to Create &amp; Code for iBooks Using Simple HTML,CSS, &amp; Javascript

      %p iBooks have expanded from the iPad onto the desktop and It is surprisingly easy to turn simple web skills into amazing interactive experiences for Apple&#8217;s free publishing platform (once someone shares the tips and tricks). In this session Andy takes you on a &#8220;walk-through&#8221; of a complete full-screen HTML5 widget. From idea to finished App you&#8217;ll learn what it takes build iBooks widgets, tricks for quick success, and how to avoid the pitfalls. Each participant will also receive complete source code and a curated list of learning resources to jump-start their own project.

    - content_for :talk_dennis_kardys do

      %h3 Navigating the Mobile Web

      %p We&#8217;ve learned to reject the notion of creating desktop-lite mobile experiences. But as we attempt to map larger, more complex systems to smaller screens, it becomes more and more challenging to help people find what they&#8217;re looking for. How do the interface decisions we make and the mobile interaction patterns we rely on impact how people process information and find content? Each time we adapt our design to a different range of screen sizes we create a new landscape our users must familiarize themselves with. Done right, this can lead to more seamless multiscreen experiences. Done poorly and your users will be left frustrated, disoriented and hunting elsewhere for information. This dissection of mobile UI and IA best practices will help you help your users find their way around your site&#8211;no matter what size screen they&#8217;re on.

    - content_for :talk_sean_johnson do

      %h3 How to Get Traction on Mobile

      %p Most mobile apps don&#8217;t fail because the company can&#8217;t build their idea. They fail because they can&#8217;t get people to use it. And with over 1 million apps in the ecosystem, it&#8217;s imperative to have a thought out plan for acquiring and keeping customers.

      %p In this fast-paced talk, Kellogg professor and Digital Intent partner Sean Johnson will give you a set of tools and techniques for getting traction in a crowded market. You will be introduced to the customer funnel, discover strategies for manipulating each phase of the funnel, and learn how to measure the effectiveness of your efforts.

      %p We won&#8217;t be operating at a 50,000 foot level. Instead, you&#8217;ll learn specific techniques and strategies that smart companies are using to build the right product, find customers and turn them into advocates.

    - data.events.speakers.slice("Adam McCrimmon", "Andy Hullinger", "Dennis Kardys", "Sean Johnson").each do |s|
      .profile.media
        .profile-object.media-object= image_tag "events/speakers/#{s[1]['alias']}.jpg", alt: "#{s[0]}"
        .media-body
          %h2
            = s[0]
            .lineup.lineup-wrap
              .h-sm-caps-gray= s[1]['title']
          = s[1]['bio']
          - if s[1]['website'] || s[1]['twitter']
            %p
              For more, keep up with #{s[0].split[0...1].to_s.delete('[""]')}
              = succeed "." do
                - if s[1]['website']
                  at <a href="http://#{s[1]['website']}" rel="nofollow">#{s[1]['website']}</a>
                - if s[1]['website'] && s[1]['twitter']
                  or
                - if s[1]['twitter']
                  on Twitter as <a href="http://twitter.com/#{s[1]['twitter']}" rel="nofollow">@#{s[1]['twitter']}</a>
          - talk_desc = :"talk_#{s[1]['alias'].gsub(/[-]/, '_')}"
          - if content_for?(talk_desc)
            = yield_content talk_desc

= partial "partials/event-location-harrington"
