---
published: false
title: Prototype Camp
date: 2014-09-13 01:00 CDT
category: events
alias: prototype-camp
summary: Prototype Camp Chicago delivers a full day of bringing together people who are interested in putting a bit more &#8220;build and create&#8221; into their craft. Clearly-thought and nearly-there are great places to be!
---

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Prototype Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#keynotes" rel="nofollow") Keynotes
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 Prototype Camp delivers a full day of bringing together people who are interested in putting a bit more &#8220;build and create&#8221; into their craft.

    %p Sometimes getting your idea across is all it takes, but getting your idea across can be daunting. Come spend a Saturday with us and learn how some of the most talented folks on all of the internets are getting their ideas across in various design and development methods!
    
    %p We&#8217;ll have a variety of talks on a variety of topics&#8211;from research, design, development, and the totally random (we&#8217;ve had a presentation on cupcakes in the past!), you&#8217;ll learn from people who are building things quickly and iteratively, across just about any medium!

    %h3 Meet Our Awesome Sponsors
    
    %p These fantastic sponsors are helping us bring this great event to you.
        
    %ul.event-sponsors.grid
      
      %li
        %a(href="http://aycl.uie.com/?s=sb" rel="nofollow")
          = image_tag "events/sponsors/aycl-uie.png", alt: "All You Can Learn by UIE"
      
      %li
        %a(href="http://aycl.uie.com/?s=sb" rel="nofollow")
          = image_tag "events/sponsors/uie.png", alt: "UIE"
      
      %li
        %a(href="http://www.harrington.edu/" rel="nofollow")
          = image_tag "events/sponsors/harrington.png", alt: "Harrington College of Design"
      
      %li
        %a(href="https://simplecast.fm/" rel="nofollow")
          = image_tag "events/sponsors/simplecast.jpg", alt: "Simplecast"
      
      %li
        %a(href="http://www.stickermule.com/" rel="nofollow")
          = image_tag "events/sponsors/sticker-mule.png", alt: "Sticker Mule"
      
      %li
        %a(href="http://uxpin.com/" rel="nofollow")
          = image_tag "events/sponsors/ux-pin.png", alt: "UX Pin"
      
      %li
        %a(href="https://publishizer.com/1-prototype/" rel="nofollow")
          = image_tag "events/sponsors/1-dollar-prototype.jpg", alt: "1 Dollar Prototype"
      
      %li
        %a(href="http://rosenfeldmedia.com/" rel="nofollow")
          = image_tag "events/sponsors/rosenfeld-media.png", alt: "Rosenfeld Media"
      
      %li
        %a(href="https://www.facebook.com/O.P.TaylorBrewing" rel="nofollow")
          = image_tag "events/sponsors/op-taylor-brewing.png", alt: "Taylor Brewing"

    %h3 Lots of Great Reasons to Attend Prototype Camp Chicago

    %p For your $50, we try our best to get you an incredible value for your money! The fine folks at <a href="http://www.harrington.edu/" rel="nofollow">Harrington College of Design</a> are excellent hosts with a unique space that allows for multiple tracks of content and easy socializing.
      
    %p We&#8217;ve got so many great reasons to show up that we can&#8217;t think of a good reason to miss out! Get your tickets now before they&#8217;re gone!

%section#keynotes.main-content.main-bg-alt
  .container

    %h3.h-section Keynotes

    %p We are bringing together two of the brightest minds in the industry to share with you what they know about prototyping. You don&#8217;t want to miss out on these talks!

    .profile.profile-bump.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/jason-kunesh.jpg", alt: "Jason Kunesh"
      .media-body

        %h2
          Jason Kunesh
          .lineup.lineup-wrap
            .h-sm-caps-gray CEO, Public Good Software

        %iframe.podcast-player.event-podcast-player(seamless src="https://simplecast.fm/e/4558?style=light")

        %p Jason Kunesh is the CEO of <a href="https://publicgoodsoftware.com/" rel="nofollow">Public Good Software</a>, a social enterprise software startup in Chicago. Previously, he was Director of User Experience &amp; Product at Obama for America, a founder of Fuzzy Math, on the founding team of ThePoint (which grew up to be Groupon), an early designer at Orbitz, an adjunct faculty member at DePaul University and the School of the Art Institute of Chicago, and a bouncer at the Green Mill.

        %p He finds simple solutions for gnarly problems wherever people meet technology. Find him on the internet <a href="https://twitter.com/jdkunesh" rel="nofollow">@jdkunesh</a> or <a href="http://jdkunesh.com/" rel="nofollow">jdkunesh.com</a>, biking around Chicago, or eating something terrible yet tasty.

    .profile.media
      .profile-object.media-object= image_tag "events/speakers/russ-unger.jpg", alt: "Russ Unger"
      .media-body

        %h2
          Russ Unger
          .lineup.lineup-wrap
            .h-sm-caps-gray User Experience Designer &amp; Researcher, Author, &amp; Speaker
        
        %p Russ Unger is an Experience Design Director in Chicago where he leads teams and projects in design and research. He is co-author of the book &#8220;<a href="http://www.amazon.com/Project-Guide-Design-experience-designers/dp/0321607376/" rel="nofollow">A Project Guide to UX Design</a>,&#8221; &#8220;<a href="http://www.amazon.com/gp/product/0321886720/" rel="nofollow">Designing the Conversation</a>,&#8221; and the forthcoming Speaker Camp for Peachpit Press (Voices That Matter). Russ is also working on a book on guerrilla design and research methods that is due out well, sometime.
        
        %p Russ is also co-founder of Chicago Camps, which hosts low-cost, high-value technology events in the Chicago area, and he is also on the Advisory Board for the Department of Web Design and Development at Harrington College of Design. Russ has 2 daughters who both draw better than he does and are currently beginning to surpass his limited abilities in coding.

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section Schedule

    %table.event-schedule

      %tr
        %th
          %time(datetime="2014-09-13T08:30") 8:30
          &#8212;
          %time(datetime="2014-09-13T09:00") 9:00
        %td.event-schedule-offset(colspan="3") Registration &amp; Breakfast

      %tr
        %th
          %time(datetime="2014-09-13T09:00") 9:00
          &#8212;
          %time(datetime="2014-09-13T09:45") 9:45
        %td(colspan="3")
          %strong Jason Kunesh
          .event-schedule-offset Morning Keynote

      %tr
        %th
          %time(datetime="2014-09-13T09:45") 9:45
          &#8212;
          %time(datetime="2014-09-13T10:00") 10:00
        %td.event-schedule-offset(colspan="3") Morning Break

      %tr
        %th Room
        %td Blue <span class="event-schedule-offset">(Main)</span>
        %td Red
        %td Yellow
      
      %tr
        %th
          %time(datetime="2014-09-13T10:00") 10:00
          &#8212;
          %time(datetime="2014-09-13T10:45") 10:45
        %td
          %strong Will Hacker
          .event-schedule-offset Dodging Speed Bumps When You Take Your Prototype on the Road
        %td
          %strong Brittanie Crain
          .event-schedule-offset Team Work: Axure for Small Teams Axure is for wire-framing only! &#8212; NOT!
        %td
          %strong Ben Lister
          .event-schedule-offset Designing for Iteration: How we Build Prototypes at Sprout Social
      
      %tr
        %th
          %time(datetime="2014-09-13T10:45") 10:45
          &#8212;
          %time(datetime="2014-09-13T11:00") 11:00
        %td.event-schedule-offset(colspan="3") Break
      
      %tr
        %th
          %time(datetime="2014-09-13T11:00") 11:00
          &#8212;
          %time(datetime="2014-09-13T11:45") 11:45
        %td
          %strong Kamaria Campbell
          .event-schedule-offset Garbage In, Garbage Out: Optimizing Design Inputs for Successful Prototypes
        %td
          %strong Brett Schilke
          .event-schedule-offset 3D Printing to Save the World: Kids Prototype to Solve Global Problems
        %td
          %strong Ross Belmont
          .event-schedule-offset Prototyping Pitfalls
      
      %tr
        %th
          %time(datetime="2014-09-13T11:45") 11:45
          &#8212;
          %time(datetime="2014-09-13T13:15") 1:15
        %td.event-schedule-offset(colspan="3") Lunch
      
      %tr
        %th
          %time(datetime="2014-09-13T13:15") 1:15
          &#8212;
          %time(datetime="2014-09-13T14:00") 2:00
        %td
          %strong Jon Hadden
          .event-schedule-offset Communication with Flexible Documentation
        %td
          %strong Jonathan Ozeran
          .event-schedule-offset The Tail of a Wireless Dog Collar: Building a Hardware Product with a Globally Dispersed Team
        %td
          %strong Nicole Maynard
          .event-schedule-offset Prototype Testing: Working Smarter Not Harder
      
      %tr
        %th
          %time(datetime="2014-09-13T14:00") 2:00
          &#8212;
          %time(datetime="2014-09-13T14:15") 2:15
        %td.event-schedule-offset(colspan="3") Break
      
      %tr
        %th
          %time(datetime="2014-09-13T14:15") 2:15
          &#8212;
          %time(datetime="2014-09-13T15:00") 3:00
        %td
          %strong Brandon Satrom
          .event-schedule-offset Goodbye Specs, Hello Prototypes
        %td
          %strong Adam Tramposh
          .event-schedule-offset Prototyping Glassware
        %td
          %strong Marina Lim
          .event-schedule-offset Mixing Metaphors: Using a Variety of Research Methods to Solve a Problem
      
      %tr
        %th
          %time(datetime="2014-09-13T15:00") 3:00
          &#8212;
          %time(datetime="2014-09-13T15:30") 3:30
        %td.event-schedule-offset(colspan="3") Afternoon Snack
      
      %tr
        %th
          %time(datetime="2014-09-13T15:30") 3:30
          &#8212;
          %time(datetime="2014-09-13T16:15") 4:15
        %td(colspan="3")
          %strong Russ Unger
          .event-schedule-offset Afternoon Keynote

      %tr
        %th
          %time(datetime="2014-09-13T16:15") 4:15
          &#8212;
          %time(datetime="2014-09-13T16:30") 4:30
        %td.event-schedule-offset(colspan="3") Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section Speakers










= partial "partials/event-location-harrington"
