---
title: Prototype Camp
date: 2014-09-13 01:00 CDT
category: events
alias: prototype-camp
summary: Prototype Camp delivers a full day of bringing together people who are interested in putting a bit more &#8220;build and create&#8221; into their craft. Clearly-thought and nearly-there are great places to be!
---

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Prototype Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#keynotes" rel="nofollow") Keynotes
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 Prototype Camp delivers a full day of bringing together people who are interested in putting a bit more &#8220;build and create&#8221; into their craft.

    %p Sometimes getting your idea across is all it takes, but getting your idea across can be daunting. Come spend a Saturday with us and learn how some of the most talented folks on all of the internets are getting their ideas across in various design and development methods!
    
    %p We&#8217;ll have a variety of talks on a variety of topics&#8211;from research, design, development, and the totally random (we&#8217;ve had a presentation on cupcakes in the past!), you&#8217;ll learn from people who are building things quickly and iteratively, across just about any medium!

    %h3 Meet Our Awesome Sponsors
    
    %p These fantastic sponsors are helping us bring this great event to you.
        
    %ul.event-sponsors.grid
      %li
        %a(href="http://aycl.uie.com/?s=sb" rel="nofollow")
          = image_tag "events/sponsors/aycl-uie.png", alt: "All You Can Learn by UIE"
      %li
        %a(href="http://aycl.uie.com/?s=sb" rel="nofollow")
          = image_tag "events/sponsors/uie.png", alt: "UIE"
      %li
        %a(href="http://www.harrington.edu/" rel="nofollow")
          = image_tag "events/sponsors/harrington.png", alt: "Harrington College of Design"
      %li
        %a(href="https://simplecast.fm/" rel="nofollow")
          = image_tag "events/sponsors/simplecast.jpg", alt: "Simplecast"
      %li
        %a(href="http://www.stickermule.com/" rel="nofollow")
          = image_tag "events/sponsors/sticker-mule.png", alt: "Sticker Mule"
      %li
        %a(href="http://uxpin.com/" rel="nofollow")
          = image_tag "events/sponsors/ux-pin.png", alt: "UX Pin"
      %li
        %a(href="https://publishizer.com/1-prototype/" rel="nofollow")
          = image_tag "events/sponsors/1-dollar-prototype.jpg", alt: "1 Dollar Prototype"
      %li
        %a(href="http://rosenfeldmedia.com/" rel="nofollow")
          = image_tag "events/sponsors/rosenfeld-media.png", alt: "Rosenfeld Media"
      %li
        %a(href="https://www.facebook.com/O.P.TaylorBrewing" rel="nofollow")
          = image_tag "events/sponsors/op-taylor-brewing.png", alt: "Taylor Brewing"

    %h3 Lots of Great Reasons to Attend Prototype Camp Chicago

    %p For your $50, we try our best to get you an incredible value for your money! The fine folks at <a href="http://www.harrington.edu/" rel="nofollow">Harrington College of Design</a> are excellent hosts with a unique space that allows for multiple tracks of content and easy socializing.
      
    %p We&#8217;ve got so many great reasons to show up that we can&#8217;t think of a good reason to miss out! Get your tickets now before they&#8217;re gone!

%section#keynotes.main-content.main-bg-alt
  .container

    %h3.h-section Keynotes

    %p We are bringing together two of the brightest minds in the industry to share with you what they know about prototyping. You don&#8217;t want to miss out on these talks!

    .profile.profile-bump.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/jason-kunesh.jpg", alt: "Jason Kunesh"
      .media-body

        %h2
          Jason Kunesh
          .lineup.lineup-wrap
            .h-sm-caps-gray CEO, Public Good Software

        %iframe.podcast-player.event-podcast-player(seamless src="https://simplecast.fm/e/4558?style=light")

        %p Jason Kunesh is the CEO of <a href="https://publicgoodsoftware.com/" rel="nofollow">Public Good Software</a>, a social enterprise software startup in Chicago. Previously, he was Director of User Experience &amp; Product at Obama for America, a founder of Fuzzy Math, on the founding team of ThePoint (which grew up to be Groupon), an early designer at Orbitz, an adjunct faculty member at DePaul University and the School of the Art Institute of Chicago, and a bouncer at the Green Mill.

        %p He finds simple solutions for gnarly problems wherever people meet technology. Find him on the internet <a href="https://twitter.com/jdkunesh" rel="nofollow">@jdkunesh</a> or <a href="http://jdkunesh.com/" rel="nofollow">jdkunesh.com</a>, biking around Chicago, or eating something terrible yet tasty.

    .profile.media
      .profile-object.media-object= image_tag "events/speakers/russ-unger.jpg", alt: "Russ Unger"
      .media-body

        %h2
          Russ Unger
          .lineup.lineup-wrap
            .h-sm-caps-gray User Experience Designer &amp; Researcher, Author, &amp; Speaker
        
        %p Russ Unger is an Experience Design Director in Chicago where he leads teams and projects in design and research. He is co-author of the book &#8220;<a href="http://www.amazon.com/Project-Guide-Design-experience-designers/dp/0321607376/" rel="nofollow">A Project Guide to UX Design</a>,&#8221; &#8220;<a href="http://www.amazon.com/gp/product/0321886720/" rel="nofollow">Designing the Conversation</a>,&#8221; and the forthcoming Speaker Camp for Peachpit Press (Voices That Matter). Russ is also working on a book on guerrilla design and research methods that is due out well, sometime.
        
        %p Russ is also co-founder of Chicago Camps, which hosts low-cost, high-value technology events in the Chicago area, and he is also on the Advisory Board for the Department of Web Design and Development at Harrington College of Design. Russ has 2 daughters who both draw better than he does and are currently beginning to surpass his limited abilities in coding.

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section Schedule

    %table.event-schedule

      %tr
        %th
          %time(datetime="2014-09-13T08:30") 8:30
          &#8212;
          %time(datetime="2014-09-13T09:00") 9:00
        %td.event-schedule-offset(colspan="3") Registration &amp; Breakfast

      %tr
        %th
          %time(datetime="2014-09-13T09:00") 9:00
          &#8212;
          %time(datetime="2014-09-13T09:45") 9:45
        %td(colspan="3")
          %strong.event-schedule-room(data-room="Blue") Jason Kunesh
          .event-schedule-offset Morning Keynote

      %tr
        %th
          %time(datetime="2014-09-13T09:45") 9:45
          &#8212;
          %time(datetime="2014-09-13T10:00") 10:00
        %td.event-schedule-offset(colspan="3") Morning Break

      %tr
        %th Rooms
        %td
          %strong Blue
          %span.event-schedule-offset (Main)
        %td
          %strong Red
        %td
          %strong Yellow
      
      %tr
        %th
          %time(datetime="2014-09-13T10:00") 10:00
          &#8212;
          %time(datetime="2014-09-13T10:45") 10:45
        %td
          %strong.event-schedule-room(data-room="Blue") Will Hacker
          .event-schedule-offset Dodging Speed Bumps When You Take Your Prototype on the Road
        %td
          %strong.event-schedule-room(data-room="Red") Brittanie Crain
          .event-schedule-offset Team Work: Axure for Small Teams Axure is for wire-framing only! &#8212; NOT!
        %td
          %strong.event-schedule-room(data-room="Yellow") Ben Lister
          .event-schedule-offset Designing for Iteration: How we Build Prototypes at Sprout Social
      
      %tr
        %th
          %time(datetime="2014-09-13T10:45") 10:45
          &#8212;
          %time(datetime="2014-09-13T11:00") 11:00
        %td.event-schedule-offset(colspan="3") Break
      
      %tr
        %th
          %time(datetime="2014-09-13T11:00") 11:00
          &#8212;
          %time(datetime="2014-09-13T11:45") 11:45
        %td
          %strong.event-schedule-room(data-room="Blue") Kamaria Campbell
          .event-schedule-offset Garbage In, Garbage Out: Optimizing Design Inputs for Successful Prototypes
        %td
          %strong.event-schedule-room(data-room="Red") Brett Schilke
          .event-schedule-offset 3D Printing to Save the World: Kids Prototype to Solve Global Problems
        %td
          %strong.event-schedule-room(data-room="Yellow") Ross Belmont
          .event-schedule-offset Prototyping Pitfalls
      
      %tr
        %th
          %time(datetime="2014-09-13T11:45") 11:45
          &#8212;
          %time(datetime="2014-09-13T13:15") 1:15
        %td.event-schedule-offset(colspan="3") Lunch
      
      %tr
        %th
          %time(datetime="2014-09-13T13:15") 1:15
          &#8212;
          %time(datetime="2014-09-13T14:00") 2:00
        %td
          %strong.event-schedule-room(data-room="Blue") Jon Hadden
          .event-schedule-offset Communication with Flexible Documentation
        %td
          %strong.event-schedule-room(data-room="Red") Jonathan Ozeran
          .event-schedule-offset The Tail of a Wireless Dog Collar: Building a Hardware Product with a Globally Dispersed Team
        %td
          %strong.event-schedule-room(data-room="Yellow") Nicole Maynard
          .event-schedule-offset Prototype Testing: Working Smarter Not Harder
      
      %tr
        %th
          %time(datetime="2014-09-13T14:00") 2:00
          &#8212;
          %time(datetime="2014-09-13T14:15") 2:15
        %td.event-schedule-offset(colspan="3") Break
      
      %tr
        %th
          %time(datetime="2014-09-13T14:15") 2:15
          &#8212;
          %time(datetime="2014-09-13T15:00") 3:00
        %td
          %strong.event-schedule-room(data-room="Blue") Brandon Satrom
          .event-schedule-offset Goodbye Specs, Hello Prototypes
        %td
          %strong.event-schedule-room(data-room="Red") Adam Tramposh
          .event-schedule-offset Prototyping Glassware
        %td
          %strong.event-schedule-room(data-room="Yellow") Marina Lim
          .event-schedule-offset Mixing Metaphors: Using a Variety of Research Methods to Solve a Problem
      
      %tr
        %th
          %time(datetime="2014-09-13T15:00") 3:00
          &#8212;
          %time(datetime="2014-09-13T15:30") 3:30
        %td.event-schedule-offset(colspan="3") Afternoon Snack
      
      %tr
        %th
          %time(datetime="2014-09-13T15:30") 3:30
          &#8212;
          %time(datetime="2014-09-13T16:15") 4:15
        %td(colspan="3")
          %strong.event-schedule-room(data-room="Blue") Russ Unger
          .event-schedule-offset Afternoon Keynote

      %tr
        %th
          %time(datetime="2014-09-13T16:15") 4:15
          &#8212;
          %time(datetime="2014-09-13T16:30") 4:30
        %td.event-schedule-offset(colspan="3") Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section Speakers

    %h2 Blue Room

    .profile.profile-bump.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/will-hacker.jpg", alt: "Will Hacker"
      .media-body

        %h2
          Will Hacker
          .lineup.lineup-wrap
            .h-sm-caps-gray Lead Interaction Designer, GE Capital

        %iframe.podcast-player.event-podcast-player(seamless src="https://simplecast.fm/e/3632?style=light")

        %p Will Hacker is a senior UX professional and the author of Mobile Prototyping With Axure 7. He spent two and a half years working exclusively on mobile design, prototyping, and usability testing at Cars.com. He also has written about mobile experience design and prototyping for Boxes and Arrows, Smashing Magazine, and UX Booth, and is a frequent speaker at design events in Chicago. Will is a Lead Interaction Designer at GE Capital, where he works on multi-device designs for commercial lending software.

        %p Follow Will on Twitter at <a href="https://twitter.com/willhacker" rel="nofollow">@willhacker</a> or visit his website at <a href="http://willhacker.net" rel="nofollow">willhacker.net</a>.

        %h3 Dodging Speed Bumps When You Take Your Prototype on the Road

        %p Once that prototype leaves the safe confines of your office it could encounter slow network connections, devices that won&#8217;t behave as expected, and corporate firewalls that are ready to shut you down. So you&#8217;ll have to be prepared to improvise on the fly, but will be ready with the real world examples covered in this look at prototyping for the road. Strap yourself in, it&#8217;s going to be a fun and enlightening ride.

        %p Because after you&#8217;ve created that perfect prototype, covered all the anticipated use cases, fixed all the bugs so that it works as it&#8217;s expected to, and considered all of the web browsers and mobile devices you have to deal with&#8211;you&#8217;re still not done! We&#8217;ll uncover why and how to better prepare yourself for the real world just outside your door.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/kamaria-campbell.jpg", alt: "Kamaria Campbell"
      .media-body

        %h2
          Kamaria Campbell
          .lineup.lineup-wrap
            .h-sm-caps-gray Information Architect, IBM

        %iframe.podcast-player.event-podcast-player(seamless src="https://simplecast.fm/e/4311?style=light")

        %p Kamaria is a Chicago-based User Experience Professional, currently working at IBM as an Information Architect. Kamaria began her career in UX as a Usability Analyst for 3 years and made the shift to Information Architecture and Design in 2013. For the past year, she has worked on projects requiring prototyping websites, mobile phone, and tablet applications using tools like Balsamiq and Axure. While the design varies each time, Kamaria has found that the steps leading up to prototyping are often similar. 

        %p Follow Kamaria on Twitter at <a href="https://twitter.com/kaccampbell" rel="nofollow">@kaccampbell</a>.

        %h3 Garbage In, Garbage Out: Optimizing Design Inputs for Successful Prototypes

        %p We&#8217;ve all heard the phrase &#8220;Garbage in, Garbage out&#8221;. The quality of a product or service is often linked to the quality of the underlying components. When it comes to prototypes, the truth is that much of the important work happens before we ever create a prototype artifact. This may include brainstorm sessions, creating requirements documents, analyzing an existing system, etc. More often than not, the effectiveness of the prototype is linked to how effectively these different aspects are managed in the pre-design process. Whether you are a designer, business representative, project manager or developer, this session will provide you with effective techniques for managing design inputs to create better prototypes.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/jon-hadden.jpg", alt: "Jon Hadden"
      .media-body

        %h2
          Jon Hadden
          .lineup.lineup-wrap
            .h-sm-caps-gray Founder &amp; Design Director, NiceUX

        %iframe.podcast-player.event-podcast-player(seamless src="https://simplecast.fm/e/3623?style=light")

        %p Jon Hadden is the founder of NiceUX, a user experience design and development consultancy in Minneapolis, Minnesota. In his 12 years of designing, coding, speaking, and writing, Jon has produced usable products and services for millions across the globe. He&#8217;s a volunteer with Boxes and Arrows, guest speaker with the University of Minnesota Design program, and has been lucky enough to have worked with Happy Cog, Yahoo!, and space150.
        
        %h3 Communication with Flexible Documentation

        %p The fundamental process we follow of how we understand design problems, users, and content hasn&#8217;t changed much, but the documentation we deliver is a bit in flux. We&#8217;re experts in the field of solving problems with design in a digital world. However, device fragmentation forces us to think through flexible experiences with portable content and in turn, to rethink how we communicate to our clients throughout the process. 

        %p In this session, you will learn proven documentation, or better yet communication techniques using simple HTML and PHP to get us to a living breathing prototype, earlier in the process. All the while helping us as communicate flexible design decisions to both clients and team members.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/brandon-satrom.jpg", alt: "Brandon Satrom"
      .media-body

        %h2
          Brandon Satrom
          .lineup.lineup-wrap
            .h-sm-caps-gray Director of Product Management, Telerik

        %iframe.podcast-player.event-podcast-player(seamless src="https://simplecast.fm/e/4054?style=light")

        %p Brandon Satrom is the Director of Product Management for <a href="http://www.telerik.com/" rel="nofollow">Telerik</a>, the world&#8217;s greatest developer tools company. An unabashed lover of the open web, Brandon loves to talk about HTML, JavaScript, CSS, open source and whatever new shiny tool or technology has distracted him from that other thing he was working on. Brandon has spoken at national, international and online events, and he loves hanging out with and learning from passionate designers and developers. He is the author of two books, the latest being &#8220;Building Polyfills&#8221; from O&#8217;Reilly. Brandon lives in Austin, TX with his wife, Sarah, and three sons, Benjamin, Jack and Matthew.

        %p Follow Brandon on Twitter as <a href="https://twitter.com/BrandonSatrom" rel="nofollow">@BrandonSatrom</a>.

        %h3 Goodbye Specs, Hello Prototypes

        %p As a developer, architect and now Product Manager, I&#8217;ve spent most of my career trying to turn software ideas into reality. For many years, I worked on teams that adhered to the Way of the Functional Spec, an ancient practice whereby a product leader spends countless hours producing a document that uses text to describe the future state of software, only to see that document become useless by the time the first line of code is written.

        %p Over the years, I&#8217;ve experimented with all of the agile and Product Management techniques designed to help drive down uncertainty in software and foster clear, high-fidelity collaboration between product leaders, designers and engineers. Some have been useful, others not.

        %p About two years ago, a few product teams at my current company began toying with the idea of replacing our existing spec work with prototyping. Instead of working with text-based docs, a PM would work with an Interaction Design to create an interactive piece of software that conveys the vision for a product or feature.

        %p This was one of the best decisions we ever made. High-fidelity prototyping is now a critical component of our product workflow, and we&#8217;ve become addicted to using these assets for collaborating with customers and internal teams alike.

        %p In this session, I&#8217;ll will share how one software company abandoned functional specs and PRDs for the green pastures of prototyping. Using a case study format, I&#8217;ll share challenges we overcame, victories we experienced and tips for embedding a full-on Prototyping workflow in any software organization.

    %h2 Red Room

    .profile.profile-bump.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/brittanie-crain.jpg", alt: "Brittanie Crain"
      .media-body

        %h2
          Brittanie Crain
          .lineup.lineup-wrap
            .h-sm-caps-gray Interaction Designer, Manifest Digital

        %iframe.podcast-player.event-podcast-player(seamless src="https://simplecast.fm/e/4396?style=light")

        %p Brittanie is an Axure-pro and part of the User Experience team at <a href="http://www.manifestdigital.com/" rel="nofolow">Manifest Digital</a>. She has predominantly worked with small inter-disciplinary teams on rapid projects for companies such as AT&amp;T, Bloomberg, and the San Francisco Giants. She is obsessed with solving process road bumps due to her experience navigating the chaos of fast-paced and small staffed projects.

        %p Follow Brittanie on Twitter at <a href="https://twitter.com/brittanielynn" rel="nofollow">@brittanielynn</a>.

        %h3 Team Work: Axure for Small Teams Axure is for Wireframing Only!&#8212;NOT!

        %p We all know Axure is great for wire-framing and prototyping but it can also be the foundation for successful team work. Axure is a pretty robust tool that can benefit all members of your team by improving communication, documentation, and the final product without the cost of time that is so critical for small teams. In this presentation you will learn how Axure can be leveraged for your project partners in Business, Marketing &amp; Content, Visual Design, and Development &amp; Planning.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/brett-schilke.jpg", alt: "Brett Schilke"
      .media-body

        %h2
          Brett Schilke
          .lineup.lineup-wrap
            .h-sm-caps-gray Chief Instigator, IDEAco

        %iframe.podcast-player.event-podcast-player(seamless src="https://simplecast.fm/e/4113?style=light")

        %p Brett Schilke is an education designer, storyteller, and self-proclaimed man-of-making-things-happen. His work as an educator, researcher, and community organizer has taken him to eight countries across three continents, including a decade in US-Russian citizen diplomacy and educational development and three years leading community impact initiatives for a private university in Siberia. Brett is now the co-founder and &#8220;Chief Instigator&#8221; of IDEAco, a Chicago-based nonprofit working to empower communities of Changemakers around the world.

        %p Follow Brett on Twitter as <a href="https://twitter.com/brettschilke" rel="nofollow">@brettschilke</a> or learn more on <a href="http://www.brettschilke.com/" rel="nofollow">brettschilke.com</a>.

        %h3 3D Printing to Save the World: Kids Prototype to Solve Global Problems

        %p The City X Project is an international edtech curriculum that uses 3D printing and the design process to turn kids into Changemakers tackling world problems. It is the largest program of IDEAco, a Chicago-based nonprofit building learning experiences that fuse design thinking and technology around the world.

        %p Accessed by more than 500 teachers across 50+ countries since its release in April 2014, the City X Project is a globally-tested open education resource that was developed through 15 months of rapid-fire prototyping and testing&#8211;all said, 17 iterations in five countries across three continents and four languages. Not only was the City X Project itself prototyped, but kids in the workshop also learn about the value of failing, iterating, and prototype their ideas as they use the design process to create hypothetical inventions that can tackle challenges we face as a society.

        %p I will share our experience prototyping the workshop around the world (from the mountains of Lebanon to the tundra of remote Alaska), tell the story of a special kid whose City X prototyping will soon be literally &#8220;out of this world&#8221;, and share some of the best kid-designed prototypes that might just one day change our future.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/jonathan-ozeran.jpg", alt: "Jonathan Ozeran"
      .media-body

        %h2
          Jonathan Ozeran
          .lineup.lineup-wrap
            .h-sm-caps-gray VP Product, Zest Health

        %iframe.podcast-player.event-podcast-player(seamless src="https://simplecast.fm/e/4320?style=light")

        %p Jonathan is a product designer, software engineer, team builder and startup evangelist who enjoys contributing to the growth of the Chicago and Detroit startup communities.

        %p In his current role, Jonathan serves as VP, Product at Zest Health, a Chicago-based start-up that is reinventing the healthcare experience for its members via mHealth innovation. Backed by Lightbank and 7wire Ventures, Zest&#8217;s dual focus on healthcare innovation and consumerism is deeply engrained in the company&#8217;s DNA. Additionally, he is an Adjunct Lecturer at Northwestern University where he teaches mobile application design and prototyping and also serves as Technical Director and Co-Founder at W&Uuml;F (formerly Ridogulous Labs).

        %p Follow Jonathan on Twitter as <a href="https://twitter.com/jozeran" rel="nofollow">@jozeran</a>.

        %h3 The Tail of a Wireless Dog Collar: Building a Hardware Product with a Globally Dispersed Team

        %p This is the tale of a globally distributed team of individuals who came together to build a product for their dogs in 2013 without ever having been in the same room together. Month by month, the team started to grow and now includes individuals from the U.S., Canada, France, Germany, Venezuela and Pakistan, all working to bring the product to life and into the marketplace of wearable dog collars.

        %p A few of the experiences to be shared with the audience will include how team member initiatives and responsibilities have been divvied up, approaches to making routine team communication work and insights into assembling iterative hardware and mobile software prototypes. Additionally, we&#8217;ll share some of our progress that was presented recently at the Boomtown Accelerator&#8217;s Demo Day in Boulder, Colorado.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/adam-tramposh.jpg", alt: "Adam Tramposh"
      .media-body

        %h2
          Adam Tramposh
          .lineup.lineup-wrap
            .h-sm-caps-gray Sr. User Experience Manager, Manifest Digital

        %iframe.podcast-player.event-podcast-player(seamless src="https://simplecast.fm/e/4395?style=light")

        %p Adam Tramposh is an Interaction Designer at <a href="http://www.manifestdigital.com/" rel="nofolow">Manifest Digital</a> specializing in mobile product innovation, design and consulting. He is an advocate for visual communication, a self-described &#8220;Fandroid&#8221; and Google product enthusiast.

        %p Follow Adam on Twitter as <a href="https://twitter.com/formal_gs" rel="nofollow">@formal_gs</a>.

        %h3 Prototyping Glassware

        %p Google Glass is still very much a prototype&#8211;adoption hasn&#8217;t quite hit critical mass, attrition is high, and public reception is lukewarm at best. Still, there&#8217;s a unique value proposition in the head-mounted form factor. In this talk, I&#8217;ll relate insights from the bizarre social experiment that is Glass &#8220;Exploration,&#8221; and my efforts to design a Glassware application. Glassware design principles, structure, &amp; UI patterns will be addressed. Resources, pattern libraries and case studies will also be shared.

    %h2 Yellow Room

    .profile.profile-bump.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/ben-lister.jpg", alt: "Ben Lister"
      .media-body

        %h2
          Ben Lister
          .lineup.lineup-wrap
            .h-sm-caps-gray Product Designer, Front-End Developer, Sprout Social

        %iframe.podcast-player.event-podcast-player(seamless src="https://simplecast.fm/e/4078?style=light")

        %p Ben Lister is part Designer, part Developer and all about User Experience. He built his first website at age 13 (yes, on GeoCities) and hasn&#8217;t looked back since. Ben works at Sprout Social on the design and front-end teams prototyping and building products used by thousands of brands and agencies daily. Ben is also an avid White Sox, Sports Car, Running and Craft Beer enthusiast who lives in Chicago with his wife Erin and a rambunctious three year old Whippet named Devo.

        %h3 Designing for Iteration: How we Build Prototypes at Sprout Social

        %p Four years ago I left the world of design agencies behind and joined an early stage, fast growing Startup as the first UX Designer. For me, the shift in paradigm from client to product work has been equal parts humbling and enlightening. As our product has evolved and the team has grown, the ability to iterate quickly has been at the heart of our success. From scrappy, low fidelity animated gifs to production ready features, I will explore the world of prototyping at <a href="http://sproutsocial.com/" rel="nofollow">Sprout Social</a>.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/ross-belmont.jpg", alt: "Ross Belmont"
      .media-body

        %h2
          Ross Belmont
          .lineup.lineup-wrap
            .h-sm-caps-gray Chief Experience Designer, Appiphony
        
        %iframe.podcast-player.event-podcast-player(seamless src="https://simplecast.fm/e/4307?style=light")

        %p Ross Belmont gave up a life of code to build the design practice at <a href="http://appiphony.com/" rel="nofollow">Appiphony</a>, a Chicago-based consultancy focused on <a href="https://www.salesforce.com/" rel="nofollow">Salesforce.com</a> apps.

        %p Follow Ross on Twitter at <a href="https://twitter.com/rossbelmont" rel="nofollow">@rossbelmont</a> or visit his website at <a href="http://http://rossbelmont.com/" rel="nofollow">rossbelmont.com</a>.

        %h3 Prototyping Pitfalls

        %p In this session, you&#8217;ll learn what goes wrong when you swap out wireframes and comps for prototypes. Prototypes bring benefits to designers, but introducing them into your process affects everyone else on the team.

        %p Hear our stories of what it&#8217;s been like to trade Photoshop for a text editor, the problems we had in doing so, and how we addressed them.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/nicole-maynard.jpg", alt: "Nicole Maynard"
      .media-body

        %h2
          Nicole Maynard
          .lineup.lineup-wrap
            .h-sm-caps-gray Interaction Design Lead, GE Capital

        %iframe.podcast-player.event-podcast-player(seamless src="https://simplecast.fm/e/4379?style=light")

        %p Nicole Maynard is a Lead Interaction Designer at GE Capital creating solutions that improve the way commercial lending teams work and use data to manage their growth. She got her start in graphic, information and interaction design and had been performing user research well before realizing it was an actual thing. Her work has been published nationally and has won various design awards.

        %p Nicole has recently taken the helm as the president of the <a href="http://www.meetup.com/UXPAChicago/" rel="nofollow">Chicago chapter of UXPA</a> (User Experience Professionals Association) and is a purveyor of health and nutrition. She has a possibly unhealthy love of birds, but don&#8217;t ever tell her that.

        %p Follow Nicole on Twitter as <a href="https://twitter.com/punkynixter" rel="nofollow">@punkynixter</a>.

        %h3 Prototype Testing: Working Smarter Not Harder

        %p Usability testing can be very demanding. &#8220;Ain&#8217;t nobody got time for that!&#8221; Especially in the fast paced development world we work in. We need to adapt our methods to learn how users respond to our prototypes without the design or team taking a hit.

        %p Lessons from the field have taught me that testing prototypes requires us to take a fresh look at usability testing. Learn how to remain flexible while testing your prototype to ensure you get the most out of your time and the team by pruning your process, being ready to change on the fly and prepping reports without losing sleep.

        %p Before you know it, your project team will be hooked and asking you to schedule more tests.

    .profile.media
      .profile-object.media-object= image_tag "events/speakers/marina-lin.jpg", alt: "Marina Lin"
      .media-body

        %h2
          Marina Lin
          .lineup.lineup-wrap
            .h-sm-caps-gray User Experience Architect, Cars.com

        %iframe.podcast-player.event-podcast-player(seamless src="https://simplecast.fm/e/4017?style=light")

        %p Marina Lin is a Senior Interaction Designer for Mobile Apps at <a href="http://www.cars.com/" rel="nofollow">Cars.com</a> where she uses Axure for prototyping Android and iOS apps. She holds a Master&#8217;s in Information Architecture from the Illinois Institute of Technology. She has recently contributed a chapter to the textbook &#8220;Negotiating Cultural Encounters: Narrating Intercultural Engineering and Technical Communication.&#8221; Her work has also appeared in Boxes and Arrows, Smashing Magazine, User Experience Magazine, and Business Communication Quarterly.

        %h3 Mixing Metaphors: Using a Variety of Research Methods to Solve a Problem

        %p From contextual inquiry, to un-moderated remote usability testing, to in-lab participatory design sessions you have many methodologies and stages of prototypes at your disposal. Learn how to use prototyping effectively to aid research and to form a comprehensive research strategy for your projects.

        %p Just like the evolution of a design, your research strategy needs to evolve as you move from concept to end-result. This talk explores a case study showing where the research strategy involved multiple techniques and stages of prototyping new features for Android and iPhone apps.

= partial "partials/event-location-harrington"
