---
title: Mobile Camp
date: 2014-05-03 01:00 CDT
category: events
alias: mobile-camp
header_image_photographer: Scott Cresswell
header_image_url: https://flic.kr/p/iVvY69
summary: Mobile Camp gets you up to speed on the mobile issues you need to know! Spend a Saturday with us and then spend your Monday applying what you&#8217;ve learned!
---

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Mobile Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#keynotes" rel="nofollow") Keynotes
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 Mobile Camp gets you up to speed on the mobile issues you need to know! Spend a Saturday with us and then spend your Monday applying what you&#8217;ve learned!

    %p Mobile Camp dedicates a full day to bring together Designers, Developers, and anyone else who is interested in leveling-up their mobile skills.

    %p It&#8217;s more than smaller screens. Come learn with us!

    %h3 Meet Our Awesome Sponsors
    
    %p These fantastic sponsors are helping us bring this great event to you.

    %ul.event-sponsors.grid
      %li
        %a(href="http://funsize.co/" rel="nofollow")
          = image_tag "events/sponsors/funsize.png", alt: "Funsize"
      %li
        %a(href="http://www.harrington.edu/" rel="nofollow")
          = image_tag "events/sponsors/harrington.png", alt: "Harrington College of Design"
      %li
        %a(href="https://www.facebook.com/Jawhole/" rel="nofollow")
          = image_tag "events/sponsors/jawhole.jpg", alt: "Jawhole"
      %li
        %a(href="http://www.optimalworkshop.com/" rel="nofollow")
          = image_tag "events/sponsors/optimal-workshop.png", alt: "Optimal Workshop"
      %li
        %a(href="http://www.oreilly.com/" rel="nofollow")
          = image_tag "events/sponsors/oreilly.png", alt: "O'Reilly Media"
      %li
        %a(href="https://rosenfeldmedia.com/" rel="nofollow")
          = image_tag "events/sponsors/rosenfeld-media.png", alt: "Resenfeld Media"
      %li
        %a(href="http://www.uie.com/" rel="nofollow")
          = image_tag "events/sponsors/uie.png", alt: "User Interface Engineering"
      %li
        %a(href="http://uxpin.com/" rel="nofollow")
          = image_tag "events/sponsors/uxpin.png", alt: "UXPin"

    %h3 Lots of Great Reasons to Attend Mobile Camp

    %p For your $50, we try our best to get you an incredible value for your money! The fine folks at <a href="http://www.harrington.edu/" rel="nofollow">Harrington College of Design</a> are excellent hosts with a unique space that allows for multiple tracks of content and easy socializing.

%section#keynotes.main-content.main-bg-alt
  .container

    %h3.h-section Keynotes

    %p We are bringing together two of the brightest minds in the industry to share with you what they know about mobile design and development. You don&#8217;t want to miss out on these talks!

    .profile.profile-bump.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/carolyn-chandler.jpg", alt: "Carolyn Chandler"
      .media-body

        %h2
          Carolyn Chandler
          .lineup.lineup-wrap
            .h-sm-caps-gray Co-founder &amp; Chief Instructor, <a href="http://school.admci.org/" rel="nofollow">School for Digital Craftsmanship</a>

        %p Carolyn Chandler is co-founder and chief instructor at the School for Digital Craftsmanship, and UX Design instructor at The Starter League. She has been an architect and manager in the field of User Experience Design for over 15 years. Her first book, A Project Guide to User Experience Design is in its second edition. She has just released Adventures in Experience Design, a playful introduction to the design process for beginners.

        %p Follow Carolyn on Twitter as <a href="https://twitter.com/chanan" rel="nofollow">@chanan</a> or learn more on <a href="http://www.dhalo.com/" rel="nofollow">dhalo.com</a>.

        %h3 On Reaction: The Power of Transitions Keynote

        %p Mobile interfaces have become a playground for new and unusual transitions. When you add a &#8220;to do&#8221; item in Clear, or move from category to story detail in Facebook Paper, you experience a new standard in interface response using animation and sound.

        %p Mobile developers and designers have a multitude of opportunities to inform and delight in those spaces in between major actions. When done well, unique transitions can add playfulness, meaning, and interest to your mobile solutions. When done badly, they can frustrate users with long wait times, or obscure the relationships between elements of your product.

        %p In this session we&#8217;ll explore the power of transitions in the mobile space, and discuss:

        %ul
          %li Why is it important to consider transitions?
          %li What types of situations warrant a unique transition?
          %li Where can you find inspiration?
          %li How do you know when you&#8217;ve gone overboard?

    .profile.media
      .profile-object.media-object= image_tag "events/speakers/anthony-armendariz.jpg", alt: "Anthony Armendariz"
      .media-body

        %h2
          Anthony Armendariz
          .lineup.lineup-wrap
            .h-sm-caps-gray Partner &amp; Experience Director, <a href="http://funsize.co/" rel="nofollow">Funsize</a>
        
        %p Anthony is a Partner and Experience Director at <a href="http://funsize.co/" rel="nofollow">Funsize</a>, a mobile product design agency in Austin, TX that crafts native mobile applications and web applications for some of the largest (and smallest) product companies, where he leads product strategy, and helps internal teams and client partners think outside of the box to create innovative and delightful user experiences.

        %p Anthony has devoted the last 15 years to the mastery of interaction and visual design for mobile applications, web-based software, websites and beyond. His work has been featured in ID Magazine, Net Magazine, How Magazine, TechCrunch.com, TheNextWeb.com, Gizmodo.com, and the &#8220;Mobile Design Pattern Gallery&#8221; book.

        %p Previously, Anthony was a Product Designer at Evernote&#8217;s Austin office, where he designed applications for every ecosystem, for millions of users worldwide. Before relocating to Austin from Brooklyn, he was the Cofounder of 39Argyle, and a Creative Director at Behavior Design.

        %p Follow Anthony on Twitter as <a href="https://twitter.com/funsize" rel="nofollow">@funsize</a> or at <a href="http://funsize.co/" rel="nofollow">funsize.co</a>.

        %h3 Adapting to Change Keynote


        %p As designers, we constantly manage the chaos of mastering a craft, being diverse, all the while trying to differentiate ourselves and adapting our processes and deliverables in an industry that changes at lightening speeds.

        %p As if the web wasn&#8217;t difficult enough, the advent of mobile product design and service design has created an entirely new industry and career paths, completely disrupting everything we knew about engagements, processes, deliverables, and expectations of design teams and agencies.

        %p Face it, the industry is constantly changing and so should we. Let&#8217;s learn to embrace change and use it to intentionally position ourselves for constant reinvention and how to fashion the skills and environments necessary for creating meaningful products in the modern age and beyond.

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section Schedule

    %p A full day of smart people and great topics, book-ended by two of the smartest people in the industry that you will ever meet. Do not delay – register for Mobile Camp today!

    %table.event-schedule

      %tr
        %th
          %time(datetime="2014-05-03T08:30") 8:30
          &#8212;
          %time(datetime="2014-05-03T09:00") 9:00
        %td.event-schedule-offset(colspan="3") Registration &amp; Waking Up

      %tr
        %th
          %time(datetime="2014-05-03T09:00") 9:00
          &#8212;
          %time(datetime="2014-05-03T09:45") 9:45
        %td(colspan="3")
          %strong.event-schedule-room(data-room="Blue") Carolyn Chandler
          .event-schedule-offset On Reaction: The Power of Transitions Keynote

      %tr
        %th
          %time(datetime="2014-05-03T09:45") 9:45
          &#8212;
          %time(datetime="2014-05-03T10:00") 10:00
        %td.event-schedule-offset(colspan="3") Morning Break

      %tr
        %th Rooms
        %td
          %strong Blue
          %span.event-schedule-offset (Main)
        %td
          %strong Red
        %td
          %strong Yellow

      %tr
        %th
          %time(datetime="2014-05-03T10:00") 10:00
          &#8212;
          %time(datetime="2014-05-03T10:45") 10:45
        %td
          %strong.event-schedule-room(data-room="Blue") Arthur Kay
          .event-schedule-offset Sencha: Building Mobile Apps with HTML5
        %td
          %strong.event-schedule-room(data-room="Red") Matt Doty
          .event-schedule-offset Mobile/Desktop/Tablet First: Getting the Most from All Form Factors
        %td
          %strong.event-schedule-room(data-room="Yellow") Sean Johnson
          .event-schedule-offset How to Get Traction on Mobile

      %tr
        %th
          %time(datetime="2014-05-03T10:45") 10:45
          &#8212;
          %time(datetime="2014-05-03T11:00") 11:00
        %td.event-schedule-offset(colspan="3") Break

      %tr
        %th
          %time(datetime="2014-05-03T11:00") 11:00
          &#8212;
          %time(datetime="2014-05-03T11:45") 11:45
        %td
          %strong.event-schedule-room(data-room="Blue") Will Hacker
          .event-schedule-offset Manage This! Account and Profile Management on the Small Screen
        %td
          %strong.event-schedule-room(data-room="Red") Gail Swanson
          .event-schedule-offset 10lbs of Features in a 5lb App: Tips on Creating Simple Yet Robust Experiences for Mobile Devices
        %td
          %strong.event-schedule-room(data-room="Yellow") Adam McCrimmon
          .event-schedule-offset Device-ism: Overcoming the Small Screen &#8220;Problem&#8221;

      %tr
        %th
          %time(datetime="2014-05-03T11:45") 11:45
          &#8212;
          %time(datetime="2014-05-03T13:15") 1:15
        %td.event-schedule-offset(colspan="3") Lunch

      %tr
        %th
          %time(datetime="2014-05-03T13:15") 1:15
          &#8212;
          %time(datetime="2014-05-03T14:00") 2:00
        %td
          %strong.event-schedule-room(data-room="Blue") Adam Tramposh
          .event-schedule-offset Design for Android
        %td
          %strong.event-schedule-room(data-room="Red") Tom Greever
          .event-schedule-offset Easy Mobile Testing: Usability Checks Without Money, Time, or Even an App
        %td
          %strong.event-schedule-room(data-room="Yellow") Dennis Kardys
          .event-schedule-offset Navigating the Mobile Web

      %tr
        %th
          %time(datetime="2014-05-03T14:00") 2:00
          &#8212;
          %time(datetime="2014-05-03T14:15") 2:15
        %td.event-schedule-offset(colspan="3") Break

      %tr
        %th
          %time(datetime="2014-05-03T14:15") 2:15
          &#8212;
          %time(datetime="2014-05-03T15:00") 3:00
        %td
          %strong.event-schedule-room(data-room="Blue") Philip Likens
          .event-schedule-offset Experiencing the Mobile Mainframe
        %td
          %strong.event-schedule-room(data-room="Red") Mike Gibson
          .event-schedule-offset Mobile First Responsive Design?
        %td
          %strong.event-schedule-room(data-room="Yellow") Andy Hullinger
          .event-schedule-offset From Web to Widgets: How to Create and Code for iBooks Using Simple HTML,CSS, &amp; Javascript

      %tr
        %th
          %time(datetime="2014-05-03T15:00") 3:00
          &#8212;
          %time(datetime="2014-05-03T15:30") 3:30
        %td.event-schedule-offset(colspan="3") Break

      %tr
        %th
          %time(datetime="2014-05-03T15:30") 3:30
          &#8212;
          %time(datetime="2014-05-03T16:15") 4:15
        %td(colspan="3")
          %strong.event-schedule-room(data-room="Blue") Anthony Armendariz
          .event-schedule-offset Adapting to Change Keynote

      %tr
        %th
          %time(datetime="2014-05-03T16:15") 4:15
          &#8212;
          %time(datetime="2014-05-03T16:30") 4:30
        %td.event-schedule-offset(colspan="3") Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section Speakers

    %h2 Blue Room

    .profile.profile-bump.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/arthur-kay.jpg", alt: "Arthur Kay"
      .media-body

        %h2
          Arthur Kay
          .lineup.lineup-wrap
            .h-sm-caps-gray Solutions Architect, Sencha

        %p Arthur Kay has been working with the Web since the late 1990s, when GeoCities and scrolling marquees were all the rage.

        %p Since those early days, Arthur graduated from Loyola University Chicago (where he studied Music and Computer Science) and has worked in a variety of professional roles throughout the Internet industry.

        %p Arthur currently lives in the Chicago suburbs and works as a Solutions Architect for <a href="http://www.sencha.com/">Sencha, Inc.</a>

        %p Follow Arthur on Twitter as <a href="https://twitter.com/arthurakay" rel="nofollow">@arthurakay</a> or through his blog at <a href="http://www.akawebdesign.com/stuff/" rel="nofollow">AKA Web Design</a>.

        %h3 Sencha: Building Mobile Apps with HTML5

        %p HTML5 and web technologies have transformed the browser into a first-class application platform. Sencha gives developers the best combination of technology, tools, and support for developing powerful desktop and mobile apps based on HTML5.

        %p In this session, we will introduce Sencha Touch and Sencha Architect and explain how they rapidly create mobile web applications using pure HTML5, CSS3 and JavaScript.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/will-hacker.jpg", alt: "Will Hacker"
      .media-body

        %h2
          Will Hacker
          .lineup.lineup-wrap
            .h-sm-caps-gray Lead Interaction Designer, GE Capital
        
        %p Will Hacker is a senior UX professional and the author of Mobile Prototyping With Axure 7. He spent two and a half years working exclusively on mobile design, prototyping, and usability testing at Cars.com. He also has written about mobile experience design for Boxes and Arrows, Smashing Magazine, and UX Booth, and is a frequent speaker at design events in Chicago. Will is a Lead Interaction Designer at GE Capital, where he works on multi-device designs for commercial lending software.

        %p Follow Will on <a href="https://twitter.com/willhacker" rel="nofollow">Twitter</a> or visit his <a href="http://willhacker.net" rel="nofollow">website</a>.

        %h3 Manage this! Account &amp; Profile Management on the Small Screen

        %p So you&#8217;ve built a great app, included awesome features, and have personalization in place to make it a rich and robust experience for every user. But have you considered when those folks are using handheld devices, with small screens, with less-than-optimal text input interfaces? Suddenly your well-crafted account and profile are about to get painful. But it doesn&#8217;t have to be this way. This talk looks at how we can create mobile account and profile experiences that get the information we need to deliver value from our apps even in a small-screen context without burdening users to the point they just give up and go somewhere else.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/adam-tramposh.jpg", alt: "Adam Tramposh"
      .media-body

        %h2
          Adam Tramposh
          .lineup.lineup-wrap
            .h-sm-caps-gray User Experience Designer, Manifest Digital

        %p Adam Tramposh is a User Experience guy at <a href="http://manifestdigital.com/">Manifest Digital</a> specializing in mobile product innovation, design and consulting. He is a strong proponent for thoughtfully crafted messages, a self-described &#8220;Fandroid&#8221; and Google product enthusiast.

        %h3 Designing for Android

        %p Android&#8217;s breakneck pace of evolution has been the platform&#8217;s greatest boon, but somewhat of a curse for software designers and developers. How does one cope with such an oft-iterated upon operating system? Designing for Android will examine the state of the Android ecosystem&#8211;who are it&#8217;s users, what are the devices they&#8217;re using, where is the market headed&#8211;to inform your Android app&#8217;s design. We&#8217;ll address Android design principles, structure, &#8220;Holo&#8221; UI patterns, and designing for variable viewport sizes and form factors. Resources, axure libraries and case studies will also be shared.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/philip-likens.jpg", alt: "Philip Likens"
      .media-body

        %h2
          Philip Likens
          .lineup.lineup-wrap
            .h-sm-caps-gray Principal UX Designer, Sabre Labs

        %p Philip Likens is the Principal UX Designer for Sabre Labs, a travel-focused emerging technology incubator. He is the creator of iHeartColor for iPhone and runs Crosstrain Camps: Events for Coders and Creatives in Dallas, Texas. Philip believes design, innovation, and entrepreneurship can produce human flourishing.

        %p Follow Philip on Twitter at <a href="https://twitter.com/philiplikens" rel="nofollow">@philiplikens</a> or visit his company at <a href="http://deptof.com/" rel="nofollow">deptof.com</a>.

        %h3 Experiencing the Mobile Mainframe

        %p Google Glass, Samsung Gear, MetaWatch, Fitbit Flex, and a whole host of other devices are weaving a connectivity web with a similar underlying pattern: the smartphone is emerging as the mobile mainframe. Our phones are powerful, always-on, always-connected machines that pipe data to and from these terminals (or devices). The result is an amazing collection of capabilities and experiences for the user.

        %p I&#8217;ve spent the last few months diving into the world of the mobile mainframe, bouncing between platforms and devices. I&#8217;d like to share my own journey, highlight the powerful experiences this model provides, discuss the downsides of the mobile mainframe as it stands today, and make some outlandish predictions about the future as I see it.

    %h2 Red Room

    .profile.profile-bump.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/matthew-doty.jpg", alt: "Matthew Doty"
      .media-body

        %h2
          Matthew Doty
          .lineup.lineup-wrap
            .h-sm-caps-gray UX Director, RBA

        %p As a UX guy, Matthew Doty crosses the streams of his artistic roots, technical savvy, business acumen, and his fascination with human behavior to create really awesome interactive experiences. His work with a broad variety of organizations (ranging from smaller operations to fortune 500 companies) enables Matthew to gracefully plug a user-centered approach into virtually any organization or project. Matthew&#8217;s passions center on 1.) helping individuals and organizations understand and then adopt the principles and techniques of user-centered design, and 2.) Helping otherwise siloed organizations become more collaborative and 3.) Extolling the virtues of a collaborative culture. Matthew&#8217;s leadership and expertise are currently employed at RBA as the UX Director.

        %p Follow Matthew on <a href="https://twitter.com/matthewjdoty" rel="nofollow">Twitter</a> or at <a href="http://matthewjdoty.com/" rel="nofollow">matthewjdoty.com</a>.

        %h3 Mobile/Desktop/Tablet First: Getting the Most from All Form Factors

        %p Most of us would agree that designing a smartphone experience first is a good way to prioritize features and functionality for a system that will span multiple form factors. Over the last 3 years, however, I&#8217;ve steadily come to realize that all form factors have important lessons to teach each other. While the &#8220;mobile first&#8221; movement represents an important evolution in our design thinking, there is a broader interplay between certain form factors that, when understood and mastered, can help take our designs to the next level.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/gail-swanson.jpg", alt: "Gail Swanson"
      .media-body

        %h2
          Gail Swanson
          .lineup.lineup-wrap
            .h-sm-caps-gray Associate UX Director, Manifest Digital

        %p Gail Swanson is an Experience Designer with over a decade of experience. She is focused on producing technology that empowers humans while bringing the fun to UX work. During her career, she has had her hands in everything from financial services platforms and social applications to flashy marketing campaigns. Gail believes in reading everything, spontaneous workplace sing-a-longs, and cartwheels in the workplace. She is Associate Director, UX at Manifest in Chicago.

        %p Follow Gail on <a href="https://twitter.com/practicallyUX" rel="nofollow">Twitter</a> or visit her <a href="http://practicallyUX.com" rel="nofollow">blog</a>.

        %h3 10lbs of Features in a 5lb App: Tips on Creating Simple Yet Yobust Experiences for Mobile Devices

        %p People use mobile devices for surprisingly complex tasks. The constant presence of our phones trumps the extra time it may take to manipulate the small screen with clumsy fingers. So, how do we deliver a simple mobile experience while providing the breadth of functionality users and stakeholders want to cram into these tiny containers?

        %p In this session, Gail will show you how to apply essential design concepts like progressive disclosure, complexity masking, and linear pathways to create the perception of simplicity for your users. Broaden your design strategies for getting all those features your stakeholders require into a design simple enough for your dad to understand.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/tom-greever.jpg", alt: "Tom Greever"
      .media-body

        %h2
          Tom Greever
          .lineup.lineup-wrap
            .h-sm-caps-gray User Experience Designer, Bitovi

        %p Tom is a user experience designer, consultant, and trainer for <a href="http://bitovi.com/" rel="nofollow">Bitovi.com</a>&#8211;a mobile and web-app design agency based in Chicago. Tom has been designing web and mobile interfaces for more than 12 years in a variety of environments from small ad agencies to internal corporate teams and as a freelancer.

        %p Follow Tom on <a href="https://twitter.com/tomgreever" rel="nofollow">Twitter</a> or through his <a href="http://tomgreever.com/" rel="nofollow">blog</a>.

        %h3 Easy Mobile Testing: Usability Checks Without Money, Time, or Even an App

        %p Usability testing is one of the most important parts of the mobile app design process, yet few organizations do it because they believe it&#8217;s expensive, time-consuming or requires a completed app. The reality is, you can do some great usability tests in one day with no money, little prep, and even without an app! During this session, I&#8217;ll give tips for doing ad hoc usability testing for mobile devices and how to get the most out of it. Plus, I&#8217;ll do a test on-the-spot with a volunteer audience member to demonstrate just how easy it can be.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/mike-gibson.jpg", alt: "Mike Gibson"
      .media-body

        %h2
          Mike Gibson
          .lineup.lineup-wrap
            .h-sm-caps-gray Lead Designer, Table XI

        %p Mike is the lead designer at <a href="http://www.tablexi.com/" rel="nofollow">Table XI</a>. He enjoys semantic markup, modular CSS and long-walks on a moonlit beach. If he&#8217;s not in front of his computer you can probably find him re-organizing his record collection or posting more photos of his dog Chupacabra to Instagram.

        %p Follow Mike on <a href="https://twitter.com/lovehasnologic" rel="nofollow">Twitter</a>.

        %h3 Mobile First Responsive Design?

        %p It didn&#8217;t take long for builders of the web to embrace mobile first approaches in their workflow, but is it the right approach for your project? During this talk I&#8217;ll discuss mobile first as a workflow and as a set of ideals. I&#8217;ll explore scenarios where a responsive build that starts small and expands out from there may not be the most efficient workflow and how we can work through those projects and build our sites as quickly as possible while still holding true to the ideas that made Mobile First a best practice in the first place.

    %h2 Yellow Room

    .profile.profile-bump.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/sean-johnson.jpg", alt: "Sean Johnson"
      .media-body

        %h2
          Sean Johnson
          .lineup.lineup-wrap
            .h-sm-caps-gray Partner, Digital Intent &amp; Founder Equity

        %p Partner at Digital Intent and Founder Equity. Professor of marketing at Kellogg. Pale person.

        %p Follow Sean on <a href="https://twitter.com/intentionally" rel="nofollow">Twitter</a> or visit his <a href="http://sean-johnson.com" rel="nofollow">website</a>.

        %h3 How to Get Traction on Mobile

        %p Most mobile apps don&#8217;t fail because the company can&#8217;t build their idea. They fail because they can&#8217;t get people to use it. And with over 1 million apps in the ecosystem, it&#8217;s imperative to have a thought out plan for acquiring and keeping customers.

        %p In this fast-paced talk, Kellogg professor and Digital Intent partner Sean Johnson will give you a set of tools and techniques for getting traction in a crowded market. You will be introduced to the customer funnel, discover strategies for manipulating each phase of the funnel, and learn how to measure the effectiveness of your efforts.

        %p We won&#8217;t be operating at a 50,000 foot level. Instead, you&#8217;ll learn specific techniques and strategies that smart companies are using to build the right product, find customers and turn them into advocates.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/adam-mccrimmon.jpg", alt: "Adam McCrimmon"
      .media-body

        %h2
          Adam McCrimmon
          .lineup.lineup-wrap
            .h-sm-caps-gray VP, Digital Strategy &amp; UX, HY Connect

        %p Adam leads Digital Strategy &amp; UX at HY Connect where I work with companies of all sizes to make their web destinations and digital advertising more awesome. I&#8217;ve been working on the web for the last 13 years and have helped brands like Turtle Wax, Nicor, IU Health, Wahl, Yamaha and BCBS find and engage audiences using all digital channels.

        %p Follow Adam on  as <a href="https://twitter.com/McAtoms" rel="nofollow">@McAtoms</a> or at <a href="http://about.me/amccrim" rel="nofollow">about.me</a>.

        %h3 Device-ism: Overcoming the Small Screen &#8220;Problem&#8221;

        %p In this talk I&#8217;ll make the case for embracing mobile as an opportunity not just a constraint. Using real world examples and data on mobile usage patterns, I&#8217;ll demonstrate the prominence and effect of &#8216;device deserts&#8217; and the importance of considering intent, not just context when creating mobile experiences.

        %p Working with marketing departments day to day I regularly run into the misconception that mobile experiences should be less robust than their non-mobile equivalents. Often this idea is expressed by someone saying &#8220;People won&#8217;t do that on a phone.&#8221; This talk will explore why this is a short-sided argument that is as silly as saying &#8220;People from Kansas aren&#8217;t interested in skiing.&#8221;

        %p As mobile strategists we spend a lot of time talking about context when it&#8217;s really user intent that drives interaction. It doesn&#8217;t matter where someone is or what device is near them, they still want the same stuff. If we can embrace intent over context, we will better understand what users really need from their small screens.

    .profile.profile-push.media
      .profile-object.media-object= image_tag "events/speakers/dennis-kardys.jpg", alt: "Dennis Kardys"
      .media-body

        %h2
          Dennis Kardys
          .lineup.lineup-wrap
            .h-sm-caps-gray Design Director, WSOL

        %p Dennis Kardys is a Chicago based UX designer and author with an affinity for all things mobile. He&#8217;s the author of the recently published Mobile Web Triage, and a contributing author to Smashing Magazine&#8217;s The Mobile Book. As Design Director at WSOL, Dennis leads a team of wisecrackin&#8217; designers and developers in helping universities, hospitals and corporations alike take the plunge into mobile and responsive design. When he&#8217;s not busy sketching, evading meetings or squinting at markup, you&#8217;re likely to find him ranting on Twitter as <a href="https://twitter.com/dkardys" rel="nofollow">@dkardys</a>, or playing country music instead of responsibly maintaining his design ethics blog, <a href="http://robotregime.com/" rel="nofollow">robotregime.com</a>.

        %h3 Navigating the Mobile Web

        %p We&#8217;ve learned to reject the notion of creating desktop-lite mobile experiences. But as we attempt to map larger, more complex systems to smaller screens, it becomes more and more challenging to help people find what they&#8217;re looking for. How do the interface decisions we make and the mobile interaction patterns we rely on impact how people process information and find content? Each time we adapt our design to a different range of screen sizes we create a new landscape our users must familiarize themselves with. Done right, this can lead to more seamless multiscreen experiences. Done poorly and your users will be left frustrated, disoriented and hunting elsewhere for information. This dissection of mobile UI and IA best practices will help you help your users find their way around your site&#8211;no matter what size screen they&#8217;re on.

    .profile.media
      .profile-object.media-object= image_tag "events/speakers/andy-hullinger.jpg", alt: "Andy Hullinger"
      .media-body

        %h2
          Andy Hullinger
          .lineup.lineup-wrap
            .h-sm-caps-gray Program Chair, Harrington College of Design

        %p Andy Hullinger is a design professor and the Program Chair for Web Design and Development at Harrington College of Design. His &#8220;***coding for creatives***&#8221; curriculum is helping to change the way designers work with creative technologies.

        %p Creator of the award winning children&#8217;s book <a href="http://www.commarts.com/interactive/cai13/dragonbrush.html" rel="nofollow">App Dragon Brush</a> Andy has been exploring, teaching, and designing on the iPad right from its start. A former creative director, he consults with Chicago ad agencies to evolve their print campaigns for digital magazines. As a visiting professor at Northwestern&#8217;s Medill School of Journalism, he pioneered the Magazine Innovation Project&#8217;s efforts with tablet publishing. Andy lives in Evanston, Illinois with his wife, daughter, and son in a house full of good books and happy animals.

        %h3 From Web to Widgets How to Create &amp; Code for iBooks Using Simple HTML,CSS, &amp; Javascript

        %p iBooks have expanded from the iPad onto the desktop and It is surprisingly easy to turn simple web skills into amazing interactive experiences for Apple&#8217;s free publishing platform (once someone shares the tips and tricks). In this session Andy takes you on a &#8220;walk-through&#8221; of a complete full-screen HTML5 widget. From idea to finished App you&#8217;ll learn what it takes build iBooks widgets, tricks for quick success, and how to avoid the pitfalls. Each participant will also receive complete source code and a curated list of learning resources to jump-start their own project.

= partial "partials/event-location-harrington"
