---
title: Prototyping Responsive Designs with Axure RP 7 Workshop
category: events
header_image: active
summary: This one-day workshop will get you up to speed prototyping responsive web designs with the new Adaptive Views feature in Axure RP 7. In this hands-on workshop you&#8217;ll learn how to create designs that scale for smartphones, tablets, and desktop displays. This workshop includes examples, tutorials, and exercises covering the functionality of an cross-platform ecommerce project prototyped with Axure.
---

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Prototype Responsive Designs
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#instructors" rel="nofollow") Instructors
      %li
        %a(href="#location" rel="nofollow") Location

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 Prototyping Responsive Designs with Axure RP 7

    %p This one-day workshop will get you up to speed prototyping responsive web designs with the new Adaptive Views feature in Axure RP 7. In this hands-on workshop you&#8217;ll learn how to create designs that scale for smartphones, tablets, and desktop displays. This workshop includes examples, tutorials, and exercises covering the functionality of an cross-platform ecommerce project prototyped with Axure.

    %p In addition to learning how to create Axure pages with device-specific views, you&#8217;ll also discover some of the other new advanced features of Axure 7 that offer improved prototyping methods that were not available in previous versions. At the end of the workshop, participants will take home the completed prototype file.

    %h3 Topics Covered

    %ul.list-ul
      %li Adaptive Views
      %li Using Adaptive Views to create responsive masters
      %li Configuring, viewing and using prototypes on actual mobile devices
      %li Publishing to the free AxShare prototype hosting service
      %li Repeaters
      %li Building accordions
      %li Axure 7 support for touch gestures and interactions
      %li Using Axure&#8217;s Style Editor to easily control the appearance of most design elements

    %h3 Required Preparation for Attendees

    %p The workshop is for novice to intermediate Axure users, but have limited to no exposure to Adaptive Views. Attendees should be familiar with using variables and dynamic panels in Axure.
    
    %p Bring your laptop with Axure RP 7 installed and ready to run. If you do not own a licensed copy of Axure, you can download a free 30-day trial (link to <a href="http://www.axure.com/download" rel="nofollow">download</a>). Make sure your trial version is not expired on the day of the workshop.

    %p Attendees also should have an active <a href="http://share.axure.com/" rel="nofollow">AxShare account</a> so they can view their work on actual mobile devices. AxShare is a free cloud storage service from Axure that can of host up to 1,000 password-protected prototypes.

    %h3 Axure System Requirements

    %h5 For Mac
    
    %ul.list-ul
      %li Mac computer with Intel processor Mac OS X 10.5+
      %li 2 GB Memory (4 GB recommended) 200 MB disk space
      %li For prototypes, Firefox, Safari, or Chrome

    %h5 For Windows

    %ul.list-ul
      %li Windows XP, 2003 Server, Vista, 7, or 8
      %li 2 GB RAM (4 GB recommended)
      %li 1 GHz Processor
      %li 60 MB disk space
      %li For prototypes, IE 7.0+, Firefox, Safari, or Chrome 

%section#instructors.main-content.main-bg-alt
  .container

    %h3.h-section Instructors

    .profile.profile-bump.profile-push.media
      .profile-object.media-object= image_tag "#{event_src(current_page)}/will-hacker.jpg", alt: "Will Hacker"
      .media-body

        %h2
          Will Hacker
          .lineup.lineup-wrap
            .h-sm-caps-gray Lead Interaction Designer, GE Capital
        
        %p Will Hacker is a senior UX professional and the author of <a href="http://axuremobilebook.com/" rel="nofollow">Mobile Prototyping With Axure 7</a>. He spent several years working exclusively on mobile design, prototyping, and usability testing at Cars.com, and Axure was one of the main tools in his arsenal. Will also has written about experience design for Boxes and Arrows, Smashing Magazine, and UX Booth, and is a frequent speaker at design events in Chicago. Will is a Lead Interaction Designer at GE Capital, where he works on multi-device designs for commercial lending software.

        %p You can follow his tweets at <a href="https://twitter.com/willhacker" rel="nofollow">@willhacker</a> or visit his website at <a href="http://willhacker.net/" rel="nofollow">willhacker.net.</a>

    .profile.media
      .profile-object.media-object= image_tag "#{event_src(current_page)}/svetlin-denkov.jpg", alt: "Svetlin Denkov"
      .media-body

        %h2
          Svetlin Denkov
          .lineup.lineup-wrap
            .h-sm-caps-gray UX Prototyper, GN ReSound
        
        %p Svetlin Denkov is a UX Prototyper at GN ReSound in Chicago, where he builds highly interactive prototypes for mobile and tablet devices using different technologies. He has a Master&#8217;s Degree in HCI from DePaul University. Svetlin is also a leader at Chicago&#8217;s chapter of <a href="http://www.ixdachicago.org/" rel="nofollow">IxDA</a> which introduces technology events to the local UX community monthly. In his spare time, he writes on prototyping for Smashing Magazine and helps out fellow prototypers on the Axure forums.

        %p You can follow his tweets at <a href="https://twitter.com/svetlindenkov" rel="nofollow">@svetlindenkov</a> or contact him on <a href="http://www.linkedin.com/in/svetlindenkov" rel="nofollow">LinkedIn.</a>

= partial "partials/event-location-harrington"
