---
title: Speaker Camp Atlanta
date: 2014-06-28 01:00 CDT
category: events
alias: speaker-camp
location: Big Nerd Ranch &ndash; Atlanta
summary: Speaker Camp helps you get prepared for Conference Submission Season&trade;! Spend your Saturday with us and get prepared to get on stage and show your smarts!
---

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Speaker Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#staff" rel="nofollow") Staff &amp; Mentors
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#location" rel="nofollow") Location

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 Speaker Camp helps you get ready to present at conferences. Spend your Saturday with us and get prepared to get on stage and show your smarts!

    %p You don&#8217;t need to picture people in their underwear to get up on stage and share what you know. You do, however, need to have a compelling idea along with a well-written abstract and a well-structured, well-prepared presentation in order to give the talk you–and your audience–deserve.

    %h3 You&#8217;ve Got A Lot To Say. People Deserve to Hear It.

    %p Show up with 5 minutes of a presentation and learn from seasoned professionals who have seen their fair share of stages. We&#8217;ll provide you with a safe, welcoming environment and help you by providing valuable and actionable feedback that will help you level-up your presentation game.

    %p We can help with that. Come learn with us!

%section#staff.main-content.main-bg-alt
  .container

    %h3.h-section
      Staff
      %span &amp;
      Mentors

    %h2 Leader

    - data.events.speakers.slice("Russ Unger").each do |s|
      .profile.media
        .profile-object.media-object= image_tag "events/speakers/#{s[1]['alias']}.jpg", alt: "#{s[0]}"
        .media-body
          %h2
            = s[0]
            .lineup.lineup-wrap
              .h-sm-caps-gray= s[1]['title']
          = s[1]['bio']
          - if s[1]['website'] || s[1]['twitter']
            %p
              For more, keep up with #{s[0].split[0...1].to_s.delete('[""]')}
              = succeed "." do
                - if s[1]['website']
                  at <a href="http://#{s[1]['website']}" rel="nofollow">#{s[1]['website']}</a>
                - if s[1]['website'] && s[1]['twitter']
                  or
                - if s[1]['twitter']
                  on Twitter as <a href="http://twitter.com/#{s[1]['twitter']}" rel="nofollow">@#{s[1]['twitter']}</a>

    %h2 Mentors
    
    %ul.mentor-list.grid
      - data.events.mentors.slice("Amy Ellis", "Brad Weaver", "J Cornelius", "Jenn Downs", "Jessica Cherok", "Loren Norman", "Rose Robinson").each do |s|
        %li
          %a(href="https://twitter.com/#{s[1]['twitter']}" rel="nofollow")
            = image_tag "events/mentors/#{s[1]['alias']}.jpg", alt: "#{s[0]}"
            .mentor-name= s[0]
          .mentor-job= s[1]['title']

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section
      Schedule
      %span &amp;
      Curriculum

    %p We&#8217;ve pulled together a great schedule for Speaker Camp, which includes brainstorming your ideas, understanding abstract structure and format, crafting your abstract, and much, much more!

    %table.event-schedule

      %tr
        %th
          %time(datetime="2014-06-28T08:00") 8:00
          &#8212;
          %time(datetime="2014-06-28T08:30") 8:30
        %td.event-schedule-offset Registration &amp; Morning Beverages

      %tr
        %th
          %time(datetime="2014-06-28T08:30") 8:30
          &#8212;
          %time(datetime="2014-06-28T12:00") 12:00

        %td
          %ul
            %li Brainstorming Your Big Idea
            %li How to Write Your Bio
            %li How to Write Your Proposal &amp; Abstract
            %li Critique Proposals &amp; Abstracts

      %tr
        %th
          %time(datetime="2014-06-28T12:00") 12:00
          &#8212;
          %time(datetime="2014-06-28T13:00") 1:00
        %td.event-schedule-offset Lunch

      %tr
        %th
          %time(datetime="2014-06-28T13:00") 1:00
          &#8212;
          %time(datetime="2014-06-28T13:45") 1:45
        %td Presentation Tips &amp; Techniques

      %tr
        %th
          %time(datetime="2014-06-28T14:30") 2:00
          &#8212;
          %time(datetime="2014-06-28T16:00") 4:00
        %td
          Trial by Fire
          .event-schedule-offset Presentations &amp; Critique

      %tr
        %th
          %time(datetime="2014-06-28T16:00") 4:00
          &#8212;
          %time(datetime="2014-06-28T16:45") 4:30
        %td Closing

%section#location.main-content
  .container

    %h3.h-section Location

    %h2
      Big Nerd Ranch Atlanta
      .lineup
        %a.a-chevron-right(href="https://goo.gl/maps/AEOKd") 200 Arizona Ave NE, Atlanta, GA 30307

    .grid

      .event-location-venue
        .event-location-media
          %figure= image_tag "events/locations/big-nerd-ranch.jpg", class: "frame", alt: "Big Nerd Ranch"
        
        %h3 About Big Nerd Ranch

        %p When Big Nerd Ranch began, they taught programming languages, and did it very well. But despite what you may have heard in grammar school, teachers don&#8217;t know everything. So they never stopped learning. Their instructors became consultants and authors (with enough books to fill the Big Nerd library and the Amazon best-sellers list).
        
        %p Check out <a href="http://www.bignerdranch.com/" rel="nofollow">Big Nerd Ranch</a>.

      .event-location-area
        .event-location-media
          %figure
            %iframe.frame(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6634.113063433874!2d-84.331892!3d33.759205!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f506ca6779f6cb%3A0x60f4b0be25aaee99!2s200+Arizona+Ave+NE%2C+Atlanta%2C+GA+30307!5e0!3m2!1sen!2sus!4v1421011952709")

        %h3 Where to Stay?

        %p Coming from out of town? There are a lot of <a href="https://goo.gl/maps/AhJTW" rel="nofollow">hotels in the surrounding area</a> that may work well for you and we have already done the searching for you!
