---
title: Workshop Workshop
date: 2015-02-07 01:00 CDT
category: events
header_image: true
header_image_photographer: Matthias Rhomberg
header_image_url: https://flic.kr/p/8szrqe
summary: You have attended workshops, you have seen them masterfully commanded by other people, and you really want to get a handle on doing this workshop thing yourself. This workshop is the workshop that will help you create and facilitate a workshop of your very own, be it for your teams or your clients.
---

- if current_page.data.header_image
  %header.header(style="#{header_image(current_page)}")
    .header-container
      .container
    
        %h1.header-title= current_page.data.title
        %h2.header-event-date.header-shadow= current_page.date.strftime("%A, %B %e, %Y")
      
      - if current_page.data.header_image_photographer && current_page.data.header_image_url
        %a.header-credit(href="#{current_page.data.header_image_url}" rel="nofollow")
          Photo: #{current_page.data.header_image_photographer}

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Workshop Workshop
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#" rel="nofollow") Instructors
      %li
        %a(href="#" rel="nofollow") Location
      
    %a.btn.btn-alt.event-nav-btn(href="http://nvite.com/events/c2f/tickets" rel="nofollow")
      Join Us for
      %strong Only $125


%section#details.main-content
  .container

    %h3.h-section Details

    %h2 Meta Meta Meta

    %p You have attended workshops, you have seen them masterfully commanded by other people, and you really want to get a handle on doing this workshop thing yourself. This workshop is the workshop that will help you create and facilitate a workshop of your very own, be it for your teams or your clients.

    %h2 Mushroom Mushroom

    %p Brad Nunnally, and Russ Unger, co-authors of the book &#8220;Designing the Conversation&#8221; will help you identify the path to unlocking the workshop achievement in whatever platform you choose. You will learn how to plan your agenda, structure your workshop, and identify the tools that are needed to help you along the way. Preparation is only a small portion of The Workshop Workshop; you will also gain from the wisdom of the CrankyTalk Workshops to help you feel more comfortable with your material&#8211;and yourself&#8211;in front of a group of people who are relying upon you to be their guide.

    %h2 Snake

    %p There will be activities where you will experience the true nature of &#8220;trial by fire&#8221; or &#8220;getting your feet wet&#8221; (whichever metaphor you prefer). That is correct: You will be leading your very own workshop within The Workshop Workshop, and presenting your findings and results back to the rest of the workshop attendees.

    %p Bring your most comfortable pair of shoes, your favorite writing utensil, and all the gumption you can muster. This will be a jam-packed day!

    .event-cta
      %a.btn.btn-alt(href="http://nvite.com/events/c2f/tickets" rel="nofollow")
        Join Us for Only $125 &#8212; Limited Class Size
