---
title: Prototypes, Process &amp; Play
date: 2016-08-11 01:00 CDT
category: events
alias: prototypes-process-play
duration: August 11&#8211;12, 2016
location: Columbia College Film Row &ndash; Chicago
summary: Learn design leadership skills from Slack, Etsy, Google, Adaptive Path/Capital One, United, and MasterCard&#8211;just to name a few!
---
- sponsors = ["Bakery", "Balsamiq", "Binth", "Columbia College", "Justinmind", "Loop11", "O'Reilly", "Sketch"]
- keynotes = ["Ashleigh Axios", "Cennydd Bowles", "Michael Lopp", "Randy Hunt"]
- speakers = ["Adam Connor", "Adam Cutler", "Cindy Chastain", "Ian Swinson", "Katherine Walker", "Kristin Skinner", "Matthew Milan", "Rebecca Miller-Webster"]
- lightning = ["Amanda Schonfeld", "Amy Cueva", "Chris Avore", "Tanseela Molani"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Prototypes, Process &amp; Play
      %li
        %a(href="#overview" rel="nofollow") Overview
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketleap.com/prototypes-process-play-2016/dates/Aug-04-2016_at_0800AM" rel="nofollow") Register Now!

%section#overview.main-content
  .container

    %h3.h-section Conference Overview

    %h2
      Learn design leadership from the experts at
      %br
      = succeed "." do
        %strong Prototypes, Process, &amp; Play

    %p It&#8217;s a two-day, single-track conference featuring inspiring keynote speakers, accomplished design leaders, and experienced professionals from major brands and organizations.

    %p Curious about the name? It comes from our formula for effective design leadership:

    %table.ppp-overview
      %tr
        %td
          .ppp-overiew-title Experimentation
          .h-sm-caps-gray Prototypes
        %td.ppp-overiew-equal &#43;
        %td 
          .ppp-overiew-title Proven Methodologies
          .h-sm-caps-gray Process
        %td.ppp-overiew-equal  &#43;
        %td 
          .ppp-overiew-title Creative Exploration
          .h-sm-caps-gray Play

    .event-cta
      %a.btn.btn-alt.btn-large(href="https://chicagocamps.ticketleap.com/prototypes-process-play-2016/dates/Aug-04-2016_at_0800AM" rel="nofollow")
        %strong Register Now for Prototypes, Process, &amp; Play
        %br
        Only $375 &#8212; Ticket Prices Increase Each Month

    %h3 Additional Speakers &amp; Sponsors Coming Soon

    %p We&#8217;re currently in discussions with additional speakers and sponsors. As we confirm additions to the program we&#8217;ll add them below. Until then, if you have any recommendations on <a href="/proposal/">speakers</a> or <a href="/contact/">sponsors</a> we&#8217;d love to hear from you!

    %h3 Meet Our Awesome Sponsors
    
    %p These great sponsors help us make Prototypes, Process &amp; Play affordable and accessible. These organizations see the value in design and design leadership&#8212;please show your support for the support they&#8217;ve shown us!

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section
      Program
      %span &amp;
      Schedule

    %p Hone your design leadership skills over two days with us at Columbia College Chicago. A carefully curated single-track approach ensures that you can attend every session and have a truly shared experience with other attendees and speakers.

    %h3
      .h-sm-caps-gray Day One
      Thursday, August 11th

    %table.event-schedule
      %tr
        %th
          %time(datetime="08:00") 8:00
          &#8212;
          %time(datetime="09:00") 9:00
        %td
          %strong Registration
      %tr
        %th
          %time(datetime="09:00") 9:00
          &#8212;
          %time(datetime="09:15") 9:15
        %td
          %strong Welcome to Prototypes, Process &amp; Play
      %tr
        %th
          %time(datetime="09:15") 9:15
          &#8212;
          %time(datetime="10:00") 10:00
        %td
          %a(href="#ashleigh-axios" rel="nofollow")
            %strong Ashleigh Axios
            .event-schedule-offset Designing for 1600 Penn. (Keynote)
      %tr
        %th
          %time(datetime="10:00") 10:00
          &#8212;
          %time(datetime="10:45") 10:45
        %td
          %a(href="#matthew-milan" rel="nofollow")
            %strong Matthew Milan
            .event-schedule-offset One to Many: Building a Design Practice
      %tr
        %th
          %time(datetime="10:45") 10:45
          &#8212;
          %time(datetime="11:15") 11:15
        %td
          %strong Morning Break
      %tr
        %th
          %time(datetime="11:15") 11:15
          &#8212;
          %time(datetime="12:00") 12:00
        %td
          %a(href="#kristin-skinner" rel="nofollow")
            %strong Kristin Skinner
            .event-schedule-offset Org Design for Design Orgs: Building &amp; Managing In-House Teams
      %tr
        %th
          %time(datetime="12:00") 12:00
          &#8212;
          %time(datetime="13:15") 1:15
        %td
          %strong Lunch Break
      %tr
        %th
          %time(datetime="13:15") 1:15
          &#8212;
          %time(datetime="13:30") 1:30
        %td
          %a(href="#amanda-schonfeld" rel="nofollow")
            %strong Amanda Schonfeld
            .event-schedule-offset A Human Centered Approach to Talent Acquisition
      %tr
        %th
          %time(datetime="13:30") 1:30
          &#8212;
          %time(datetime="13:45") 1:45
        %td
          %a(href="#amy-cueva" rel="nofollow")
            %strong Amy Cueva
            .event-schedule-offset Purpose Driven Design
      %tr
        %th
          %time(datetime="13:45") 1:45
          &#8212;
          %time(datetime="14:30") 2:30
        %td
          %a(href="#adam-connor" rel="nofollow")
            %strong Adam Connor
            .event-schedule-offset Building Creative, Collaborative Cultures
      %tr
        %th
          %time(datetime="14:30") 2:30
          &#8212;
          %time(datetime="15:00") 3:00
        %td
          %strong Afternoon Break
      %tr
        %th
          %time(datetime="15:00") 3:00
          &#8212;
          %time(datetime="15:45") 3:45
        %td
          %a(href="#cindy-chastain" rel="nofollow")
            %strong Cindy Chastain
            .event-schedule-offset Design-Driven Innovation at Scale
      %tr
        %th
          %time(datetime="15:45") 3:45
          &#8212;
          %time(datetime="16:30") 4:30
        %td
          %a(href="#randy-hunt" rel="nofollow")
            %strong Randy Hunt
            .event-schedule-offset Fireside Chat with Randy Hunt (Keynote)
      %tr
        %th
          %time(datetime="16:30") 4:30
          &#8212;
          %time(datetime="18:00") 6:00
        %td
          %strong Happy Hour

    %h3
      .h-sm-caps-gray Day Two
      Friday, August 12th

    %table.event-schedule
      %tr
        %th
          %time(datetime="08:00") 8:00
          &#8212;
          %time(datetime="09:00") 9:00
        %td
          %strong Registration
      %tr
        %th
          %time(datetime="09:00") 9:00
          &#8212;
          %time(datetime="09:15") 9:15
        %td
          %strong Welcome to Prototypes, Process &amp; Play
      %tr
        %th
          %time(datetime="09:15") 9:15
          &#8212;
          %time(datetime="10:00") 10:00
        %td
          %a(href="#cennydd-bowles" rel="nofollow")
            %strong Cennydd Bowles
            .event-schedule-offset Ethical by Design (Keynote)
      %tr
        %th
          %time(datetime="10:00") 10:00
          &#8212;
          %time(datetime="10:45") 10:45
        %td
          %a(href="#rebecca-miller-webster" rel="nofollow")
            %strong Rebecca Miller-Webster
            .event-schedule-offset Frameworks of Feedback
      %tr
        %th
          %time(datetime="10:45") 10:45
          &#8212;
          %time(datetime="11:15") 11:15
        %td
          %strong Morning Break
      %tr
        %th
          %time(datetime="11:15") 11:15
          &#8212;
          %time(datetime="12:00") 12:00
        %td
          %a(href="#katherine-walker" rel="nofollow")
            %strong Katherine Walker
            .event-schedule-offset Final is Meaningless
      %tr
        %th
          %time(datetime="12:00") 12:00
          &#8212;
          %time(datetime="13:15") 1:15
        %td
          %strong Lunch Break
      %tr
        %th
          %time(datetime="13:15") 1:15
          &#8212;
          %time(datetime="13:30") 1:30
        %td
          %a(href="#tanseela-molani" rel="nofollow")
            %strong Tanseela Molani
            .event-schedule-offset Design Researcher as (the most) Super (of all) Heroes
      %tr
        %th
          %time(datetime="13:30") 1:30
          &#8212;
          %time(datetime="13:45") 1:45
        %td
          %a(href="#chris-avore" rel="nofollow")
            %strong Chris Avore
            .event-schedule-offset Managing Design Leadership
      %tr
        %th
          %time(datetime="13:45") 1:45
          &#8212;
          %time(datetime="14:30") 2:30
        %td
          %a(href="#adam-cutler" rel="nofollow")
            %strong Adam Cutler
            .event-schedule-offset People + Places + Practices = Outcomes
      %tr
        %th
          %time(datetime="14:30") 2:30
          &#8212;
          %time(datetime="15:00") 3:00
        %td
          %strong Afternoon Break
      %tr
        %th
          %time(datetime="15:00") 3:00
          &#8212;
          %time(datetime="15:45") 3:45
        %td
          %a(href="#ian-swinson" rel="nofollow")
            %strong Ian Swinson
            .event-schedule-offset Careers by Design
      %tr
        %th
          %time(datetime="15:45") 3:45
          &#8212;
          %time(datetime="16:30") 4:30
        %td
          %a(href="#michael-lopp" rel="nofollow")
            %strong Michael Lopp
            .event-schedule-offset Fear is a Liar (Keynote)
      %tr
        %th
          %time(datetime="16:30") 4:30
          &#8212;
          %time(datetime="17:00") 5:00
        %td
          %strong Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section About Our Speakers

    %p Great thinking on design leadership is found in many forms in many industries. We&#8217;ve curated an incredible lineup of design experts, mentors, and coaches from diverse fields to help you down your own leadership path. Our single-track format ensures you&#8217;ll get to learn from every one of them.

    .event-cta
      %a.btn.btn-alt.btn-large(href="https://chicagocamps.ticketleap.com/prototypes-process-play-2016/dates/Aug-04-2016_at_0800AM" rel="nofollow")
        %strong Register Now for Prototypes, Process, &amp; Play
        %br
        Only $375 &#8212; Ticket Prices Increase Each Month

    - content_for :talk_adam_connor do

      %h3 Building Creative, Collaborative Cultures
      
      %p Organizations are taking a strong interest in design &#8212; realizing that understanding the needs, expectations and contexts in which people interact and use products and services leads not only to improvements in their current offerings, but ideas and opportunities for new innovations. With this realization has come immense investment in design talent and training. But having design talent and creativity does not ensure success. Design is not just a new tool to add to a growing collection. As these skills and individuals are added to the mix in many teams, both designers and non-designers alike often struggle to work together and produce great work.

      %p Design is a shift in mindset that influences how we behave and make decisions. In order for organizations to make use of design they must be set up to do so. In this presentation we&#8217;ll look at the characteristics and cultures of organizations that are able to effectively create, collaborate on, and produce great design and explore strategies to foster innovation by building better teams, helping them use new tools to work together, identify problems and break down silos that stop progress.
    
    - content_for :talk_adam_cutler do
      
      %h3 People + Places + Practices = Outcomes

      %p Session info TBD.

    - content_for :talk_amanda_schonfeld do

      %h3 A Human Centered Approach to Talent Acquisition

      %p People are the foundation of great organizations. Yet when it comes time to invest in the process of finding and vetting the right people to grow and develop our organizations, too many times it feels like a chore. How do we bring joy and a human centered approach to this process? Amanda will show examples of collaboration and experimentation that have helped the team at 18F to double in size in a year. 
    
    - content_for :talk_amy_cueva do
      
      %h3 Purpose Driven Design

      %p How can we work together to deliver meaningful change? Design is an invitation to change. It helps us get from where we are to where we want to be. Although empathy has achieved buzzword status, it is a philosophy, not a trend. This talk will explore how empathy can inspire our direction as individuals, fuel purpose driven business innovation, and even guide us to make change at the societal level. New twists for integrating empathy into our work will be evaluated and discussed. 
    
    - content_for :talk_ashleigh_axios do

      %h3 Designing for 1600 Penn.

      %p Get a behind-the-scenes look at how innovative design is able to happen in-house at 1600 Pennsylvania Avenue. Ashleigh will show-and-tell how her small design team transformed daunting challenges into successful digital campaigns. Hear her team&#8217;s tactics for tackling limited resources, overcoming impossibly quick timelines, experimenting while in the public spotlight, and not just taking criticism, but intentionally seeking it out.

    - content_for :talk_cennydd_bowles do
      
      %h3 Ethical by Design

      %p Every business is now unique in their faith in experimentation, evidence, and iteration. Done right, it&#8217;s a healthy, focused approach. Done poorly, it becomes twisted into absurd scientism: numbers trump all, and users are reduced to mere statistics.

      %p Digital technology&#8217;s unprecedented scale brings serious ethical responsibility. How can we balance data-driven approaches with empathy and humanity? How do we help companies see users as more than means to achieve company goals? And how do we ensure our decisions benefit not only ourselves but our wider communities and the world at large?

    - content_for :talk_chris_avore do

      %h3 Managing Design Leadership 

      %p As more companies invest in design teams to differentiate themselves, the demand for design leadership and management has never been more needed than it is today. But there are several different paths and perspectives to establishing yourself as a design leader, regardless if you manage a team or project—or are even interested in managing people at all.

      %p Gain another lens in which to view design leadership—both in yourself and your team—and learn how to take advantage of the similarities and differences between managing design and design leadership.

    - content_for :talk_cindy_chastain do
      
      %h3 Design-Driven Innovation at Scale

      %p Session info TBD.

    - content_for :talk_ian_swinson do

      %h3 Careers by Design

      %p We spend a great deal of time talking about design language, design tools, and technological developments and trends, but relatively little on planning and nurturing our careers. Maybe this gap is because there is not a good &#8220;language&#8221; to help us talk about career planning and aid in managing these discussions.

      %p Ian has been working on a framework to help employees define, design, monitor, and grow their careers. The primary goal of the framework is to establish a broad set of guidelines to assist managers as they support employees. It is useful for people who want to focus on one core skill, as well as those interested in more multi-disciplinary roles or (eventually) management.

    - content_for :talk_katherine_walker do

      %h3 Final is Meaningless

      %p Static is no longer the norm. The word &#8220;final&#8221; is meaningless. Any brand that thinks it can create a website and &#8220;be done with it&#8221; is mistaken. When designing for digital, we take cues from software and artificial intelligence models, understanding that they can (and will) be constantly altered, upgraded, evolved. 

      %p When you see people responding to, and interacting with a brand, then you know you&#8217;ve done something right. Brands that win (and by definition, the most successful projects) are the ones that include each discipline from the very beginning. Great design does not happen in a vacuum. What really sets really great design apart from simply good design is the ability to be influenced, collaborate with, and learn from everyone on a team: animators, developers, engineers, and writers. Without this influence, collaboration, and camaraderie, what we are left with is merely a prototype of what our best work can be.

    - content_for :talk_kristin_skinner do

      %h3 Org Design for Design Orgs: Building &amp; Managing In-House Teams

      %p As organizations continue to establish and mature their in-house design teams, it turns out there&#8217;s very little common wisdom on what makes for a successful design organization. Books and presentations tend to focus on process, methods, tools, and outcomes, leaving a gap of knowledge when it comes to organizational and operational matters. 

      %p In this talk, Kristin Skinner will share her personal experience as a design leader who is driven by the challenge of organizational design. She will share stories on the benefits and challenges of working in both consulting and in-house, and will leave you with practical tips to build and lead your design teams and organization.

    - content_for :talk_matthew_milan do

      %h3 One to Many: Building a Design Practice

      %p Building design teams is hard, and as I&#8217;ve learned over the last eight years at Normative, building a design practice is even harder. This has been a humbling experience and has deeply changed my perspectives on how to operationalize and scale the impact of design. I can&#8217;t claim to be an expert at building design practices, but I&#8217;m excited to share what we&#8217;ve done, how we did it, and where we were horribly wrong and amazingly right, in the hopes that others can build on our experiences.

      %p In this talk, I&#8217;m going to focus on telling the stories that surround some of the inflection points in our journey as a design-led firm. I&#8217;ll share our thinking and approaches around key themes of practice development: people, processes and perspectives, as well as couple of additional themes that I&#8217;m responsible for as a design CEO; positioning and profit. 

    - content_for :talk_michael_lopp do
      
      %h3 Fear is a Liar

      %p Writing is the connective tissue that creates understanding. We, as social creatures, often better perform rituals to form understanding one on one, but good writing enables us to understand each other at scale. So we&#8217;re going to talk about writing.

    - content_for :talk_randy_hunt do

      %h3 Fireside Chat with Randy Hunt

      %p Shay Howe will, along with the Prototypes, Process &amp; Play audience, interview Randy Hunt to learn more about design and design leadership at Etsy.

    - content_for :talk_rebecca_miller_webster do

      %h3 Frameworks of Feedback

      %p Design and code reviews, retros, and performance reviews &#8212; all acknowledge the importance of communication and feedback and they are a good start. But they don&#8217;t tell you how to give negative feedback or ensure that you, as a teammate or manager, hear the small things before they become big things.

      %p Let&#8217;s talk about feedback and examine frameworks for how to ask for and frame feedback effectively. Not all situations call for the same type of feedback and some are more sensitive than others. We will look at Non-violent communication, techniques from family and marriage therapy, as well as more traditional frameworks for feedback.

    - content_for :talk_tanseela_molani do

      %h3 Design Researcher as (the most) Super (of all) Heroes

      %p What do Deadpool, Superman, Elastic Man, Mr. Mxyzptlk, Multiple Man and a Design Researcher have in common? Super powers!
 
      %p Yes, Design Researchers have super powers, and they may be the best super hero of them all! While most super heroes have only one or two powers, immortality, x-ray vision, elasticity, re-animation and replication are all super powers of the Design Researcher. And, these powers are used for good.

    %h3 Keynotes
    = partial "partials/events/speakers", locals: {speakers: keynotes}

    %h3 Sessions
    = partial "partials/events/speakers", locals: {speakers: speakers}

    %h3 Lightning
    = partial "partials/events/speakers", locals: {speakers: lightning}

%section#location.main-content
  .container

    %h3.h-section Location Details

    %h2
      Columbia College Film Row
      .lineup
        %a.a-chevron-right(href="https://goo.gl/maps/Vp7xk") 1104 South Wabash Avenue, 8th Floor, Chicago, IL 60605

    %p We are big fans of our venue and sponsor: Columbia College in Chicago. Columbia is a great place to learn and upgrade your design skills and we&#8217;re excited to host our inaugural Prototypes, Process &amp; Play with them!

    .grid

      .event-location-venue
        .event-location-media
          %figure= image_tag "events/locations/columbia-college.jpg", class: "frame", alt: "Columbia College"

        %h3 About Columbia College

        %p Columbia College Chicago is an institution of higher education specializing in arts and media disciplines, with nearly 12,000 students pursuing degrees within 120 undergraduate and graduate programs.

        %p Check out <a href="http://www.colum.edu/" rel="nofollow">Columbia College</a>.

      .event-location-area
        .event-location-media
          %figure
            %iframe.frame(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.105065873076!2d-87.62611649999995!3d41.86908589999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c9bb5532bd3%3A0x6629a25ea0b3cfe4!2s1104+S+Wabash+Ave%2C+Chicago%2C+IL+60605!5e0!3m2!1sen!2sus!4v1422745233180")

        %h3 Where to Park?

        %p There are several easy-access <a href="http://www.parkwhiz.com/search/?destination=1104+S+Wabash+Ave%2C+Chicago%2C+IL+60605%2C+USA" rel="nofollow">parking garages</a> available in the surrounding blocks.

        %h3
          %a(href="https://bookings.ihotelier.com/Congress-Plaza-Hotel/bookings.jsp?hotelID=5054&groupID=1643978" rel="nofollow") The Congress Plaza Hotel

        %p Coming from out of town? We&#8217;ve set up a special rate for attendees at <a href="https://bookings.ihotelier.com/Congress-Plaza-Hotel/bookings.jsp?hotelID=5054&groupID=1643978" rel="nofollow">The Congress Plaza Hotel</a> on Michigan Avenue in the heart of Chicago.

.event-cta
  %a.btn.btn-alt.btn-large(href="https://chicagocamps.ticketleap.com/prototypes-process-play-2016/dates/Aug-04-2016_at_0800AM" rel="nofollow")
    %strong Register Now for Prototypes, Process, &amp; Play
    %br
    Only $375 &#8212; Ticket Prices Increase Each Month

%section.main-content
  .container

    %h3.h-section Sponsorship Opportunities

    %p We want to be the easiest partner you&#8217;ve ever worked with&#8211;even at the traditional conference level! With that as our guiding mantra, all of our Prototypes, Process &amp; Play sponsorships are $1,500.

    %p Prototypes, Process &amp; Play has many different options available that are comparable to any other large scale event, and we&#8217;re happy to work with you to create something custom to meet your needs. We&#8217;ve got a great event planned and we&#8217;d love to talk to you about how we can partner with you!

    %p If you&#8217;re interested in sponsoring Prototypes, Process &amp; Play and getting in front of the people who are driving the future of design, <a href="/contact/">contact us</a> or <a href="/assets/packets/Prototypes-Process-PlaySponsorship-Info.pdf" download>download our Sponsorship Packet</a>.
