---
title: Prototypes, Process &amp; Play
date: 2016-08-11 01:00 CDT
category: events
alias: prototypes-process-play
duration: August 11&#8211;12, 2016
location: Columbia College Film Row &ndash; Chicago
summary: Learn design leadership skills from Adaptive Path, Public Good Software, Google Ventures, and the Chicago Bulls&#8211;just to name a few!
---
- sponsors = ["Bakery", "Binth", "Columbia College"]
- keynotes = ["Michael Lopp"]
- speakers = ["Adam Connor", "Amy Cueva", "Cennydd Bowles", "Cindy Chastain", "Doc Waller", "Katherine Walker", "Kristin Skinner", "Rebecca Miller-Webster"]
- lightning = []

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Prototypes, Process &amp; Play
      %li
        %a(href="#overview" rel="nofollow") Overview
      -#
        %li
          %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketleap.com/prototypes-process-play-2016/dates/Aug-04-2016_at_0800AM" rel="nofollow") Register Now!

%section#overview.main-content
  .container

    %h3.h-section Conference Overview

    %h2
      Learn design leadership from the experts at
      %br
      = succeed "." do
        %strong Prototypes, Process, &amp; Play

    %p It&#8217;s a two-day, single-track conference featuring inspiring keynote speakers, accomplished design leaders, and experienced professionals from major brands and organizations.

    %p Curious about the name? It comes from our formula for effective design leadership:

    %table.ppp-overview
      %tr
        %td
          .ppp-overiew-title Experimentation
          .h-sm-caps-gray Prototypes
        %td.ppp-overiew-equal &#43;
        %td 
          .ppp-overiew-title Proven Methodologies
          .h-sm-caps-gray Process
        %td.ppp-overiew-equal  &#43;
        %td 
          .ppp-overiew-title Creative Exploration
          .h-sm-caps-gray Play

    .event-cta
      %a.btn.btn-alt.btn-large(href="https://chicagocamps.ticketleap.com/prototypes-process-play-2016/dates/Aug-04-2016_at_0800AM" rel="nofollow")
        %strong Register Now for Prototypes, Process, &amp; Play
        %br
        Only $300 &#8212; Ticket Prices Increase Each Month

    %h3 Additional Speakers &amp; Sponsors Coming Soon

    %p We&#8217;re currently in discussions with additional speakers and sponsors. As we confirm additions to the program we&#8217;ll add them below. Until then, if you have any recommendations on <a href="/proposal/">speakers</a> or <a href="/contact/">sponsors</a> we&#8217;d love to hear from you!

    %h3 Meet Our Awesome Sponsors
    
    %p These great sponsors help us make Prototypes, Process &amp; Play affordable and accessible. These organizations see the value in design and design leadership&#8212;please show your support for the support they&#8217;ve shown us!

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

-#
  %section#schedule.main-content.main-bg-highlight
    .container

      %h3.h-section
        Program
        %span &amp;
        Schedule

      %p Hone your design leadership skills over two days with us at Columbia College Chicago. A carefully curated single-track approach ensures that you can attend every session and have a truly shared experience with other attendees and speakers.

      %h3
        .h-sm-caps-gray Day One
        Thursday, August 6th

      %table.event-schedule
        %tr
          %th
            %time(datetime="08:00") 8:00
            &#8212;
            %time(datetime="09:00") 9:00
          %td.event-schedule-offset Registration &amp; Coffee
        %tr
          %th
            %time(datetime="09:00") 9:00
            &#8212;
            %time(datetime="09:15") 9:15
          %td.event-schedule-offset Welcome to Prototypes, Process &amp; Play Day One
        %tr
          %th
            %time(datetime="09:15") 9:15
            &#8212;
            %time(datetime="10:00") 10:00
          %td
            %a(href="#temple-grandin" rel="nofollow")
              %strong Dr. Temple Grandin
            .event-schedule-offset Keynote
        %tr
          %th
            %time(datetime="10:00") 10:00
            &#8212;
            %time(datetime="10:45") 10:45
          %td
            %a(href="#denise-jacobs" rel="nofollow")
              %strong Denise Jacobs
            .event-schedule-offset Creativity Imperative
        %tr
          %th
            %time(datetime="10:45") 10:45
            &#8212;
            %time(datetime="11:15") 11:15
          %td.event-schedule-offset Morning Break
        %tr
          %th
            %time(datetime="11:15") 11:15
            &#8212;
            %time(datetime="12:00") 12:00
          %td
            %a(href="#braden-kowitz" rel="nofollow")
              %strong Braden Kowitz
            .event-schedule-offset Design What Really Matters
        %tr
          %th
            %time(datetime="12:00") 12:00
            &#8212;
            %time(datetime="13:30") 1:30
          %td.event-schedule-offset Lunch Break
        %tr
          %th
            %time(datetime="13:30") 1:30
            &#8212;
            %time(datetime="13:45") 1:45
          %td
            %a(href="#jen-myers" rel="nofollow")
              %strong Jen Myers
            .event-schedule-offset Cartoon Creativity: What I Learned from Chuck Jones
        %tr
          %th
            %time(datetime="13:50") 1:50
            &#8212;
            %time(datetime="14:05") 2:05
          %td
            %a(href="#bridget-weis-urbain" rel="nofollow")
              %strong Bridget Weis-Urbain
            .event-schedule-offset Cooking by Design
        %tr
          %th
            %time(datetime="14:15") 2:15
            &#8212;
            %time(datetime="15:00") 3:00
          %td
            %a(href="#hannah-donovan" rel="nofollow")
              %strong Hannah Donovan
            .event-schedule-offset Sometimes You Need to Draw Animals
        %tr
          %th
            %time(datetime="15:00") 3:00
            &#8212;
            %time(datetime="15:30") 3:30
          %td.event-schedule-offset Afternoon Break
        %tr
          %th
            %time(datetime="15:30") 3:30
            &#8212;
            %time(datetime="16:15") 4:15
          %td
            %a(href="#milissa-tarquini" rel="nofollow")
              %strong Milissa Tarquini
            .event-schedule-offset Design Organization du Jour
        %tr
          %th
            %time(datetime="16:15") 4:15
            &#8212;
            %time(datetime="17:00") 5:00
          %td
            %a(href="#clay-parker-jones" rel="nofollow")
              %strong Clay Parker Jones, Hillary Hartley, &amp; Peter Merholz
            .event-schedule-offset Closing Panel: Design of Organizations
        %tr
          %td
          %td
            %strong Happy Hour &amp; Experience Panel 

      %h3
        .h-sm-caps-gray Day Two
        Friday, August 7th

      %table.event-schedule
        %tr
          %th
            %time(datetime="08:00") 8:00
            &#8212;
            %time(datetime="09:00") 9:00
          %td.event-schedule-offset Registration &amp; Coffee
        %tr
          %th
            %time(datetime="09:00") 9:00
            &#8212;
            %time(datetime="09:15") 9:15
          %td.event-schedule-offset Welcome to Prototypes, Process &amp; Play Day Two
        %tr
          %th
            %time(datetime="09:15") 9:15
            &#8212;
            %time(datetime="10:00") 10:00
          %td
            %a(href="#steve-julius" rel="nofollow")
              %strong Dr. Steve Julius
            .event-schedule-offset Keynote
        %tr
          %th
            %time(datetime="10:00") 10:00
            &#8212;
            %time(datetime="10:45") 10:45
          %td
            %a(href="#chris-avore" rel="nofollow")
              %strong Chris Avore
            .event-schedule-offset Advancing Strategic Design Without Going Against the Current
        %tr
          %th
            %time(datetime="10:45") 10:45
            &#8212;
            %time(datetime="11:15") 11:15
          %td.event-schedule-offset Morning Break
        %tr
          %th
            %time(datetime="11:15") 11:15
            &#8212;
            %time(datetime="12:00") 12:00
          %td
            %a(href="#j-cornelius" rel="nofollow")
              %strong J Cornelius
            .event-schedule-offset Redesign Our Design Thinking
        %tr
          %th
            %time(datetime="12:00") 12:00
            &#8212;
            %time(datetime="13:30") 1:30
          %td.event-schedule-offset Lunch Break
        %tr
          %th
            %time(datetime="13:30") 1:30
            &#8212;
            %time(datetime="13:45") 1:45
          %td
            %a(href="#danny-schuman" rel="nofollow")
              %strong Danny Schuman
            .event-schedule-offset 5 Tips for Designers from a Terrible Designer
        %tr
          %th
            %time(datetime="13:50") 1:50
            &#8212;
            %time(datetime="14:05") 2:05
          %td
            %a(href="#jason-kunesh" rel="nofollow")
              %strong Jason Kunesh
            .event-schedule-offset How to be a Designer CEO at a Startup without Being a Jerk
        %tr
          %th
            %time(datetime="14:15") 2:15
            &#8212;
            %time(datetime="15:00") 3:00
          %td
            %a(href="#andrea-mignolo" rel="nofollow")
              %strong Andrea Mignolo
            .event-schedule-offset So You&#8217;ve Got A Seat At the Table. Now What?
        %tr
          %th
            %time(datetime="15:00") 3:00
            &#8212;
            %time(datetime="15:30") 3:30
          %td.event-schedule-offset Afternoon Break
        %tr
          %th
            %time(datetime="15:30") 3:30
            &#8212;
            %time(datetime="16:15") 4:15
          %td
            %a(href="#carl-smith" rel="nofollow")
              %strong Carl Smith
            .event-schedule-offset Theft, Tributes &amp; Collaboration
        %tr
          %th
            %time(datetime="16:15") 4:15
            &#8212;
            %time(datetime="17:00") 5:00
          %td
            %a(href="#jesse-james-garrett" rel="nofollow")
              %strong Jesse James Garrett
            .event-schedule-offset Keynote
        %tr
          %td
          %td.event-schedule-offset Closing Ceremonies 

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section About Our Speakers

    %p Great thinking on design leadership is found in many forms in many industries. We&#8217;ve curated an incredible lineup of design experts, mentors, and coaches from diverse fields to help you down your own leadership path. Our single-track format ensures you&#8217;ll get to learn from every one of them.

    .event-cta
      %a.btn.btn-alt.btn-large(href="https://chicagocamps.ticketleap.com/prototypes-process-play-2016/dates/Aug-04-2016_at_0800AM" rel="nofollow")
        %strong Register Now for Prototypes, Process, &amp; Play
        %br
        Only $300 &#8212; Ticket Prices Increase Each Month

    %h3 Keynotes
    = partial "partials/events/speakers", locals: {speakers: keynotes}

    %h3 Sessions
    = partial "partials/events/speakers", locals: {speakers: speakers}

= partial "partials/events/location-columbia-film-row"

.event-cta
  %a.btn.btn-alt.btn-large(href="https://chicagocamps.ticketleap.com/prototypes-process-play-2016/dates/Aug-04-2016_at_0800AM" rel="nofollow")
    %strong Register Now for Prototypes, Process, &amp; Play
    %br
    Only $300 &#8212; Ticket Prices Increase Each Month

%section.main-content
  .container

    %h3.h-section Sponsorship Opportunities

    %p We want to be the easiest partner you&#8217;ve ever worked with&#8211;even at the traditional conference level! With that as our guiding mantra, all of our Prototypes, Process &amp; Play sponsorships are $1,500.

    %p Prototypes, Process &amp; Play has many different options available that are comparable to any other large scale event, and we&#8217;re happy to work with you to create something custom to meet your needs. We&#8217;ve got a great event planned and we&#8217;d love to talk to you about how we can partner with you!

    %p If you&#8217;re interested in sponsoring Prototypes, Process &amp; Play and getting in front of the people who are driving the future of design, <a href="/contact/">contact us</a> or <a href="/assets/packets/Prototypes-Process-PlaySponsorship-Info.pdf" download>download our Sponsorship Packet</a>.
