---
title: Prototypes, Process &amp; Play
date: 2017-08-10 01:00 CDT
category: events
alias: prototypes-process-play
duration: August 10&#8211;11, 2017
location: Columbia College Film Row &ndash; Chicago
summary: Learn design leadership skills from Slack, Etsy, Adaptive Path/Capital One, United, and MasterCard - just to name a few!
---
- sponsors = ["Columbia College", "Jawhole", "Lead Honestly", "Rosenfeld", "Sketch", "Stolen"]
- keynotes = ["Jared Spool", "Jay Newton-Small", "Mike Davidson", "Scott Berkun"]
- speakers = ["Carmen Medina", "Dan Brown", "Donna Lichaw", "Eli Silva", "Lisa Welchman​", "Matthew Milan", "Sofia Millares", "Tami Evnin", "Dr. Steve Julius"]
- lightning = ["Julia Keren-Detar", "Nicole Maynard", "Suzanna Bierwirth"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Prototypes, Process &amp; Play
      %li
        %a(href="#overview" rel="nofollow") Overview
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketleap.com/prototypes-process--play-2017/dates/Aug-10-2017_at_0900AM" rel="nofollow") Register Now!

%section#overview.main-content
  .container

    %h3.h-section Conference Overview

    %h2
      Learn design leadership from the experts at
      %br
      = succeed "." do
        %strong Prototypes, Process, &amp; Play

    .event-cta
      %a.btn.btn-alt.btn-large(href="https://chicagocamps.ticketleap.com/prototypes-process--play-2017/dates/Aug-10-2017_at_0900AM" rel="nofollow")
        %strong Register Now for Prototypes, Process, &amp; Play
        %br
        Only $400!

    %p It&#8217;s a two-day, single-track conference featuring inspiring keynote speakers, accomplished design leaders, and experienced professionals from major brands and organizations.

    %p Curious about the name? It comes from our formula for effective design leadership:

    %table.ppp-overview
      %tr
        %td
          .ppp-overiew-title Experimentation
          .h-sm-caps-gray Prototypes
        %td.ppp-overiew-equal &#43;
        %td 
          .ppp-overiew-title Proven Methodologies
          .h-sm-caps-gray Process
        %td.ppp-overiew-equal  &#43;
        %td 
          .ppp-overiew-title Creative Exploration
          .h-sm-caps-gray Play

    %h3 Additional Speakers &amp; Sponsors Coming Soon

    %p We&#8217;re currently in discussions with additional speakers and sponsors. As we confirm additions to the program we&#8217;ll add them below. Until then, if you have any recommendations on <a href="/proposal/">speakers</a> or <a href="/contact/">sponsors</a> we&#8217;d love to hear from you!

    %h3 Meet Our Awesome Sponsors
    
    %p These great sponsors help us make Prototypes, Process &amp; Play affordable and accessible. These organizations see the value in design and design leadership&#8212;please show your support for the support they&#8217;ve shown us!

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section
      Program
      %span &amp;
      Schedule

    %p Hone your design leadership skills over two days with us at Columbia College Chicago. A carefully curated single-track approach ensures that you can attend every session and have a truly shared experience with other attendees and speakers.

    %h3
      .h-sm-caps-gray Day One
      Thursday, August 10th

    %table.event-schedule
      %tr
        %th.event-schedule-distributed
          %time(datetime="08:30") 8:30
          &#8212;
          %time(datetime="09:00") 9:00
        %td
          %strong Registration
      %tr
        %th
          %time(datetime="09:00") 9:00
          &#8212;
          %time(datetime="09:15") 9:15
        %td
          %strong Welcome to Prototypes, Process &amp; Play
      %tr
        %th
          %time(datetime="09:15") 9:15
          &#8212;
          %time(datetime="10:00") 10:00
        %td
          %a(href="#scott-berkun" rel="nofollow")
            %strong Scott Berkun
            .event-schedule-offset The Dance of the Possible (Keynote)
      %tr
        %th
          %time(datetime="10:00") 10:00
          &#8212;
          %time(datetime="10:45") 10:45
        %td
          %a(href="#matthew-milan" rel="nofollow")
            %strong Matthew Milan
            .event-schedule-offset Making Moonshots
      %tr
        %th
          %time(datetime="10:45") 10:45
          &#8212;
          %time(datetime="11:15") 11:15
        %td
          %strong Morning Break
      %tr
        %th
          %time(datetime="11:15") 11:15
          &#8212;
          %time(datetime="12:00") 12:00
        %td
          %a(href="#carmen-medina" rel="nofollow")
            %strong Carmen Medina
            .event-schedule-offset Lead Above Mediocre Thinking
      %tr
        %th
          %time(datetime="12:00") 12:00
          &#8212;
          %time(datetime="13:15") 1:15
        %td
          %strong Lunch Break
      %tr
        %th
          %time(datetime="13:15") 1:15
          &#8212;
          %time(datetime="13:30") 1:30
        %td
          %a(href="#julia-keren-detar" rel="nofollow")
            %strong Julia Keren Detar
            .event-schedule-offset Usability Testing &amp; Development on a Shoestring Budget
      %tr
        %th
          %time(datetime="13:30") 1:30
          &#8212;
          %time(datetime="13:45") 1:45
        %td
          %a(href="#nicole-maynard" rel="nofollow")
            %strong Nicole Maynard
            .event-schedule-offset Cultivating Happiness
      %tr
        %th
          %time(datetime="13:45") 1:45
          &#8212;
          %time(datetime="14:30") 2:30
        %td
          %a(href="#donna-lichaw" rel="nofollow")
            %strong Donna Lichaw
            .event-schedule-offset Leading With Story
      %tr
        %th
          %time(datetime="14:30") 2:30
          &#8212;
          %time(datetime="15:00") 3:00
        %td
          %strong Afternoon Break
      %tr
        %th
          %time(datetime="15:00") 3:00
          &#8212;
          %time(datetime="15:45") 3:45
        %td
          %a(href="#lisa-welchman" rel="nofollow")
            %strong Lisa Welchman
            .event-schedule-offset Governing with Intention
      %tr
        %th
          %time(datetime="15:45") 3:45
          &#8212;
          %time(datetime="16:30") 4:30
        %td
          %a(href="#foo" rel="nofollow")
            %strong Mike Davidson
            .event-schedule-offset Fireside Chat with Mike Davidson (Keynote)
      %tr
        %th
          %time(datetime="16:30") 4:30
          &#8212;
          %time(datetime="18:00") 6:00
        %td
          %strong Happy Hour

    %h3
      .h-sm-caps-gray Day Two
      Friday, August 11th

    %table.event-schedule
      %tr
        %th.event-schedule-distributed
          %time(datetime="08:30") 8:30
          &#8212;
          %time(datetime="09:00") 9:00
        %td
          %strong Registration
      %tr
        %th
          %time(datetime="09:00") 9:00
          &#8212;
          %time(datetime="09:15") 9:15
        %td
          %strong Welcome to Prototypes, Process &amp; Play
      %tr
        %th
          %time(datetime="09:15") 9:15
          &#8212;
          %time(datetime="10:00") 10:00
        %td
          %a(href="#jay-newton-small" rel="nofollow")
            %strong Jay Newton-Small
            .event-schedule-offset Broad Influence &#8211; How Women are Changing the Way America Works (Keynote)
      %tr
        %th
          %time(datetime="10:00") 10:00
          &#8212;
          %time(datetime="10:45") 10:45
        %td
          %a(href="#steve-julius" rel="nofollow")
            %strong Dr. Steve Julius
            .event-schedule-offset Getting a Seat at the Table and Keeping It!
      %tr
        %th
          %time(datetime="10:45") 10:45
          &#8212;
          %time(datetime="11:15") 11:15
        %td
          %strong Morning Break
      %tr
        %th
          %time(datetime="11:15") 11:15
          &#8212;
          %time(datetime="12:00") 12:00
        %td
          %a(href="#dan-brown" rel="nofollow")
            %strong Dan Brown
            .event-schedule-offset Curiosity, Skepticism, Humility: Achieving the Right Mindset for Design Discovery in Teams

      %tr
        %th
          %time(datetime="12:00") 12:00
          &#8212;
          %time(datetime="13:15") 1:15
        %td
          %strong Lunch Break
      %tr
        %th
          %time(datetime="13:15") 1:15
          &#8212;
          %time(datetime="13:30") 1:30
        %td
          -#
            %a(href="#foo" rel="nofollow")
              %strong Speaker TBA
          .event-schedule-offset Speaker TBA
      %tr
        %th
          %time(datetime="13:30") 1:30
          &#8212;
          %time(datetime="13:45") 1:45
        %td
          %a(href="#suzanna-bierwirth" rel="nofollow")
            %strong Suzanna Bierwirth
            .event-schedule-offset Managing Up, Down &amp; Sideways
      %tr
        %th
          %time(datetime="13:45") 1:45
          &#8212;
          %time(datetime="14:30") 2:30
        %td
          %a(href="#sofia-millares" rel="nofollow")
            %strong ​Sofia Millares &amp; Tami Evnin
            .event-schedule-offset World&#8217;s Best Boss: Lessons Learned from a New Design Leader
      %tr
        %th
          %time(datetime="14:30") 2:30
          &#8212;
          %time(datetime="15:00") 3:00
        %td
          %strong Afternoon Break
      %tr
        %th
          %time(datetime="15:00") 3:00
          &#8212;
          %time(datetime="15:45") 3:45
        %td
          %a(href="#eli silva" rel="nofollow")
            %strong Eli Silva
            .event-schedule-offset Designing for Diversity in Organization Design
      %tr
        %th
          %time(datetime="15:45") 3:45
          &#8212;
          %time(datetime="16:30") 4:30
        %td
          %a(href="#jared-spool" rel="nofollow")
            %strong Jared Spool
          .event-schedule-offset Design is a Team Sport (Keynote)
      %tr
        %th
          %time(datetime="16:30") 4:30
          &#8212;
          %time(datetime="17:00") 5:00
        %td
          %strong Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section About Our Speakers

    %p Great thinking on design leadership is found in many forms in many industries. We&#8217;ve curated an incredible lineup of design experts, mentors, and coaches from diverse fields to help you down your own leadership path. Our single-track format ensures you&#8217;ll get to learn from every one of them.

    - content_for :talk_carmen_medina do

      %h3 Lead Above Mediocre Thinking

      %p When we engage in design thinking for our teams and projects, it&#8217;s easy to emphasize Design over the Thinking. Leaders know that we need to slow down to speed up; plan and think more to prevent rework and waste. Sometimes, we invest more in the work and the artifacts over finding the right ways to work together and create a shared understanding before moving toward a goal. Carmen Medina spent her entire career working with a diverse set of people and she had to find ways to create a shared space for collaboration&#8211;and she&#8217;ll show you how to focus on HOW teams work over WHAT the work is that&#8217;s being done.

      %p All of this, regardless of whether or not you have a security clearance!

    - content_for :talk_dan_brown do

      %h3 Curiosity, Skepticism, Humility: Achieving the Right Mindset for Design Discovery in Teams

      %p Discovery, the first part of the design process, is crucial for aligning teams and leading them to design success. A well-aligned team works toward the same goal, and brings out the best in each other because they all understand what their trying to achieve.

      %p Discovery can take many forms: a multi-month endeavor to prepare for a complex business application, or a four-day &#8220;sprint&#8221; to align the team around a vision for a new product. Whatever the form, however, teams are prepping and priming themselves to do detailed design and development work.

      %p Discovery is complicated, chaotic, and messy. In discovery, teams gather information about the problem and then explore different ways to tackle it. Through critical thinking, they refine their understanding of the problem and zero-in on a concrete plan for execution. Discovery requires participants to shift attitudes and perspectives almost constantly. Team members go from &#8220;tell me more about&#8221; to &#8220;how about this idea&#8221; in the blink of an eye.

      %p To pull this off successfully, team members need to embrace a discovery mindset. This attitude emphasizes learning. It relies on team members maintaining an open mind, questioning everything, and above all not taking themselves too seriously.

      %p In this session, we&#8217;ll look at why this attitude is important, how it affects your team&#8217;s approach to discovery, and ways you can cultivate this mindset in yourself and those you lead.

    - content_for :talk_donna_lichaw do

      %h3 Leading With Story

      %p Getting others to listen to you is hard. Whether those people are your team members, peers across your organization, the c-suite, or a board up above, you need to inspire them and move them to action to be most effective at your job. 

      %p Storytelling is one of the most powerful ways you can get people to listen to you and to move them to action. But in a business context, the stories that you tell are only as effective as the stories that you build&#8230; and get others to build with you. We&#8217;ll look at how story drives some of the most successful product and service&#8211;driven organizations out there. Learn how story sparks systemic design thinking, collaboration, and innovation that enables you to more effectively build successful products and services that people get excited to work on&#8230; and use.

    - content_for :talk_eli_silva do

      %h3 Designing for Diversity in Organization Design

      %p The lack of diversity in design organizations is a fact that we can design for. We can drive innovation and increase creativity, but we have to be honest about what&#8217;s holding us back. Eli Silva will outline ways to design cultures that support design thinking, organizational growth, and diversity in the workplace.

      %p Great design is the result of hard work and cultures that foster empathy, creativity, listening, and honest conversations. These happen to be the groundwork for diversity, so why is diversity still such a challenge in technology and in design organizations in particular?

      %p In this talk you will learn practical steps toward designing for diversity—including quick tips on how to audit your processes and practices today. Learn how to effectively consider minorities and underrepresented groups in your approach to hiring, everyday work, and leadership development. The result of diverse design organizations is products that increasingly reflect actual people, across the age, gender, and income spectrum. That&#8217;s something worth working for.

    - content_for :talk_jared_spool do

      %h3 Design is a Team Sport

      %p Every seasoned designer has fallen into the trap. They see the bad design in front of them. They can&#8217;t help but see how bad it is. And they want to redesign it. Show the world how it could be done. How it should be done.

      %p Well-intentioned as the desire to rid the world of this bad design is, their approach often is a disaster. It pushes their allies away, accidentally giving off the air of superiority filled with the smells of arrogance and contempt.

      %p An alternative is a well-designed process for creating your designs. The secret sauce in that well-designed process is a realization and inclusiveness of everyone on the team. It&#8217;s infused with an understanding of how people contribute to the design process, even when they aren&#8217;t trained in design skills. And it opens up opportunities to give everyone—not just your trained designers—the superpowers necessary to rid your products and services of bad design.

      %p This talk will inspire you and your team to:

      %ul.list-ul
        %li Realize the reason everyone thinks they are a designer is they are a designer, however unskilled
        %li Learn that our design processes need to be designed, with intention and thoughtfulness
        %li Focus on helping every contributing influencer of your designs become a consciously competent designer themselves

    - content_for :talk_jay_newton_small do

      %h3 Broad Influence &#8211; How Women are Changing the Way America Works

      %p Executive office has proven the hardest glass ceiling to break. Less than 5% of Fortune 1000 CEOs are women, just 18% of America&#8217;s mayors, 12% of governors and, of course, zero presidents. There&#8217;s a huge body of research that shows, whether it&#8217;s a legislature, a corporate board, a Navy ship, or an appellate court, when women reach between 20-30% of the leadership at any given organization it&#8217;s a tipping point and they begin to change how things are done &#8211; for the better. Jay shows where we&#8217;re reaching that tipping point &#8211; all three branches of the government &#8211; and the areas where we not &#8211; such as Silicon Valley and Wall Street, and why it&#8217;s important for us to get to critical mass across the board.

    - content_for :talk_julia_keren_detar do

      %h3 Usability Testing &amp; Development on a Shoestring Budget

      %p As an indie game studio, we had a shoestring budget for developing Mushroom 11, an award winning video game on desktop and mobile. This talk will explain how we used prototyping to make fast iterations on our design and how we used trade shows and other marketing events as ways to collect user data which informed our design process throughout development.

    - content_for :talk_lisa_welchman do
      
      %h3 Governing with Intention
      
      %p Our digital future is upon us, and we already need more mature approaches toward governing digital channels. We need to be clear about the roles and responsibilities of those who conceive of&#8211;and deliver&#8211;that which is being consumed online. We also need to be intentional about what is being built; and our design teams will need to be organized to meet the goals of our users. Lisa will focus on the decision-making aspect of digital governance and how organizations and groups can better organize teams to work efficiently, ethically, and creatively.

      %p The first 20 years of digital have focused on growth, technology building, and finding new ways to exploit the capacity of digital. Hopefully, the next 20 will be the beginning of a maturity process where individuals, organizations, and governments will not only continue the expansion of digital, but also thinking more comprehensively about the impact of what is built and delivered. 

    - content_for :talk_matthew_milan do

      %h3 Making Moonshots

      %p A critical part of leadership is the reduction of ambiguity for your team. Your job is to make it clear, so the team can work towards the goals you&#8217;ve set. The reality is that many of the goals you&#8217;re setting are make-or-break for the future of your organization. If you work in a field like design or innovation, you&#8217;re probably already sick of hearing the word &#8220;moonshot.&#8221; Maybe you&#8217;ve even been part of one, or more likely, you&#8217;ve unwittingly part of many. As a leader, moonshots are part of the job.
 
      %p There&#8217;s just one problem with the &#8220;moonshot&#8221; approach: the real moonshot wasn&#8217;t a single giant leap forward. It was a series of incremental experiments designed to test the riskiest parts of going to the moon, as soon as possible. This approach put humans on the moon within a decade of Kennedy&#8217;s famous speech, and it&#8217;s the same approach that the best innovators like Elon Musk use to get rapid traction on the hardest and most complex problems of our times.

      %p This session will demystify complex, challenging &#8220;moonshot&#8221; initiatives and give you a set of principles and practices that you can use to wrestle the riskiest innovation challenges to the ground. You&#8217;ve already got the tools: research, prototyping, planning and production. Now, let&#8217;s help you to connect them together with the right questions and perspectives, getting the traction you need make innovation work practical and successful.

    - content_for :talk_nicole_maynard do

      %h3 Cultivating Happiness

      %p Neuroscience explains the delicate sparks that can either create happiness or make it elusive. Happiness has power&#8211;it makes us more productive, engaged and creative. When we&#8217;re feeling good, we are better able to create delightful experiences and have that positivity trickle into everything we touch. Let&#8217;s take a look at methods for cultivating happiness within ourselves so we can propagate it for others.  

    - content_for :talk_scott_berkun do

      %h3 The Dance of the Possible 

      %p You work with ideas, big and small, all day long&#8211;isn&#8217;t it time you learn the deep patterns that explain your successes and failures? This short and fun presentation, based on a new book will share timeless patterns and entertaining insights that can help you be more creative and productive all at the same time. From finding creative confidence to getting better feedback, you&#8217;ll be entertained as you&#8217;re challenged to think differently about thinking. Bring your toughest questions and situations and get useful and entertaining advice during this heavily interactive session. 

    - content_for :talk_steve_julius do

      %h3 Getting a Seat at the Table and Keeping It!

      %p Design is now finding it has a seat at the leadership table, but is it/are you viewed as a practitioner of an arcane science that is called upon to facilitate business processes? Or, are you also routinely called upon to contribute to the overall business strategy at the company&#8211;wide or departmental level? Building strong, domain capability will maintain your status as a design expert, but it won&#8217;t lead to your being trusted as someone who can help build the overall business strategy. That requires a complementary set of skills. 

      %p Talk to any CEO in organizations small and large and she will tell you about the critical role technology—and design&#8211;play in that business&#8217; success. Ask that same CEO to describe how the design functions contribute to the day-to-day operation and it&#8217;s likely she will describe an enabling or support role. Dr. Steve Julius will describe how you can contribute to significant value creation as a strategic business partner, while maintaining and even enhancing your status as a design expert.

    - content_for :talk_suzanna_bierwirth do

      %h3 Managing Up, Down &amp; Sideways
      
      %p Congrats&#8211;you finally got promoted! You&#8217;ve gotten your seat at the table and now you&#8217;re learning that it&#8217;s no longer just about the work. It&#8217;s also about the politics within your own organization and the clients. These tips are what I have learned over the years&#8211;from Junior Art Director to Chief Creative Officer&#8211;and none of them involve kissing ass or sucking up. It&#8217;s all about empathy.

    - content_for :talk_tami_evnin do

      %h5.lineup-subtitle.h-sm-caps-gray Sofia &amp; Tami present:
      
      %h3 World&#8217;s Best Boss: Lessons Learned from a New Design Leader

      %p What happens when you&#8217;re asked to step-up and lead the work of the design team or to manage your fellow designers for the first time? Most of us envision ourselves sketching ideas, designing solutions, or prototyping our days away, forever in our happy place. And we&#8217;re no different&#8211;we had no idea what to expect, beyond knowing what we saw that we thought was good or&#8230; not so good. We became new design managers and had to learn how to navigate our new responsibilities&#8211;to our boss and to our former peers&#8211;while trying to lead others to be successful as designers.

      %p We faced a lot of challenges, and learned a lot about ourselves, our teams, and our boss. We&#8217;re going to share some tools and techniques that have helped us become better at leading our teams, and delivering to those who count on all of us. And we&#8217;re still working on becoming the best bosses in the world.

    %h3 Keynotes
    = partial "partials/events/speakers", locals: {speakers: keynotes}

    %h3 Sessions
    = partial "partials/events/speakers", locals: {speakers: speakers}

    %h3 Lightning
    = partial "partials/events/speakers", locals: {speakers: lightning}

    .event-cta
      %a.btn.btn-alt.btn-large(href="https://chicagocamps.ticketleap.com/prototypes-process--play-2017/dates/Aug-10-2017_at_0900AM" rel="nofollow")
        %strong Register Now for Prototypes, Process, &amp; Play
        %br
        Only $400!

%section#location.main-content
  .container

    %h3.h-section Location Details

    %h2
      Columbia College Film Row
      .lineup
        %a.a-chevron-right(href="https://goo.gl/maps/Vp7xk") 1104 South Wabash Avenue, 8th Floor, Chicago, IL 60605

    %p We are big fans of our venue and sponsor: Columbia College in Chicago. Columbia is a great place to learn and upgrade your design skills and we&#8217;re excited to host our inaugural Prototypes, Process &amp; Play with them!

    .grid

      .event-location-venue
        .event-location-media
          %figure= image_tag "events/locations/columbia-college.jpg", class: "frame", alt: "Columbia College"

        %h3 About Columbia College

        %p Columbia College Chicago is an institution of higher education specializing in arts and media disciplines, with nearly 12,000 students pursuing degrees within 120 undergraduate and graduate programs.

        %p Check out <a href="http://www.colum.edu/" rel="nofollow">Columbia College</a>.

      .event-location-area
        .event-location-media
          %figure
            %iframe.frame(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.105065873076!2d-87.62611649999995!3d41.86908589999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c9bb5532bd3%3A0x6629a25ea0b3cfe4!2s1104+S+Wabash+Ave%2C+Chicago%2C+IL+60605!5e0!3m2!1sen!2sus!4v1422745233180")

        %h3 Where to Park?

        %p There are several easy-access <a href="http://www.parkwhiz.com/search/?destination=1104+S+Wabash+Ave%2C+Chicago%2C+IL+60605%2C+USA" rel="nofollow">parking garages</a> available in the surrounding blocks.

        %h3
          %a(href="http://bookings.ihotelier.com/bookings.jsp?groupID=1734630&hotelID=5054" rel="nofollow") The Congress Plaza Hotel

        %p Coming from out of town? We&#8217;ve set up a special rate for attendees at <a href="http://bookings.ihotelier.com/bookings.jsp?groupID=1734630&hotelID=5054" rel="nofollow">The Congress Plaza Hotel</a> on Michigan Avenue in the heart of Chicago.

    .event-cta
      %a.btn.btn-alt.btn-large(href="https://chicagocamps.ticketleap.com/prototypes-process--play-2017/dates/Aug-10-2017_at_0900AM" rel="nofollow")
        %strong Register Now for Prototypes, Process, &amp; Play
        %br
        Only $400!
        
%section.main-content
  .container

    %h3.h-section Sponsorship Opportunities

    %p We want to be the easiest partner you&#8217;ve ever worked with&#8211;even at the traditional conference level! With that as our guiding mantra, all of our Prototypes, Process &amp; Play sponsorships are $1,500.

    %p Prototypes, Process &amp; Play has many different options available that are comparable to any other large scale event, and we&#8217;re happy to work with you to create something custom to meet your needs. We&#8217;ve got a great event planned and we&#8217;d love to talk to you about how we can partner with you!

    %p If you&#8217;re interested in sponsoring Prototypes, Process &amp; Play and getting in front of the people who are driving the future of design, <a href="/contact/">contact us</a> or <a href="/assets/packets/Prototypes-Process-PlaySponsorship-Info.pdf" download>download our Sponsorship Packet</a>.
