---
title: Prototypes, Process &amp; Play
date: 2018-08-09 01:00 CDT
category: events
alias: prototypes-process-play
duration: August 9&#8211;10, 2018
location: Columbia College Film Row &ndash; Chicago
summary: Learn design leadership skills from Twitter, Pivotal Labs, Nasdaq, and Hyatt - just to name a few!
---
- sponsors = ["Balsamiq", "Columbia College", "Lead Honestly", ]
- keynotes = ["Antionette Carroll", "Kim Goodwin"]
- speakers = ["Amy Jiménez Marquez", "Andy Budd", "Bennett King", "Debra Gelman", "Elizabeth Goodman", "Kara DeFrias", "Meg Lewis", "Peter Merholz", "Tanya Snook"]
- lightning = ["Adam McCrimmon"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Prototypes, Process &amp; Play
      %li
        %a(href="#overview" rel="nofollow") Overview
      -#
        %li
          %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketleap.com/prototypes-process--play-2018/" rel="nofollow")
      Join Us for
      %strong Only $300

%section#overview.main-content
  .container

    %h3.h-section Conference Overview

    %h2
      Learn design leadership from the experts at
      %br
      = succeed "." do
        %strong Prototypes, Process, &amp; Play

    %figure.frame.margin-bottom
      .promo-video-frame
        %iframe.promo-video(src="https://player.vimeo.com/video/234689705?byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

    %p It&#8217;s a two-day, single-track conference featuring inspiring keynote speakers, accomplished design leaders, and experienced professionals from major brands and organizations.

    %p Curious about the name? It comes from our formula for effective design leadership:

    %table.ppp-overview
      %tr
        %td
          .ppp-overiew-title Experimentation
          .h-sm-caps-gray Prototypes
        %td.ppp-overiew-equal &#43;
        %td 
          .ppp-overiew-title Proven Methodologies
          .h-sm-caps-gray Process
        %td.ppp-overiew-equal  &#43;
        %td 
          .ppp-overiew-title Creative Exploration
          .h-sm-caps-gray Play

    %p Sign up now&#8211;these tickets go fast!

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/prototypes-process--play-2018/" rel="nofollow")
        Join Us for Only $300 &#8212; Limited Tickets Available

    %h3 Meet Our Awesome Sponsors
    
    %p These great sponsors help us make Prototypes, Process &amp; Play affordable and accessible. These organizations see the value in design and design leadership&#8212;please show your support for the support they&#8217;ve shown us!

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

-#
  %section#schedule.main-content.main-bg-highlight
    .container

      %h3.h-section
        Program
        %span &amp;
        Schedule

      %p Hone your design leadership skills over two days with us at Columbia College Chicago. A carefully curated single-track approach ensures that you can attend every session and have a truly shared experience with other attendees and speakers.

      .event-cta
        %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/prototypes-process--play-2018/" rel="nofollow")
          Join Us for Only $300 &#8212; Limited Tickets Available

      %h3
        .h-sm-caps-gray Day One
        Thursday, August 10th

      %table.event-schedule
        %tr
          %th.event-schedule-distributed
            %time(datetime="08:30") 8:30
            &#8212;
            %time(datetime="09:00") 9:00
          %td
            %strong Registration
        %tr
          %th
            %time(datetime="09:00") 9:00
            &#8212;
            %time(datetime="09:15") 9:15
          %td
            %strong Welcome to Prototypes, Process &amp; Play
        %tr
          %th
            %time(datetime="09:15") 9:15
            &#8212;
            %time(datetime="10:00") 10:00
          %td
            %a(href="#scott-berkun" rel="nofollow")
              %strong Scott Berkun
              .event-schedule-offset The Dance of the Possible (Keynote)
        %tr
          %th
            %time(datetime="10:00") 10:00
            &#8212;
            %time(datetime="10:45") 10:45
          %td
            %a(href="#matthew-milan" rel="nofollow")
              %strong Matthew Milan
              .event-schedule-offset Making Moonshots
        %tr
          %th
            %time(datetime="10:45") 10:45
            &#8212;
            %time(datetime="11:15") 11:15
          %td
            %strong Morning Break
        %tr
          %th
            %time(datetime="11:15") 11:15
            &#8212;
            %time(datetime="12:00") 12:00
          %td
            %a(href="#carmen-medina" rel="nofollow")
              %strong Carmen Medina
              .event-schedule-offset Lead Above Mediocre Thinking
        %tr
          %th
            %time(datetime="12:00") 12:00
            &#8212;
            %time(datetime="13:15") 1:15
          %td
            %strong Lunch Break
        %tr
          %th
            %time(datetime="13:15") 1:15
            &#8212;
            %time(datetime="13:30") 1:30
          %td
            %a(href="#julia-keren-detar" rel="nofollow")
              %strong Julia Keren Detar
              .event-schedule-offset Usability Testing &amp; Development on a Shoestring Budget
        %tr
          %th
            %time(datetime="13:30") 1:30
            &#8212;
            %time(datetime="13:45") 1:45
          %td
            %a(href="#nicole-maynard" rel="nofollow")
              %strong Nicole Maynard
              .event-schedule-offset Cultivating Happiness
        %tr
          %th
            %time(datetime="13:45") 1:45
            &#8212;
            %time(datetime="14:30") 2:30
          %td
            %a(href="#donna-lichaw" rel="nofollow")
              %strong Donna Lichaw
              .event-schedule-offset Leading With Story
        %tr
          %th
            %time(datetime="14:30") 2:30
            &#8212;
            %time(datetime="15:00") 3:00
          %td
            %strong Afternoon Break
        %tr
          %th
            %time(datetime="15:00") 3:00
            &#8212;
            %time(datetime="15:45") 3:45
          %td
            %a(href="#lisa-welchman" rel="nofollow")
              %strong Lisa Welchman
              .event-schedule-offset Governing with Intention
        %tr
          %th
            %time(datetime="15:45") 3:45
            &#8212;
            %time(datetime="16:30") 4:30
          %td
            %a(href="#mike-davidson" rel="nofollow")
              %strong Mike Davidson
              .event-schedule-offset Fireside Chat with Mike Davidson (Keynote)
        %tr
          %th
            %time(datetime="16:30") 4:30
            &#8212;
            %time(datetime="18:00") 6:00
          %td
            %strong Happy Hour

      %h3
        .h-sm-caps-gray Day Two
        Friday, August 11th

      %table.event-schedule
        %tr
          %th.event-schedule-distributed
            %time(datetime="08:30") 8:30
            &#8212;
            %time(datetime="09:00") 9:00
          %td
            %strong Registration
        %tr
          %th
            %time(datetime="09:00") 9:00
            &#8212;
            %time(datetime="09:15") 9:15
          %td
            %strong Welcome to Prototypes, Process &amp; Play
        %tr
          %th
            %time(datetime="09:15") 9:15
            &#8212;
            %time(datetime="10:00") 10:00
          %td
            %a(href="#jay-newton-small" rel="nofollow")
              %strong Jay Newton-Small
              .event-schedule-offset Broad Influence &#8211; How Women are Changing the Way America Works (Keynote)
        %tr
          %th
            %time(datetime="10:00") 10:00
            &#8212;
            %time(datetime="10:45") 10:45
          %td
            %a(href="#steve-julius" rel="nofollow")
              %strong Dr. Steve Julius
              .event-schedule-offset Getting a Seat at the Table and Keeping It!
        %tr
          %th
            %time(datetime="10:45") 10:45
            &#8212;
            %time(datetime="11:15") 11:15
          %td
            %strong Morning Break
        %tr
          %th
            %time(datetime="11:15") 11:15
            &#8212;
            %time(datetime="12:00") 12:00
          %td
            %a(href="#dan-brown" rel="nofollow")
              %strong Dan Brown
              .event-schedule-offset Curiosity, Skepticism, Humility: Achieving the Right Mindset for Design Discovery in Teams

        %tr
          %th
            %time(datetime="12:00") 12:00
            &#8212;
            %time(datetime="13:15") 1:15
          %td
            %strong Lunch Break
        %tr
          %th
            %time(datetime="13:15") 1:15
            &#8212;
            %time(datetime="13:30") 1:30
          %td
            %a(href="#kathi-kaiser" rel="nofollow")
              %strong Kathi Kaiser
            .event-schedule-offset How to Design a Company
        %tr
          %th
            %time(datetime="13:30") 1:30
            &#8212;
            %time(datetime="13:45") 1:45
          %td
            %a(href="#suzanna-bierwirth" rel="nofollow")
              %strong Suzanna Bierwirth
              .event-schedule-offset Managing Up, Down &amp; Sideways
        %tr
          %th
            %time(datetime="13:45") 1:45
            &#8212;
            %time(datetime="14:30") 2:30
          %td
            %a(href="#sofia-millares" rel="nofollow")
              %strong ​Sofia Millares &amp; Tami Evnin
              .event-schedule-offset World&#8217;s Best Boss: Lessons Learned from a New Design Leader
        %tr
          %th
            %time(datetime="14:30") 2:30
            &#8212;
            %time(datetime="15:00") 3:00
          %td
            %strong Afternoon Break
        %tr
          %th
            %time(datetime="15:00") 3:00
            &#8212;
            %time(datetime="15:45") 3:45
          %td
            %a(href="#eli-silva" rel="nofollow")
              %strong Eli Silva
              .event-schedule-offset Designing for Diversity in Organization Design
        %tr
          %th
            %time(datetime="15:45") 3:45
            &#8212;
            %time(datetime="16:30") 4:30
          %td
            %a(href="#jared-spool" rel="nofollow")
              %strong Jared Spool
            .event-schedule-offset Design is a Team Sport (Keynote)
        %tr
          %th
            %time(datetime="16:30") 4:30
            &#8212;
            %time(datetime="17:00") 5:00
          %td
            %strong Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section About Our Speakers

    %p Great thinking on design leadership is found in many forms in many industries. We&#8217;ve curated an incredible lineup of design experts, mentors, and coaches from diverse fields to help you down your own leadership path. Our single-track format ensures you&#8217;ll get to learn from every one of them.

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/prototypes-process--play-2018/" rel="nofollow")
        Join Us for Only $300 &#8212; Limited Tickets Available

    - content_for :talk_andy_budd do

      %h3 The Accidental Design Leader

      %p Andy first came to prominence in our industry as a designer and web standards enthusiast. He was driven by a desire to improve and professionalise the industry, which is how he came to start the UKs first user experience consultancy, Clearleft. He never set out to be a design leader, but now find himself leading a team of thirty people, almost by accident. 

      %p In a quest to understand what makes a great leader, and help his friends in newly minted leadership positions, Andy started the Leading Design conference and Slack community. Over the past 18 months, Andy has interviewed dozens of prominent leaders and listened in on hundreds of Slack conversations about the art and craft of leadership. 

      %p In this session, Andy recounts his journey into leadership, shares his successes and failures, and the important lessons he&#8217;s learned on the way. The result is a talk packed full of design leadership heuristics suitable for leaders of all shapes, sizes, levels and seniorities.

    - content_for :talk_adam_mccrimmon do

      %h3 A Tale of Two Kickstarters
      
      %p Have you ever wondered what it would be like to take your big idea and run a Kickstarter campaign? Have you ever wondered why the heck those Kickstarters you funded took so long, didn&#9217;t deliver as expected, or in general frustrated you?

      %p I&#9217;m going to walk you through what it&#9217;s like to go through our first Kickstarter&ndash;and share with you all the things we learned along the way. By the time this event happens, we&#9217;ll have also gone through a second campaign, and if it&#9217;s successful or fails dramatically, I&#9217;ll have even more of a story to share!

    - content_for :talk_kara_defrias do

      %h3 The Leaders Guide to the Care and Feeding of Humans

      %p Health and wellness of an organization&#8217;s or project&#8217;s performance can be relatively simple. In a snapshot we can know a lot&ndash;dashboards and metrics tell us lots about how well our work is progressing, what mile stones we&#8217;re reaching, and what color-coded alert state of panic we should be in. And we can optimize our way into just about any green-colored diagram we choose.

      %p Teams, and the humans that comprise them, are fascinatingly complex and complicated. In a snapshot, we can fool ourselves into believing all kinds of things about them. And yet, we can&#8217;t really know for sure unless we dive in deeper and learn about their health, their needs, and try to help them optimize for their individual successes. In this presentation, Kara shares her approach to the care and feeding of humans, sharing lessons gleaned from working at the highest echelons of sports, entertainment, government, and technology.

    - content_for :talk_kim_goodwin do

      %h3 Context/Leader Fit

      %p Any seasoned designer or PM knows the importance of context: users, goals, environments, and business needs all shape the &#8220;best&#8221; solution to a given problem. And yet, designers and leaders frequently assume that a process, skill set, or attitude that worked in one place is the one right answer. Kim will discuss:

      %ul.list-ul
        %li What characteristics of organizations demand different things from leaders
        %li How to assess your leadership effectiveness within a given context
        %li How to find your own context/leader fit

    - content_for :talk_meg_lewis do

      %h3 Full Time You

      %p There&#8217;s no one like you on this planet, so why have a career like anyone else? Traditional career paths, like fitting into a one-size-fits-all job description and letting higher-ups determine our success, don&#8217;t work for everyone. What if there was a new path that was paved just for you? Let&#8217;s ditch the separation of work/life and embrace a new life where you get paid to be yourself! Champion your unique personality, strengths, and values to grow your life and career!

      %p During this fun and interactive talk, we&#8217;ll cut deep into your squishy core and find what makes you, you! Grab your metaphorical lantern and head into the depths of your true self as we create an actionable plan for your future life and career as a leader.

      %p This talk will help you identify the qualities that make you unique and translate them to a career only you can have. Meg will coach you through defining a life&#8217;s purpose that will drive your career and life decisions. At the end, she&#8217;ll guide you through creating team and relationship guidelines that help fulfill your purpose and advance your career. You&#8217;ll leave feeling confident and excited knowing your team needs your unique abilities.

    - content_for :talk_peter_merholz do

      %h3 Coach, Diplomat, Advocate, Architect: The Complete Design Leader

      %p A challenge many designers face as they embrace leadership is learning how to let go of the work. All through their career, their success has been measured by their ability to deliver. Now they have to figure out how to shift their efforts to support the delivery of their teams. This may lead to an existential crisis &ndash; &#8220;If I&#8217;m not doing the work, how am I contributing value?&#8221;

      %p In this talk, Peter will outline the four archetypes of the Complete Design Leader. This leader grows their design team, provides clear expectations, and does everything they can to ensure the team&#8217;s effectiveness. These leaders must broaden their purview beyond creative matters, into the managerial and operational activities that will enable their team to succeed.

    %h3 Keynotes
    = partial "partials/events/speakers", locals: {speakers: keynotes}

    %h3 Sessions
    = partial "partials/events/speakers", locals: {speakers: speakers}

    %h3 Lightning
    = partial "partials/events/speakers", locals: {speakers: lightning}

%section#location.main-content
  .container

    %h3.h-section Location Details

    %h2
      Columbia College Film Row
      .lineup
        %a.a-chevron-right(href="https://goo.gl/maps/Vp7xk") 1104 South Wabash Avenue, 8th Floor, Chicago, IL 60605

    %p We are big fans of our venue and sponsor: Columbia College in Chicago. Columbia is a great place to learn and upgrade your design skills and we&#8217;re excited to host our inaugural Prototypes, Process &amp; Play with them!

    .grid

      .event-location-venue
        .event-location-media
          %figure= image_tag "events/locations/columbia-college.jpg", class: "frame", alt: "Columbia College"

        %h3 About Columbia College

        %p Columbia College Chicago is an institution of higher education specializing in arts and media disciplines, with nearly 12,000 students pursuing degrees within 120 undergraduate and graduate programs.

        %p Check out <a href="http://www.colum.edu/" rel="nofollow">Columbia College</a>.

      .event-location-area
        .event-location-media
          %figure
            %iframe.frame(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.105065873076!2d-87.62611649999995!3d41.86908589999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c9bb5532bd3%3A0x6629a25ea0b3cfe4!2s1104+S+Wabash+Ave%2C+Chicago%2C+IL+60605!5e0!3m2!1sen!2sus!4v1422745233180")

        %h3 Where to Park?

        %p There are several easy-access <a href="http://www.parkwhiz.com/search/?destination=1104+S+Wabash+Ave%2C+Chicago%2C+IL+60605%2C+USA" rel="nofollow">parking garages</a> available in the surrounding blocks.

        %h3
          %a(href="https://reservations.travelclick.com/5054?groupID=2112591&hotelID=5054#/guestsandrooms" rel="nofollow") The Congress Plaza Hotel

        %p Coming from out of town? We&#8217;ve set up a special rate for attendees at <a href="http://bookings.ihotelier.com/bookings.jsp?groupID=1734630&hotelID=5054" rel="nofollow">The Congress Plaza Hotel</a> on Michigan Avenue in the heart of Chicago.
        
%section.main-content
  .container

    %h3.h-section Sponsorship Opportunities

    %p We want to be the easiest partner you&#8217;ve ever worked with&#8211;even at the traditional conference level! With that as our guiding mantra, all of our Prototypes, Process &amp; Play sponsorships are $1,500.

    %p Prototypes, Process &amp; Play has many different options available that are comparable to any other large scale event, and we&#8217;re happy to work with you to create something custom to meet your needs. We&#8217;ve got a great event planned and we&#8217;d love to talk to you about how we can partner with you!

    %p If you&#8217;re interested in sponsoring Prototypes, Process &amp; Play and getting in front of the people who are driving the future of design, <a href="/contact/">contact us</a> or <a href="/assets/packets/Prototypes-Process-PlaySponsorship-Info.pdf" download>download our Sponsorship Packet</a>.
