---
title: Leadership by Design
date: 2019-08-07 01:00 CDT
category: events
alias: leadership-by-design
duration: August 7&#8211;9, 2019
location: Columbia College Film Row &ndash; Chicago
summary: Join us in Chicago to up your design leadership skills to drive products and organizations forward
---
- sponsors = ["Balsamiq", "Columbia College", "Lead Honestly"]
- keynotes = ["Maggie Hsu Wagner", "Scott Berkun", "Todd Zaki Warfel"]
- speakers = ["Andrea Mignolo", "Anne Hjortshoj", "Chris Avore", "Eduardo Ortiz", "Emileigh Barnes", "Jen Tress", "Karen VanHouten", "Pasha Moore"]
- lightning = ["Helen Keighron"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Leadership by Design
      %li
        %a(href="#overview" rel="nofollow") Overview
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketleap.com/leadership-by-design-2019/dates/Aug-07-2019_at_0830AM" rel="nofollow")
      Join Us for
      %strong Only $300

%section#overview.main-content
  .container

    %h3.h-section Conference Overview

    %h2
      Learn design leadership from the experts at
      %br
      = succeed "." do
        %strong Leadership by Design

    -#
      %figure.frame.margin-bottom
        .promo-video-frame
          %iframe.promo-video(src="https://player.vimeo.com/video/234689705?byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

    %p It&#8217;s a two-day, single-track conference featuring inspiring keynote speakers, accomplished design leaders, and experienced professionals from major brands and organizations.

    %p For 2019, we&#8217;re adding optional workshops on Wednesday, August 7th (workshops are a separate, additional cost from the conference itself) to help hone your leadership skills. More information soon!

    %p Sign up now&#8211;these tickets go fast!

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/leadership-by-design-2019/dates/Aug-07-2019_at_0830AM" rel="nofollow")
        Join Us for Only $300 &#8212; Limited Tickets Available

    %h3 Meet Our Awesome Sponsors
    
    %p These great sponsors help us make Leadership by Design affordable and accessible. These organizations see the value in design and design leadership&#8212;please show your support for the support they&#8217;ve shown us!

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section
      Program
      %span &amp;
      Schedule

    %p Hone your design leadership skills over two days with us at Columbia College Chicago. A carefully curated single-track approach ensures that you can attend every session and have a truly shared experience with other attendees and speakers.

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/leadership-by-design-2019/dates/Aug-07-2019_at_0830AM" rel="nofollow")
        Join Us for Only $300 &#8212; Limited Tickets Available

    %h3
      .h-sm-caps-gray Day Zero &mdash; Wednesday, August 7th
      Workshops

    %table.event-schedule
      %tr
        %th.event-schedule-distributed
          %time(datetime="08:15") 8:15
          &#8212;
          %time(datetime="09:00") 9:00
        %td(colspan="2")
          %strong Registration
      %tr
        %th Room
        %td.event-schedule-distributed-2-col
          %strong 1
        %td.event-schedule-distributed-2-col
          %strong 2
      %tr
        %th
          %time(datetime="09:00") 9:00
          &#8212;
          %time(datetime="12:00") 12:00
        %td
          %a(href="#todd-zaki-warfel" rel="nofollow")
            %strong.event-schedule-room(data-room="1") Todd Zaki Warfel
          .event-schedule-offset The Design Leadership Playbook
        %td
          %a(href="#karen-vanhouten" rel="nofollow")
            %strong.event-schedule-room(data-room="2") Karen VanHouten
          .event-schedule-offset Healthier Teams by Design
      %tr
        %th
          %time(datetime="12:00") 12:00
          &#8212;
          %time(datetime="13:00") 1:00
        %td(colspan="2")
          %strong Lunch Break
      %tr
        %th
          %time(datetime="13:00") 1:00
          &#8212;
          %time(datetime="16:00") 4:00
        %td
          %a(href="#todd-zaki-warfel" rel="nofollow")
            %strong.event-schedule-room(data-room="1") Todd Zaki Warfel
          .event-schedule-offset The Design Leadership Playbook
        %td
          %a(href="#karen-vanhouten" rel="nofollow")
            %strong.event-schedule-room(data-room="2") Karen VanHouten
          .event-schedule-offset Healthier Teams by Design

    %h3
      .h-sm-caps-gray Day One &mdash; Thursday, August 8th
      Politics &amp; Influence

    %table.event-schedule
      %tr
        %th.event-schedule-distributed
          %time(datetime="08:15") 8:15
          &#8212;
          %time(datetime="09:00") 9:00
        %td
          %strong Registration
      %tr
        %th
          %time(datetime="09:00") 9:00
          &#8212;
          %time(datetime="09:15") 9:15
        %td
          %strong Welcome to Leadership by Design
      %tr
        %th
          %time(datetime="09:15") 9:15
          &#8212;
          %time(datetime="10:00") 10:00
        %td
          %a(href="#maggie-hsu-wagner" rel="nofollow")
            %strong Maggie Hsu Wagner
            .event-schedule-offset Keynote
      %tr
        %th
          %time(datetime="10:00") 10:00
          &#8212;
          %time(datetime="10:45") 10:45
        %td
          %a(href="#emileigh-barnes" rel="nofollow")
            %strong Emileigh Barnes
            .event-schedule-offset Your Craft AND Your Influence
      %tr
        %th
          %time(datetime="10:45") 10:45
          &#8212;
          %time(datetime="11:15") 11:15
        %td
          %strong Morning Break
      %tr
        %th
          %time(datetime="11:15") 11:15
          &#8212;
          %time(datetime="12:00") 12:00
        %td
          %a(href="#anne-hjortshoj" rel="nofollow")
            %strong Anne Hjortshoj
            .event-schedule-offset Baby Shark: Leveraging Organizational Politics for Design Team Success
      %tr
        %th
          %time(datetime="12:00") 12:00
          &#8212;
          %time(datetime="13:05") 1:05
        %td
          %strong Lunch Break
      %tr
        %th
          %time(datetime="13:05") 1:05
          &#8212;
          %time(datetime="13:20") 1:20
        %td
          -# %a(href="#foo" rel="nofollow")
          %strong Lightning Session
          .event-schedule-offset TBA
      %tr
        %th
          %time(datetime="13:25") 1:25
          &#8212;
          %time(datetime="13:40") 1:40
        %td
          -# %a(href="#foo" rel="nofollow")
          %strong Lightning Session
          .event-schedule-offset TBA
      %tr
        %th
          %time(datetime="13:45") 1:45
          &#8212;
          %time(datetime="14:30") 2:30
        %td
          %a(href="#jennifer-tress" rel="nofollow")
            %strong Jennifer Tress
            .event-schedule-offset The 5 Point Plan for Managing Chaos
      %tr
        %th
          %time(datetime="14:30") 2:30
          &#8212;
          %time(datetime="15:00") 3:00
        %td
          %strong Afternoon Break
      %tr
        %th
          %time(datetime="15:00") 3:00
          &#8212;
          %time(datetime="15:45") 3:45
        %td
          %a(href="#andrea-mignolo" rel="nofollow")
            %strong Andrea Mignolo
            .event-schedule-offset TBA
      %tr
        %th
          %time(datetime="15:45") 3:45
          &#8212;
          %time(datetime="16:30") 4:30
        %td
          %a(href="#scott-berkun" rel="nofollow")
            %strong Scott Berkun
            .event-schedule-offset The Design &amp; Power Playbook (aka Why Designers Hate Politics &amp; What To Do About it)

      %tr
        %th
          %time(datetime="16:30") 4:30
          &#8212;
          %time(datetime="18:00") 6:00
        %td
          %strong Happy Hour

    %h3
      .h-sm-caps-gray Day Two &mdash; Friday, August 10th
      Craft, Practice &amp; Growth

    %table.event-schedule
      %tr
        %th.event-schedule-distributed
          %time(datetime="08:15") 8:15
          &#8212;
          %time(datetime="09:00") 9:00
        %td
          %strong Registration
      %tr
        %th
          %time(datetime="09:00") 9:00
          &#8212;
          %time(datetime="09:15") 9:15
        %td
          %strong Welcome to Leadership by Design
      %tr
        %th
          %time(datetime="09:15") 9:15
          &#8212;
          %time(datetime="10:00") 10:00
        %td
          %a(href="#todd-zaki-warfel" rel="nofollow")
            %strong Todd Zaki Warfel
            .event-schedule-offset The Design Career Journey
      %tr
        %th
          %time(datetime="10:00") 10:00
          &#8212;
          %time(datetime="10:45") 10:45
        %td
          %a(href="#pasha-moore" rel="nofollow")
            %strong Pasha Moore
            .event-schedule-offset TBA
      %tr
        %th
          %time(datetime="10:45") 10:45
          &#8212;
          %time(datetime="11:15") 11:15
        %td
          %strong Morning Break
      %tr
        %th
          %time(datetime="11:15") 11:15
          &#8212;
          %time(datetime="12:00") 12:00
        %td
          %a(href="#chris-avore" rel="nofollow")
            %strong Chris Avore
            .event-schedule-offset Leveling Up Design Leadership

      %tr
        %th
          %time(datetime="12:00") 12:00
          &#8212;
          %time(datetime="13:15") 1:15
        %td
          %strong Lunch Break
      %tr
        %th
          %time(datetime="13:05") 1:05
          &#8212;
          %time(datetime="13:20") 1:20
        %td
          %a(href="#helen-keighron" rel="nofollow")
            %strong Helen Keighron
            .event-schedule-offset Designing Your Leadership Career Search
      %tr
        %th
          %time(datetime="13:25") 1:25
          &#8212;
          %time(datetime="13:40") 1:40
        %td
          -# %a(href="#foo" rel="nofollow")
          %strong Lightning Session
          .event-schedule-offset TBA
      %tr
        %th
          %time(datetime="13:45") 1:45
          &#8212;
          %time(datetime="14:30") 2:30
        %td
          %a(href="#eduardo-ortiz" rel="nofollow")
            %strong Eduardo Ortiz
            .event-schedule-offset We Work This Way on Purpose: Habits, Accountability, &amp; Technology Foundations for Successful Teams
      %tr
        %th
          %time(datetime="14:30") 2:30
          &#8212;
          %time(datetime="15:00") 3:00
        %td
          %strong Afternoon Break
      %tr
        %th
          %time(datetime="15:00") 3:00
          &#8212;
          %time(datetime="15:45") 3:45
        %td
          %a(href="#karen-vanhouten" rel="nofollow")
            %strong Karen VanHouten
            .event-schedule-offset A Method for the Madness
      %tr
        %th
          %time(datetime="15:45") 3:45
          &#8212;
          %time(datetime="16:30") 4:30
        %td
          -# %a(href="#foo" rel="nofollow")
          %strong Keynote
          .event-schedule-offset TBA
      %tr
        %th
          %time(datetime="16:30") 4:30
          &#8212;
          %time(datetime="17:00") 5:00
        %td
          %strong Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section About Our Speakers

    %p Great thinking on design leadership is found in many forms in many industries. We&#8217;ve curated an incredible lineup of design experts, mentors, and coaches from diverse fields to help you down your own leadership path. Our single-track format ensures you&#8217;ll get to learn from every one of them.

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/leadership-by-design-2019/dates/Aug-07-2019_at_0830AM" rel="nofollow")
        Join Us for Only $300 &#8212; Limited Tickets Available

    - content_for :talk_anne_hjortshoj do

      %h3 Baby Shark: Leveraging Organizational Politics for Design Team Success

      %p It can be a struggle to make the practice of design truly influential. Between engaging with engineering methodologies, negotiating the boundaries of design ownership with product management, and arguing for the value of design-led business decisions (not to mention managing their own people), design leaders find it difficult to gain ground for their team.

      %p There are approaches you can learn from and/or use to train your team to detect and leverage underlying organizational systems by tuning in to competing goals and process nuances. Armed with this&mdash;and a healthy sense of collaboration and allyship with other groups&mdash;your sharks can achieve influence in their own right and magnify yours.

    - content_for :talk_chris_avore do

      %h3 ​Leveling Up Design Leadership

      %p Sometimes you ask for something for so long that you&#8217;re not quite sure what to do with it once you get it. Many design leaders now find themselves with more responsibility, greater influence, and improved autonomy to lead their practices as they see best&ndash;and all while under the watchful eye of people who were willing to take the risk (and who also might not be willing to see it fail even the slightest). It&#8217;s a lot&ndash;there are relationships to manage across teams and departments, leadership to manage and keep informed of progress, and then the Human Resources obligations that frequently feel less-than-human and that take more time than anyone every thought.

      %p When we understand how to scale our teams (up AND down), how to elevate our design maturity within our practices and within the organization, we can set ourselves up to better succeed as design leaders. These aren&#8217;t new challenges&ndash;they&#8217;re only new to us, and there are approaches to explore from successes and failures within the design industry and from those who came before us, as well as those who are alongside us now.

    - content_for :talk_eduardo_ortiz do

      %h3 We Work This Way on Purpose: Habits, Accountability, &amp; Technology Foundations for Successful Teams

      %p The foundation for good work is established by creating an environment that sets people up for success. We all need to be held accountable while being creatively stimulated and having strong guidelines around our work ethics and habits, and how we work together, regardless of our location.

      %p As leaders, we&#8217;re responsible for establishing this foundational bedrock. We&#8217;ll explore a series of thoughtfully designed pillars that you can use as your foundation to enable the full potential of your teams to be realized. 

    - content_for :talk_emileigh_barnes do

      %h3 Your craft AND your influence
      
      %p To be effective, to be inspiring, to drive results, leaders need a strategy for building and maintaining relationships.  As practitioners, we spend our careers perfecting our craft. Until the day we&#8217;re promoted to a &#8220;leadership position,&#8221; and suddenly craft expertise isn&#8217;t enough to get things done. 

      %p Of course we still need our skills. And we need organizational influence just as much. Good work alone doesn&#8217;t speak for itself, as rarely does speaking for yourself alone.

      %p It&#8217;s that right balance of craft and influence that is the difference between becoming Paul Revere and becoming William Dawes. 

      %p Who was William Dawes? 

      %p Exactly.

    - content_for :talk_helen_keighron do

      %h3 Designing Your Leadership Career Search

      %p When we interview for a new role, design leaders frequently are not screened and evaluated the way other leaders in a company might be. In my most recent search, I tapped into a vast network of other design leaders and solicited their best advice. I leveraged their advice so effectively that well-known companies fought for me based on my skills as a leader, not a maker.

      %p When design leaders search for new opportunities we are confronted with a market that doesn&#8217;t know where to place us internally or how to hire us. We face well-intentioned yet naïve requests for artifacts and exercises, all while being evaluated by people who don&#8217;t know what good design leadership looks like. I&#8217;ll regale you with tales from my experiences so we can all learn to elevate the design leadership hiring process!

    - content_for :talk_karen_vanhouten do

      %h5.lineup-subtitle.h-sm-caps-gray Session:

      %h3 A Method for the Madness

      %p When confronted with challenges, whether professional or personal, we often ask some variation of this question: &#8220;How do I do [this scary, difficult, yet necessary thing] without actually having to experience any discomfort or take any risks?&#8221; As a speaker and design leader, I get asked some version of this question every time I give a talk or work with new team struggling to change.

      %p Obviously, the answer is: you can&#8217;t. There is plenty of discussion right now of the necessity of getting comfortable with discomfort, but very little actual guidance on how that process works. Instead, we hear tales of transformation that follow a vague formula of initiating events, challenges faced, victories won. These stories can be inspiring, but beyond that, they don&#8217;t provide much help for people struggling to take the leap out of their comfort zone. Without any practical guidance, many people hesitate and wait, static and stagnant, choosing to be careful instead curious.

      %p I&#8217;ll outline a step-by-step approach for pushing outside our comfort zones and expanding our experiences. I&#8217;ll start by contrasting the perception of how our comfort zones serve us with the very different reality of how they work against us. I&#8217;ll blast through the most common excuses we have for staying put versus moving forward. We&#8217;ll explore simple, tactical ways to push through our resistance, move past our fears, and nurture the courage to design better relationships and make more authentic choices, in our careers, and our lives. 

      %h5.lineup-subtitle.h-sm-caps-gray Workshop:

      %h3 Healthier Teams by Design

      %p From the outside, high performing teams, particularly highly collaborative and innovative ones, seem to demonstrate an innate chemistry and the ability to harness the power of serendipity. But the truth is, successful teams are incredibly deliberate and intentional about how they work. Culture, processes and best practices should be designed with as much care as the products and services we build. And, while there are certain essential characteristics common to successful teams, the unique challenges of our work context and our project needs also require a team uniquely optimized for those situations.

      %p Every experience is designed, including our team experience. In this workshop, we&#8217;ll explore how we can use design tools to design better ways of working. Based on the challenges of your projects and the skills and traits of your amazing team members, we&#8217;ll look at how you&#8217;d like the team to evolve and articulate specific goals that can be measured. We&#8217;ll define an MVP approach to help you develop small experiments for opportunities and interventions that will help you establish new, more effective patterns of communicating and collaborating. 

    - content_for :talk_scott_berkun do

      %h3 The Design &amp; Power Playbook (aka Why Designers Hate Politics &amp; What To Do About it)

      %p Even with a grand seat at the table, big decisions hinge on two overlooked factors 1) who at the table has the most power? and 2) how can they be influenced? Designers notoriously overlook how their lack of political acumen cripples their ability to make good design happen. But fear not: this fast paced talk based on the critical situations that impact designers teaches a situational playbook for turning things around.

    - content_for :talk_todd_zaki_warfel do

      %h5.lineup-subtitle.h-sm-caps-gray Keynote:

      %h3 The Design Career Journey

      %p Everyone wants to hire great talent. But how do we define great? Does that change over time? How do you know you&#8217;re recruiting and hiring the right people? How do you retain and develop talent, giving your team meaning, purpose, and ownership? 

      %p In the Design Career Journey, we&#8217;ll explore a framework for recruiting, retaining, and developing top talent—including the common question of &#8220;Should I go into management?&#8221;

      %h5.lineup-subtitle.h-sm-caps-gray Workshop:

      %h3 The Design Leadership Playbook

      %p Have you ever tried to be the leader someone else expected? Found yourself not measuring up to expectations—either your own or someone else&#8217;s? Ever asked the question &#8220;How do I become a better leader?&#8221;

      %p Whether you&#8217;re transitioning into a new role or have been managing teams for years, design leadership comes with a unique set of challenges. In this half day workshop, we&#8217;ll tackle the most common questions and challenges faced by today&#8217;s design leaders. You&#8217;re guaranteed to walk out of this workshop with your very own leadership playbook ready to tackle new leadership challenges. 

      %p Participants will take away: Principles and techniques for becoming a more effective leader Personal leadership values and vision How and when to adjust your leadership style (situational leadership) Leadership roles for both individual contributors and managers Identifying and developing leaders within your team.

    %h3 Keynotes
    = partial "partials/events/speakers", locals: {speakers: keynotes}

    %h3 Sessions
    = partial "partials/events/speakers", locals: {speakers: speakers}

    %h3 Lightning
    = partial "partials/events/speakers", locals: {speakers: lightning}

%section#location.main-content
  .container

    %h3.h-section Location Details

    %h2
      Columbia College Film Row
      .lineup
        %a.a-chevron-right(href="https://goo.gl/maps/Vp7xk") 1104 South Wabash Avenue, 8th Floor, Chicago, IL 60605

    %p We are big fans of our venue and sponsor: Columbia College in Chicago. Columbia is a great place to learn and upgrade your design skills and we&#8217;re excited to host our inaugural Leadership by Design with them!

    .grid

      .event-location-venue
        .event-location-media
          %figure= image_tag "events/locations/columbia-college.jpg", class: "frame", alt: "Columbia College"

        %h3 About Columbia College

        %p Columbia College Chicago is an institution of higher education specializing in arts and media disciplines, with nearly 12,000 students pursuing degrees within 120 undergraduate and graduate programs.

        %p Check out <a href="http://www.colum.edu/" rel="nofollow">Columbia College</a>.

      .event-location-area
        .event-location-media
          %figure
            %iframe.frame(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.105065873076!2d-87.62611649999995!3d41.86908589999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c9bb5532bd3%3A0x6629a25ea0b3cfe4!2s1104+S+Wabash+Ave%2C+Chicago%2C+IL+60605!5e0!3m2!1sen!2sus!4v1422745233180")

        %h3 Where to Park?

        %p There are several easy-access <a href="http://www.parkwhiz.com/search/?destination=1104+S+Wabash+Ave%2C+Chicago%2C+IL+60605%2C+USA" rel="nofollow">parking garages</a> available in the surrounding blocks.

        %h3
          %a(href="https://reservations.travelclick.com/5054?groupID=2539165&hotelID=5054#/guestsandrooms" rel="nofollow") The Congress Plaza Hotel

        %p Coming from out of town? We&#8217;ve set up a special rate for attendees at <a href="https://reservations.travelclick.com/5054?groupID=2539165&hotelID=5054#/guestsandrooms" rel="nofollow">The Congress Plaza Hotel</a> on Michigan Avenue in the heart of Chicago.
        
%section.main-content
  .container

    %h3.h-section Sponsorship Opportunities

    %p We want to be the easiest partner you&#8217;ve ever worked with&#8211;even at the traditional conference level! With that as our guiding mantra, all of our Leadership by Design sponsorships are $1,500.

    %p Leadership by Design has many different options available that are comparable to any other large scale event, and we&#8217;re happy to work with you to create something custom to meet your needs. We&#8217;ve got a great event planned and we&#8217;d love to talk to you about how we can partner with you!

    %p If you&#8217;re interested in sponsoring Leadership by Design and getting in front of the people who are driving the future of design, <a href="/contact/">contact us</a> or <a href="/assets/packets/Prototypes-Process-PlaySponsorship-Info.pdf" download>download our Sponsorship Packet</a>.
