---
title: Leadership by Design Home Edition
date: 2021-08-12 01:00 CDT
category: events
alias: leadership-by-design-home
duration: August 12&#8211;13, 2021
location: Online &mdash; Everywhere
summary: Join us in Chicago to up your design leadership skills to drive products and organizations forward
---
- sponsors = ["Boxes and Arrows", "Columbia College", "Demio", "Lead Honestly", "Nerditees"]
- keynotes = ["Maggie Hsu"]
- speakers = ["Alyssa Boehm", "Dani Nordin", "Helen Keighron", "Kara DeFrias", "Maria Pereda"]
- lightning = []

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Leadership by Design
      %li
        %a(href="#overview" rel="nofollow") Overview
      -#
        %li
          %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketspice.com/leadership-by-design-2021" rel="nofollow")
      Join Us for
      %strong Only $20

%section#overview.main-content
  .container

    %h3.h-section Conference Overview

    %h2
      Learn design leadership from the experts at
      %br
      = succeed "." do
        %strong Leadership by Design 2021

    %p On Thursday &amp; Friday, August 12th &amp; 13th, from where ever you are. Since we&#8217;re not going to be in our space, let&#8217;s meet in yours! We&#8217;ll have 2 days of stellar keynotes and focused design leadership presentations with thoughtful Q&A that allow you to gain a lot of insightful learning. In addition,each day has an uplifting interstitial that provides a nice break.

    %p Normally, we&#8217;d all be heading to downtown Chicago-including all of these wonderful speakers. We&#8217;re used to amazing views, great coffees, too many snacks, and a lot of local Chicago-area food goodness. Since we can&#8217;t do that we&#8217;re going to postpone our full sessions until 2022.

    %p And we&#8217;ve got a really cool t-shirt based upon the poem &#8220;Worthy&#8221; by Emily Haines LLoyd, author of the book <a href="https://smile.amazon.com/Pep-Talk-Poetry-unmitigated-badass/dp/1073499839/" rel="nofollow">Pep Talk Poetry</a> and interstitialpresenter, which is brought to you in collaboration with our pals at <a href="https://www.nerditees.com/" rel="nofollow">Nerditees</a>:

    %div(style="text-align: center;")
      = image_tag "events/swag/lbd-2021.png", alt: "Leadership by Design 2021 t-shirt", class: "grid-1-2"

    %p For $14, you can get your choice of color and size shipped directly to you, and we&#8217;ll add an additional &#8220;Need 1, Take 1&#8221; ticket to the pool.

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketspice.com/leadership-by-design-2021" rel="nofollow")
        Join Us for Only $20

    %h3 Meet Our Awesome Sponsors
    
    %p These great sponsors help us make Leadership by Design affordable and accessible. These organizations see the value in design and design leadership&#8212;please show your support for the support they&#8217;ve shown us!

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

-#
  %section#schedule.main-content.main-bg-highlight
    .container

      %h3.h-section
        Program
        %span &amp;
        Schedule

      %p Hone your design leadership skills over two days with us at Columbia College Chicago. A carefully curated single-track approach ensures that you can attend every session and have a truly shared experience with other attendees and speakers.

      .event-cta
        %a.btn.btn-alt(href="https://chicagocamps.ticketspice.com/leadership-by-design-2021" rel="nofollow")
          Join Us for Only $20

      %h3
        .h-sm-caps-gray Day Zero &mdash; Wednesday, August 7th
        Workshops

      %table.event-schedule
        %tr
          %th
            %time(datetime="08:15") 8:15
            &#8212;
            %time(datetime="09:00") 9:00
          %td(colspan="2")
            %strong Registration
        %tr
          %th Room
          %td.event-schedule-distributed-3-col
            %strong 1
          %td.event-schedule-distributed-3-col
            %strong 2
        %tr
          %th
            %time(datetime="09:00") 9:00
            &#8212;
            %time(datetime="12:00") 12:00
          %td
            %a(href="#todd-zaki-warfel" rel="nofollow")
              %strong.event-schedule-room(data-room="1") Todd Zaki Warfel
            .event-schedule-offset The Design Leadership Playbook
          %td
            %a(href="#karen-vanhouten" rel="nofollow")
              %strong.event-schedule-room(data-room="2") Karen VanHouten
            .event-schedule-offset Healthier Teams by Design
        %tr
          %th
            %time(datetime="12:00") 12:00
            &#8212;
            %time(datetime="13:00") 1:00
          %td(colspan="2")
            %strong Lunch Break
        %tr
          %th
            %time(datetime="13:00") 1:00
            &#8212;
            %time(datetime="16:00") 4:00
          %td
            %a(href="#todd-zaki-warfel" rel="nofollow")
              %strong.event-schedule-room(data-room="1") Todd Zaki Warfel
            .event-schedule-offset The Design Leadership Playbook
          %td
            %a(href="#karen-vanhouten" rel="nofollow")
              %strong.event-schedule-room(data-room="2") Karen VanHouten
            .event-schedule-offset Healthier Teams by Design

      %h3
        .h-sm-caps-gray Day One &mdash; Thursday, August 8th
        Politics &amp; Influence

      %table.event-schedule
        %tr
          %th.event-schedule-distributed
            %time(datetime="08:15") 8:15
            &#8212;
            %time(datetime="09:00") 9:00
          %td
            %strong Registration
        %tr
          %th
            %time(datetime="09:00") 9:00
            &#8212;
            %time(datetime="09:15") 9:15
          %td
            %strong Welcome to Leadership by Design
        %tr
          %th
            %time(datetime="09:15") 9:15
            &#8212;
            %time(datetime="10:00") 10:00
          %td
            %a(href="#jamila-parham" rel="nofollow")
              %strong Jamila Parham
              .event-schedule-offset The Truth About Diversity &amp; Inclusion and The Unicorn Experience in Marginalized Spaces
        %tr
          %th
            %time(datetime="10:00") 10:00
            &#8212;
            %time(datetime="10:45") 10:45
          %td
            %a(href="#emileigh-barnes" rel="nofollow")
              %strong Emileigh Barnes
              .event-schedule-offset Your Craft AND Your Influence
        %tr
          %th
            %time(datetime="10:45") 10:45
            &#8212;
            %time(datetime="11:15") 11:15
          %td
            %strong Morning Break
        %tr
          %th
            %time(datetime="11:15") 11:15
            &#8212;
            %time(datetime="12:00") 12:00
          %td
            %a(href="#anne-hjortshoj" rel="nofollow")
              %strong Anne Hjortshoj
              .event-schedule-offset Baby Shark: Leveraging Organizational Politics for Design Team Success
        %tr
          %th
            %time(datetime="12:00") 12:00
            &#8212;
            %time(datetime="13:05") 1:05
          %td
            %strong Lunch Break
        %tr
          %th
            %time(datetime="13:05") 1:05
            &#8212;
            %time(datetime="13:20") 1:20
          %td
            %a(href="#maria-pereda" rel="nofollow")
              %strong Maria Pereda
              .event-schedule-offset Tailored by Design: A Year of Making My Own Clothes
        %tr
          %th
            %time(datetime="13:25") 1:25
            &#8212;
            %time(datetime="13:40") 1:40
          %td
            %a(href="#megan-kellie" rel="nofollow")
              %strong Megan Kellie &amp; Susan Salvi
              .event-schedule-offset Someday A Bird Will Poop On You, a book reading of a life lesson
        %tr
          %th
            %time(datetime="13:45") 1:45
            &#8212;
            %time(datetime="14:30") 2:30
          %td
            %a(href="#jennifer-tress" rel="nofollow")
              %strong Jennifer Tress
              .event-schedule-offset The 4-Point Plan to Dealing with Chaos at Work
        %tr
          %th
            %time(datetime="14:30") 2:30
            &#8212;
            %time(datetime="15:00") 3:00
          %td
            %strong Afternoon Break
        %tr
          %th
            %time(datetime="15:00") 3:00
            &#8212;
            %time(datetime="15:45") 3:45
          %td
            %a(href="#andrea-mignolo" rel="nofollow")
              %strong Andrea Mignolo
              .event-schedule-offset Don&#8217;t Forget the Design!
        %tr
          %th
            %time(datetime="15:45") 3:45
            &#8212;
            %time(datetime="16:30") 4:30
          %td
            %a(href="#scott-berkun" rel="nofollow")
              %strong Scott Berkun
              .event-schedule-offset The Design &amp; Power Playbook (aka Why Designers Hate Politics &amp; What To Do About it)

        %tr
          %th
            %time(datetime="16:30") 4:30
            &#8212;
            %time(datetime="18:00") 6:00
          %td
            %strong Happy Hour

      %h3
        .h-sm-caps-gray Day Two &mdash; Friday, August 9th
        Craft, Practice &amp; Growth

      %table.event-schedule
        %tr
          %th.event-schedule-distributed
            %time(datetime="08:15") 8:15
            &#8212;
            %time(datetime="09:00") 9:00
          %td
            %strong Registration
        %tr
          %th
            %time(datetime="09:00") 9:00
            &#8212;
            %time(datetime="09:15") 9:15
          %td
            %strong Welcome to Leadership by Design
        %tr
          %th
            %time(datetime="09:15") 9:15
            &#8212;
            %time(datetime="10:00") 10:00
          %td
            %a(href="#todd-zaki-warfel" rel="nofollow")
              %strong Todd Zaki Warfel
              .event-schedule-offset The Design Career Journey
        %tr
          %th
            %time(datetime="10:00") 10:00
            &#8212;
            %time(datetime="10:45") 10:45
          %td
            %a(href="#pasha-moore" rel="nofollow")
              %strong Pasha Moore
              .event-schedule-offset Negotiating the Difficult: Deciding Which Hills to Die On
        %tr
          %th
            %time(datetime="10:45") 10:45
            &#8212;
            %time(datetime="11:15") 11:15
          %td
            %strong Morning Break
        %tr
          %th
            %time(datetime="11:15") 11:15
            &#8212;
            %time(datetime="12:00") 12:00
          %td
            %a(href="#chris-avore" rel="nofollow")
              %strong Chris Avore
              .event-schedule-offset Leveling Up Design Leadership
        %tr
          %th
            %time(datetime="12:00") 12:00
            &#8212;
            %time(datetime="13:15") 1:15
          %td
            %a(href="#hope-for-the-day" rel="nofollow")
              %strong Lunch &amp; Complimentary Workshop from Hope for the Day
              .event-schedule-offset Things We Don&#8217;t Say
        %tr
          %th
            %time(datetime="13:05") 1:05
            &#8212;
            %time(datetime="13:20") 1:20
          %td
            %a(href="#helen-keighron" rel="nofollow")
              %strong Helen Keighron
              .event-schedule-offset Designing Your Leadership Career Search
        %tr
          %th
            %time(datetime="13:25") 1:25
            &#8212;
            %time(datetime="13:40") 1:40
          %td
            %a(href="#christian-spinillo" rel="nofollow")
              %strong Christian Spinillo
              .event-schedule-offset ​Praise the Lard! Farming Saved My Life
        %tr
          %th
            %time(datetime="13:45") 1:45
            &#8212;
            %time(datetime="14:30") 2:30
          %td
            %a(href="#eduardo-ortiz" rel="nofollow")
              %strong Eduardo Ortiz
              .event-schedule-offset We Work This Way on Purpose: Habits, Accountability, &amp; Technology Foundations for Successful Teams
        %tr
          %th
            %time(datetime="14:30") 2:30
            &#8212;
            %time(datetime="15:00") 3:00
          %td
            %strong Afternoon Break
        %tr
          %th
            %time(datetime="15:00") 3:00
            &#8212;
            %time(datetime="15:45") 3:45
          %td
            %a(href="#karen-vanhouten" rel="nofollow")
              %strong Karen VanHouten
              .event-schedule-offset A Method for the Madness
        %tr
          %th
            %time(datetime="15:45") 3:45
            &#8212;
            %time(datetime="16:30") 4:30
          %td
            %a(href="#stephen-p-anderson" rel="nofollow")
              %strong Stephen P. Anderson
              .event-schedule-offset Facilitating Structures
        %tr
          %th
            %time(datetime="16:30") 4:30
            &#8212;
            %time(datetime="17:00") 5:00
          %td
            %strong Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section About Our Speakers

    %p Great thinking on design leadership is found in many forms in many industries. We&#8217;ve curated an incredible lineup of design experts, mentors, and coaches from diverse fields to help you down your own leadership path. Our single-track format ensures you&#8217;ll get to learn from every one of them.

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketspice.com/leadership-by-design-2021" rel="nofollow")
        Join Us for Only $20

    %h3 Keynotes
    = partial "partials/events/speakers", locals: {speakers: keynotes}

    %h3 Sessions
    = partial "partials/events/speakers", locals: {speakers: speakers}

    -#
      %h3 Lightning
      = partial "partials/events/speakers", locals: {speakers: lightning}

%section#location.main-content
  .container

    %h3.h-section Location

    %p Leadership by Design 2021 will be 100% online and from where each of us are. And then, later, we&#8217;ll share on Vimeo so you can watch and learn again, watch what you&#8217;ve missed, or share with your internet pals.
        
%section.main-content
  .container

    %h3.h-section Sponsorship Opportunities

    %p We want to be the easiest partner you&#8217;ve ever worked with&#8211;even at the traditional conference level! With that as our guiding mantra, all of our Leadership by Design sponsorships are $1,500.

    %p Leadership by Design has many different options available that are comparable to any other large scale event, and we&#8217;re happy to work with you to create something custom to meet your needs. We&#8217;ve got a great event planned and we&#8217;d love to talk to you about how we can partner with you!

    %p If you&#8217;re interested in sponsoring Leadership by Design and getting in front of the people who are driving the future of design, <a href="/contact/">contact us</a> or <a href="/assets/packets/Prototypes-Process-PlaySponsorship-Info.pdf" download>download our Sponsorship Packet</a>.
