---
title: Leadership by Design Home Edition
date: 2021-08-12 01:00 CDT
category: events
alias: leadership-by-design-home
duration: August 12&#8211;13, 2021
location: Online &mdash; Everywhere
summary: Join us in Chicago to up your design leadership skills to drive products and organizations forward
---
- sponsors = ["Boxes and Arrows", "Columbia College", "Demio", "Lead Honestly", "Nerditees"]
- keynotes = ["David Dylan Thomas", "Eva PenzeyMoog", "JR Miller", "Dr. Temple Grandin"]
- speakers = ["Carmen Bocanegra", "Carmen Medina", "Chris Avore", "Christine McGlade", "Helen Keighron", "Lisa deBettencourt", "Marc Rambeau", "Maria Pereda", "Meena Kothandaraman"]
- interstitials = ["Emily Haines Lloyd", "Megan Kellie", "Susan Salvi"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Leadership by Design
      %li
        %a(href="#overview" rel="nofollow") Overview
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    -#
      %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketspice.com/leadership-by-design-2021" rel="nofollow")
        Join Us for
        %strong Only $20

%section#overview.main-content
  .container

    %h3.h-section Conference Overview

    %h2
      Learn design leadership from the experts at
      %br
      = succeed "." do
        %strong Leadership by Design 2021

    %p On Thursday &amp; Friday, August 12th &amp; 13th, from where ever you are. Since we&#8217;re not going to be in our space, let&#8217;s meet in yours! We&#8217;ll have 2 days of stellar keynotes and focused design leadership presentations with thoughtful Q&A that allow you to gain a lot of insightful learning. In addition,each day has an uplifting interstitial that provides a nice break.

    %p Normally, we&#8217;d all be heading to downtown Chicago-including all of these wonderful speakers. We&#8217;re used to amazing views, great coffees, too many snacks, and a lot of local Chicago-area food goodness. Since we can&#8217;t do that we&#8217;re going to postpone our full sessions until 2022.

    %p And we&#8217;ve got a really cool t-shirt based upon the poem &#8220;Worthy&#8221; by Emily Haines LLoyd, author of the book <a href="https://smile.amazon.com/Pep-Talk-Poetry-unmitigated-badass/dp/1073499839/" rel="nofollow">Pep Talk Poetry</a> and interstitialpresenter, which is brought to you in collaboration with our pals at <a href="https://www.nerditees.com/" rel="nofollow">Nerditees</a>:

    %div(style="text-align: center;")
      = image_tag "events/swag/lbd-2021.png", alt: "Leadership by Design 2021 t-shirt", class: "grid-1-2"

    %p For $14, you can get your choice of color and size shipped directly to you, and we&#8217;ll add an additional &#8220;Need 1, Take 1&#8221; ticket to the pool.

    -#
      .event-cta
        %a.btn.btn-alt(href="https://chicagocamps.ticketspice.com/leadership-by-design-2021" rel="nofollow")
          Join Us for Only $20

    %h3 Meet Our Awesome Sponsors
    
    %p These great sponsors help us make Leadership by Design affordable and accessible. These organizations see the value in design and design leadership&#8212;please show your support for the support they&#8217;ve shown us!

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section
      Program
      %span &amp;
      Schedule

    %p Hone your design leadership skills over two days. A carefully curated single-track approach ensures that you can attend every session and have a truly shared experience with other attendees and speakers.

    -#
      .event-cta
        %a.btn.btn-alt(href="https://chicagocamps.ticketspice.com/leadership-by-design-2021" rel="nofollow")
          Join Us for Only $20

    %h3 Thursday, August 12th

    %table.event-schedule
      %tr
        %th
          %time(datetime="2021-08-12T10:00") 10:00
          &#8212;
          %time(datetime="2021-08-12T010:15") 10:15 CT
        %td.event-schedule-offset Kick-off
      %tr
        %th
          %time(datetime="2021-08-12T10:15") 10:15
          &#8212;
          %time(datetime="2021-08-12T11:00") 11:00 CT
        %td
          %a(href="#eva-penzeymoog" rel="nofollow")
            %strong.event-schedule-room(data-room="Online") Eva PenzeyMoog
          .event-schedule-offset Safety, Justice, Compassion: Plugging into the Paradigm Shift Towards Ethical Tech

      %tr
        %th
          %time(datetime="2021-08-12T11:00") 11:00
          &#8212;
          %time(datetime="2021-08-12T11:15") 11:15 CT
        %td.event-schedule-offset Break

      %tr
        %th
          %time(datetime="2021-08-12T11:15") 11:15
          &#8212;
          %time(datetime="2021-08-12T11:30") 11:30 CT
        %td
          %a(href="#christine-mcglade" rel="nofollow")
            %strong.event-schedule-room(data-room="Online") Christine McGlade
          .event-schedule-offset Systems Thinking &amp; Design Ethics for Design Leaders
      %tr
        %th
          %time(datetime="2021-08-12T11:30") 11:30
          &#8212;
          %time(datetime="2021-08-12T11:45") 11:45 CT
        %td
          %a(href="#lisa-debettencourt" rel="nofollow")
            %strong.event-schedule-room(data-room="Online") Lisa deBettencourt
          .event-schedule-offset Designing for Death: A Framework for Creating the Final Experience of Your Customer&#8217;s Journey
      %tr
        %th
          %time(datetime="2021-08-12T11:45") 11:45
          &#8212;
          %time(datetime="2021-08-12T12:00") 12:00 CT
        %td
          %strong.event-schedule-room(data-room="Online") Q&amp;A with Presenters

      %tr
        %th
          %time(datetime="2021-08-12T12:00") 12:00
          &#8212;
          %time(datetime="2021-08-12T12:15") 12:15 CT
        %td.event-schedule-offset Break

      %tr
        %th
          %time(datetime="2021-08-12T12:15") 12:15
          &#8212;
          %time(datetime="2021-08-12T12:45") 12:45 CT
        %td
          %a(href="#emily-haines-lloyd" rel="nofollow")
            %strong.event-schedule-room(data-room="Online") Emily Haines Lloyd
          .event-schedule-offset The Power of the Pep Talk

      %tr
        %th
          %time(datetime="2021-08-12T12:45") 12:45
          &#8212;
          %time(datetime="2021-08-12T13:00") 1:00 CT
        %td.event-schedule-offset Break

      %tr
        %th
          %time(datetime="2021-08-12T13:00") 1:00
          &#8212;
          %time(datetime="2021-08-12T13:15") 1:15 CT
        %td
          %a(href="#chris-avore" rel="nofollow")
            %strong.event-schedule-room(data-room="Online") Chris Avore
          .event-schedule-offset You Can Do It! Leading Through New, Unprecedented Challenges with Patience &amp; Perseverance
      %tr
        %th
          %time(datetime="2021-08-12T13:15") 1:15
          &#8212;
          %time(datetime="2021-08-12T13:30") 1:30 CT
        %td
          %a(href="#marc-rambeau" rel="nofollow")
            %strong.event-schedule-room(data-room="Online") Marc Rambeau
          .event-schedule-offset From the Ground Up: Growing a New Practice at Your Organization
      %tr
        %th
          %time(datetime="2021-08-12T13:30") 1:30
          &#8212;
          %time(datetime="2021-08-12T13:45") 1:45 CT
        %td
          %strong.event-schedule-room(data-room="Online") Q&amp;A with Presenters

      %tr
        %th
          %time(datetime="2021-08-12T13:45") 1:45
          &#8212;
          %time(datetime="2021-08-12T14:00") 2:00 CT
        %td.event-schedule-offset Break

      %tr
        %th
          %time(datetime="2021-08-12T14:00") 2:00
          &#8212;
          %time(datetime="2021-08-12T14:45") 2:45 CT
        %td
          %a(href="#jr-miller" rel="nofollow")
            %strong.event-schedule-room(data-room="Online") JR Miller
          .event-schedule-offset Meaningful Product Inclusion

      %tr
        %th
          %time(datetime="2021-08-12T14:00") 2:45
          &#8212;
          %time(datetime="2021-08-12T15:00") 3:00 CT
        %td.event-schedule-offset Closing Ceremonies

    %h3 Friday, August 13th

    %table.event-schedule
      %tr
        %th
          %time(datetime="2021-08-13T10:00") 10:00
          &#8212;
          %time(datetime="2021-08-13T010:15") 10:15 CT
        %td.event-schedule-offset Kick-off
      %tr
        %th
          %time(datetime="2021-08-13T10:15") 10:15
          &#8212;
          %time(datetime="2021-08-13T11:00") 11:00 CT
        %td
          %a(href="#temple-grandin" rel="nofollow")
            %strong.event-schedule-room(data-room="Online") Dr. Temple Grandin
          .event-schedule-offset All Kinds of Minds

      %tr
        %th
          %time(datetime="2021-08-13T11:00") 11:00
          &#8212;
          %time(datetime="2021-08-13T11:15") 11:15 CT
        %td.event-schedule-offset Break

      %tr
        %th
          %time(datetime="2021-08-13T11:15") 11:15
          &#8212;
          %time(datetime="2021-08-13T11:30") 11:30 CT
        %td
          %a(href="#carmen-medina" rel="nofollow")
            %strong.event-schedule-room(data-room="Online") Carmen Medina
          .event-schedule-offset Redesigning Leadership
      %tr
        %th
          %time(datetime="2021-08-13T11:30") 11:30
          &#8212;
          %time(datetime="2021-08-13T11:45") 11:45 CT
        %td
          %a(href="#carmen-bocanegra" rel="nofollow")
            %strong.event-schedule-room(data-room="Online") Carmen Bocanegra
          .event-schedule-offset What Therapy Taught Me About Design &amp; Creating Healthy Teams
      %tr
        %th
          %time(datetime="2021-08-13T11:45") 11:45
          &#8212;
          %time(datetime="2021-08-13T12:00") 12:00 CT
        %td
          %strong.event-schedule-room(data-room="Online") Q&amp;A with Presenters

      %tr
        %th
          %time(datetime="2021-08-13T12:00") 12:00
          &#8212;
          %time(datetime="2021-08-13T12:15") 12:15 CT
        %td.event-schedule-offset Break

      %tr
        %th
          %time(datetime="2021-08-13T12:15") 12:15
          &#8212;
          %time(datetime="2021-08-13T12:45") 12:45 CT
        %td
          %a(href="#megan-kellie" rel="nofollow")
            %strong.event-schedule-room(data-room="Online") Megan Kellie &amp; Susan Salvi
          .event-schedule-offset A Reading of &#8220;Someday a Bird Will Poop on You: A Life Lesson&#8221;

      %tr
        %th
          %time(datetime="2021-08-13T12:45") 12:45
          &#8212;
          %time(datetime="2021-08-13T13:00") 1:00 CT
        %td.event-schedule-offset Break

      %tr
        %th
          %time(datetime="2021-08-13T13:00") 1:00
          &#8212;
          %time(datetime="2021-08-13T13:15") 1:15 CT
        %td
          %a(href="#meena-kothandaraman" rel="nofollow")
            %strong.event-schedule-room(data-room="Online") Meena Kothandaraman
          .event-schedule-offset The Cost of Not Conducting Qualitative Research in Organizations
      %tr
        %th
          %time(datetime="2021-08-13T13:15") 1:15
          &#8212;
          %time(datetime="2021-08-13T13:30") 1:30 CT
        %td
          %a(href="#maria-pereda" rel="nofollow")
            %strong.event-schedule-room(data-room="Online") Helen Keighron, Maria Pereda, &amp; Meena Kothandaraman
          .event-schedule-offset Dear Design Leader &mdash; Explanations &amp; Experiences with Leading Designers
      %tr
        %th
          %time(datetime="2021-08-13T13:30") 1:30
          &#8212;
          %time(datetime="2021-08-13T13:45") 1:45 CT
        %td
          %strong.event-schedule-room(data-room="Online") Q&amp;A with Presenters

      %tr
        %th
          %time(datetime="2021-08-13T13:45") 1:45
          &#8212;
          %time(datetime="2021-08-13T14:00") 2:00 CT
        %td.event-schedule-offset Break

      %tr
        %th
          %time(datetime="2021-08-13T14:00") 2:00
          &#8212;
          %time(datetime="2021-08-13T14:45") 2:45 CT
        %td
          %a(href="#david-dylan-thomas" rel="nofollow")
            %strong.event-schedule-room(data-room="Online") David Dylan Thomas
          .event-schedule-offset Design for Cognitive Bias: Using Mental Shortcuts for Good Instead of Evil

      %tr
        %th
          %time(datetime="2021-08-13T14:00") 2:45
          &#8212;
          %time(datetime="2021-08-13T15:00") 3:00 CT
        %td.event-schedule-offset Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section About Our Speakers

    %p Great thinking on design leadership is found in many forms in many industries. We&#8217;ve curated an incredible lineup of design experts, mentors, and coaches from diverse fields to help you down your own leadership path. Our single-track format ensures you&#8217;ll get to learn from every one of them.

    -#
      .event-cta
        %a.btn.btn-alt(href="https://chicagocamps.ticketspice.com/leadership-by-design-2021" rel="nofollow")
          Join Us for Only $20

    - content_for :talk_david_dylan_thomas do

      %h3 Design for Cognitive Bias: Using Mental Shortcuts for Good Instead of Evil

      %p Users&#8217; minds take shortcuts to get through the day. Usually they&#8217;re harmless. Even helpful. But what happens when they&#8217;re not? In this talk I&#8217;ll use real-world examples to identify some particularly harmful biases that frequently lead users to make bad decisions. I&#8217;ll then talk about some content strategy and design choices we can use in our apps, designs, and platforms to redirect or eliminate the impact of those biases. Finally, I&#8217;ll explore our own biases as designers and some methods to prevent our own blind spots from hurting users.
    
    -#
      - content_for :talk_eva_penzeymoog do
        %h3 Safety, Justice, Compassion: Plugging into the Paradigm Shift Towards Ethical Tech

    - content_for :talk_jr_miller do

      %h3 Meaningful Product Inclusion

      %p This year Google Maps introduced a Black-owned business attribute. Learn more about how this project started, what it took to make it happen, and ways you can bring inclusive product development practices into your work.
      
    -#
      - content_for :talk_dr_temple_grandin do
        %h3 The World Needs All Kinds of Minds

    %h3 Keynotes
    = partial "partials/events/speakers", locals: {speakers: keynotes}

    - content_for :talk_carmen_bocanegra do

      %h3 What Therapy Taught Me About Design &amp; Creating Healthy Teams

      %p Maintaining a healthy self and extending that to our professional lives are journeys. The root cause of many of our inner and outer conflicts stem from the stories we tell ourselves. The beliefs that support those stories are deeply held and often unnamed. My therapy journey started on a cold, rainy day on a bus in Portland, OR. I knew I wanted to find peace, but what I gained was so much more. I learned to let go of beliefs that didn&#8217;t serve me personally or professionally. My goal is to share what I learned, how I reframed those beliefs in my own life, and what I learned about design in the process. 

    - content_for :talk_carmen_medina do

      %h3 Redesigning Leadership

      %p After 45 years in the labor force, more than 30 of them in so-called leadership positions, I&#8217;ve learned that just about everything I was ever taught formally about leadership was wrong. My advice today for someone aspiring to be a leader would be quite different from what I was brainwashed to believe.

      %p I&#8217;ve got six basic principles to share, and the seventh one is no matter how convincing I may sound, be your own person and become the leader you uniquely are meant to be.

    - content_for :talk_chris_avore do

      %h3 You Can Do It! Leading Through New, Unprecedented Challenges with Patience &amp; Perseverance 

      %p Leading and managing design teams might be reaching peak difficulty. With high expectations from the people you support and the managers above you, to the challenges inherent to managing during a pandemic, and now an economy roaring back with unprecedented job movement, many design leaders have questions about their own career paths and how they find value in their day to day roles. 

      %p This brief talk highlights some of those challenges many in leadership and management may be encountering, tailored to people at different stages of their career: the successful independent contributor who&#8217;s considering managing, the early career manager, experienced managers, and those thinking about moving from a startup to enterprise role or vice versa. 

      %p We&#8217;ll rely on interviews and conversations with design leaders of varying experience worldwide, and the experience, observations, and screwups encountered when writing the design management book Liftoff!. As a result, we hope to create space for discussion about what&#8217;s important to design managers, where ever you may be in your journey. 

    - content_for :talk_lisa_debettencourt do

      %h3 Designing for Death: A Framework for Creating the Final Experience of Your Customer&#8217;s Journey

      %p What happens to your customer&#8217;s digital assets when they pass away? Do you have a way for next of kin to notify you? Policies in place for verification? Processes to handle archival and/or transfer of control? Employees who are trained on what to do and how to do it well?

      %p In this brief talk, I will explain why it&#8217;s of great importance to design this part of the customer experience well and the risks involved when you don&#8217;t, and share a 4 part framework that will help you put the right things in place to protect the business and your customers. 

    - content_for :talk_marc_rambeau do

      %h3 From the Ground Up: Growing a New Practice at Your Organization
      
      %p Leading a practice is hard enough. But what if it doesn&#8217;t even exist yet, and how do you even get started? We'll discuss lessons learned&mdash;including the challenges and pathways to success that help make your new practice a reality.

      %p Marc Rambeau will recount his experience launching a content strategy practice at an organization without one. He&#8217;ll share concrete tips you can use at every stage of your practice&#8217;s development, from identifying champions and winning buy-in to growing leaders from within. No matter your craft, you&#8217;ll walk away with real ideas for building and maturing a community of practice.

    - content_for :talk_meena_kothandaraman do

      %h3 The Cost of Not Conducting Qualitative Research in Organizations

      %p When we fail to include the human story in the designs of our products and services, we fail humans. twig+fish has worked with global customers and we frequently hear the same challenges: no time, budget, or value to qualitative research output. Products suffer when they are not anchored in the human story, and the humans who create and use them struggle even more. Rather than talk about the ROI of conducting qualitative research, twig+fish began to study the cost of not doing it.

      %p Meena Kothandaraman shares the results of this internal study that looks at the costs to organizations who have left their decision-making to sources other than the wisdom and insights gained from qualitative research.

    %h3 Sessions
    = partial "partials/events/speakers", locals: {speakers: speakers}

    - content_for :talk_christine_mcglade do
    
      %h3 Systems Thinking &amp; Design Ethics for Design Leaders

      %p Systems are tricky, slippery things, especially complex adaptive systems that bring humans and digital technologies together. In this 15 minute focus session, we&#8217;ll do a whirlwind tour of Systems Thinking and the ethical implications of a systemic paradigm on user experience and service design. Because here&#8217;s the thing about systems: once you see them, you can&#8217;t unsee them. We&#8217;ll walk through three not-so-simple proposals for how we might up our design game in a systemic world.

    - content_for :talk_emily_haines_lloyd do

      %h3 The Power of the Pep Talk

      %p Think pep talks are just for overzealous sports coaches and kinda-culty motivational speakers? Think again. 

      %p Life is tough, but so are we. And we&#8217;re even tougher when we&#8217;re in it together. Sometimes you just need a reminder that you&#8217;re an unmitigated badass. 

      %p Author, Emily Haines Lloyd, will read from her book Pep Talk Poetry and talk about why pep talks are so important, why she wrote a book chock full of them, and how to cheer on anyone who is struggling, including yourself.
      
    - content_for :talk_maria_pereda do
      
      %h5.lineup-subtitle.h-sm-caps-gray Helen, Maria, &amp; Meena present:

      %h3  Dear Design Leader &mdash; Explanations &amp; Experiences with Leading Designers
      
      %p Leadership isn&#8217;t easy, and finding someone to ask questions to, or to give coaching and advice can sometimes be a challenge. Fear not, design leader, Maria and Helen, along with Meena as guide and expert interjector, will address your burning question about design, leadership, design leadership, and likely a few other things.

    - content_for :talk_susan_salvi do

      %h5.lineup-subtitle.h-sm-caps-gray Megan &amp; Susan present:
      
      %h3 A Reading of &#8220;Someday a Bird Will Poop on You: A Life Lesson&#8221;

      %p Megan Kellie and Sue Salvi read through their book, &#8220;Someday a Bird Will Poop on You: A Life Lesson,&#8221; which uses avian evacuation as a metaphor for those things in life we can&#8217;t control. Megan and Sue will also extrapolate and explore aspects of the book you never would have considered because you didn&#8217;t create it. If you did, please email us so we can clear this up.

    %h3 Interstitials
    = partial "partials/events/speakers", locals: {speakers: interstitials}

%section#location.main-content
  .container

    %h3.h-section Location

    %p Leadership by Design 2021 will be 100% online and from where each of us are. And then, later, we&#8217;ll share on Vimeo so you can watch and learn again, watch what you&#8217;ve missed, or share with your internet pals.
        
%section.main-content
  .container

    %h3.h-section Sponsorship Opportunities

    %p We want to be the easiest partner you&#8217;ve ever worked with&#8211;even at the traditional conference level! With that as our guiding mantra, all of our Leadership by Design sponsorships are $1,500.

    %p Leadership by Design has many different options available that are comparable to any other large scale event, and we&#8217;re happy to work with you to create something custom to meet your needs. We&#8217;ve got a great event planned and we&#8217;d love to talk to you about how we can partner with you!

    %p If you&#8217;re interested in sponsoring Leadership by Design and getting in front of the people who are driving the future of design, <a href="/contact/">contact us</a> or <a href="/assets/packets/Prototypes-Process-PlaySponsorship-Info.pdf" download>download our Sponsorship Packet</a>.
