= wrap_layout :layout do
  
  -# Header
  
  %header.header(class="#{'header-default' unless current_page.data.alias}" style="#{event_header(current_page) if current_page.data.alias}")
    .header-container
      .container

        - if current_page.data.alias
          - if current_page.data.alias.end_with? "camp"
            %h1.header-logo.header-logo-event(class="#{current_page.data.alias}-logo-alt")
              = current_page.data.title
          - else
            %h1.header-logo.header-logo-event(style="#{event_logo_alt(current_page)}")
              = current_page.data.title
        - else
          %h1.header-title.header-title-event= current_page.data.title

        %h2.header-event-date.header-shadow= current_page.date.strftime("%A, %B %e, %Y")

        %h4.header-event-location.header-shadow
          - if current_page.data.location
            = current_page.data.location
          - else
            Harrington College of Design &ndash; Chicago
      
      - if current_page.data.alias && current_page.data.header_image_photographer && current_page.data.header_image_url
        %a.header-credit(href="#{current_page.data.header_image_url}" rel="nofollow")
          Photo: #{current_page.data.header_image_photographer}

  = yield
  