= wrap_layout :layout do
  
  -# Header
  
  - if current_page.data.header_image
    %header.header(style="#{header_image(current_page)}")
      .header-container
        .container
      
          %h1.header-title= current_page.data.title
          %h2.header-event-date.header-shadow= current_page.date.strftime("%A, %B %e, %Y")
        
        - if current_page.data.header_image_photographer && current_page.data.header_image_url
          %a.header-credit(href="#{current_page.data.header_image_url}" rel="nofollow")
            Photo: #{current_page.data.header_image_photographer}

  = yield
  