= wrap_layout :layout do

  %article(role="article" itemscope itemtype="http://schema.org/BlogPosting")

    / %header.main-header.main-header-default
    /   .main-header-container.container
    /     %h1.main-header-title Updates

    .main-content.container

      %header
        %h1(itemprop="name")
          = current_page.title
          .lineup
            %time.h-sm-caps-gray(itemprop="dateCreated" datetime="#{current_page.date.strftime('%Y-%m-%d')}")
              = current_page.date.strftime("%B %e, %Y")

      %div(itemprop="articleBody")= yield

      = partial "partials/podcast-credits" if current_page.data.podcast_credit?

    %nav.pagination
      - prev_article = current_article.blog_data.articles.find {|a| a.data.category != "event" && a.data.date < current_article.data.date }
      - next_article = current_article.blog_data.articles.reverse.find {|a| a.data.category != "event" && a.data.date > current_article.data.date }
      - if prev_article
        = link_to prev_article.title, prev_article.url, class: "pagination-prev grid-1-3", rel: "prev"
      %a.pagination-back.grid-1-3(class="#{'pagination-back-prev' if prev_article.present?} #{'pagination-back-next' if next_article.present?}" href="/updates/")
        Back to Updates
      - if next_article
        = link_to next_article.title, next_article.url, class: "pagination-next grid-1-3", rel: "next"
