---
title: Home
---

%header.main-header.home-header

  .home-header-container
    .container

      %h1.home-header-logo Chicago Camps
      %h2.home-header-tagline Low-cost, high-value events <br> serving the technology community.

      .h-sm-caps Up Next:
      %h2.home-header-next
        %a(href="/events/2015/workshop-workshop/") The Workshop Workshop
      %a.btn.btn-alt(href="/events/2015/workshop-workshop/") View Details

      %a.main-header-credit(href="https://flic.kr/p/amYWgx") Photo: Robert Lowe

  .home-header-news
    .container
      .h-divider.h-divider-opaque Latest News
      - blog.articles.select {|a| a.data.category != "events"}.each_with_index do |article, i|
        - break if i == 1
        = link_to article.title, article

%section.home-events
  .container
    %h3.h-section Events

    .feat-event
      - blog.articles.select {|a| a.data.category == "events"}.each_with_index do |article, i|
        - break if i == 1
        
        = link_to article, class: "feat-event-logo" do
          %img(src="#{lorem.image('192x192')}" alt="#{article.title}")
        
        .feat-event-info
          %h2
            = link_to article.title, article
            .lineup
              %span.h-sm-caps-gray= article.date.strftime("%B %e, %Y")
          = truncate(article.summary, length: 190)
        
        .feat-event-cta= link_to "Attend", article, class: "btn btn-outline"

    %blockquote.testimonial
      %p &#8220;Chicago Camps is one of the best valued conferences out there today, jam-packed with incredible information at a stunningly affordable price. You won&#8217;t be disappointed.&#8221;
      %cite &#8212; Jared Spool, Author, Usability Expert &amp; Founder, User Interface Engineering