---
title: Home
---

%header.main-header.home-header

  .home-header-container
    .container

      %h1.home-header-logo Chicago Camps
      %h2.home-header-tagline Low-cost, high-value events <br> serving the technology community.

      .h-sm-caps Up Next:
      %h2.home-header-next
        %a(href="/events/2015/workshop-workshop/") The Workshop Workshop
      %a.btn.btn-alt.btn-large(href="/events/2015/workshop-workshop/") View Details

      %a.main-header-credit(href="https://flic.kr/p/amYWgx") Photo: Robert Lowe

  .home-header-news
    .container
      .h-divider.h-divider-opaque Latest News
      - blog.articles.select {|a| a.data.category != "events"}.each_with_index do |article, i|
        - break if i == 1
        = link_to article.title, article

%section.events-content.group
  .container

    -# Featured event

    %h3.h-section Events

    .event-feat
      - blog.articles.select {|a| a.data.category == "events"}.each_with_index do |article, i|
        - break if i == 1
        
        = link_to article, class: "event-feat-logo" do
          %img(src="#{lorem.image('192x192')}" alt="#{article.title}")
        
        .event-feat-info
          %h2
            = link_to article.title, article
            .lineup
              %span.h-sm-caps-gray= article.date.strftime("%B %e, %Y")
          = truncate_words(article.summary, length: 25)
        
        .event-feat-cta= link_to "Attend", article, class: "btn btn-outline"

    -# Testimonial

    = partial "partials/testimonials/jared-spool"

    -# Upcoming events

    %ul.events-list
      - blog.articles.select {|a| a.data.category == "events"}.each_with_index do |article, i|
        - break if i == 4
        
        %li.event-item
          = link_to article, class: "event-item-logo" do
            %img(src="#{lorem.image('174x174')}" alt="#{article.title}")
          %h3.event-item-title
            = link_to article.title, article
            .lineup
              %span.h-sm-caps-gray= article.date.strftime("%B %e, %Y")
          = link_to "Attend", article, class: "btn btn-outline"

    .events-archive-link.lineup
      %a.a-chevron-right(href="/events-archive/") Events Archive

-# Recommend an event

%section.recommend-an-event
  .container
    %h2 Do you have a great idea for an event, or would you like to bring one of our events to your community?
    %a.btn.btn-outline.btn-large(href="/contact/") Let Us Know
