---
title: Chicago Camps
---

- next_event = blog("events").articles.reverse.find {|a| a.data.date >= (Time.now - 86400).strftime("%Y-%m-%d %H:%M %Z")}

%header.header.header-home
  .header-container
    .container

      %h1.header-logo.header-logo-home Chicago Camps
      %h2.header-home-tagline.header-shadow Low-cost, high-value events <br> serving the technology community.

      - if next_event
        .h-sm-caps Up Next:
        %h2.header-home-next.header-shadow= link_to next_event.title, next_event
        = link_to "View Details", next_event, class: "btn btn-alt btn-large"
      - else
        .h-sm-caps Stay Tuned
        %h2.header-home-next.header-shadow New Events Coming Soon!
        = link_to "Recommend an Event", "/contact/", class: "btn btn-alt btn-large"

      %a.header-credit(href="https://unsplash.com/photos/gDg-2XeLCAo") Photo: Jason Corey

  .header-home-news
    .container
      .h-divider.h-divider-opaque Latest News
      - blog("updates").articles.each_with_index do |article, i|
        - break if i == 1
        = link_to article.title, article

%section.events-content.main-bg-light.group
  .container

    -# Featured event

    - if next_event

      %h3.h-section Events

      .event-feat
        
        - if next_event.data.alias
          - if next_event.data.alias.end_with? "camp"
            .event-feat-logo-container= link_to next_event.data.title, next_event, class: "event-feat-logo #{next_event.data.alias}-logo"
          - else
            .event-feat-logo-container= link_to next_event.data.title, next_event, class: "event-feat-logo", style: "#{event_logo(next_event)}"
        
        .event-feat-info
          %h2
            = link_to next_event.title, next_event
            .lineup
              %span.h-sm-caps-gray
                - if next_event.data.duration
                  = next_event.data.duration
                - else
                  = next_event.date.strftime("%B %e, %Y")
          %p= truncate_words(next_event.data.summary, length: 30)
        
        .event-feat-cta= link_to "Attend", next_event, class: "btn btn-outline"

    -# Testimonial

    = partial "partials/testimonials/jared-spool"

    -# Upcoming events

    %ul.events-list
      - blog("events").articles.reverse.select {|a| a.data.date >= (Time.now - 86400).strftime("%Y-%m-%d %H:%M %Z")}.drop(1).each_with_index do |article, i|
        - break if i == 4
        
        %li.event-item

          - if article.data.alias
            - if article.data.alias.end_with? "camp"
              .event-item-logo-container= link_to article.data.title, article, class: "event-item-logo #{article.data.alias}-logo"
            - else
              .event-item-logo-container= link_to article.data.title, article, class: "event-item-logo", style: "#{event_logo(article)}"

          %h3.event-item-title
            = link_to article.title, article
            .lineup
              %span.h-sm-caps-gray
                - if article.data.duration
                  = article.data.duration
                - else
                  = article.date.strftime("%B %e, %Y")
          = link_to "Attend", article, class: "btn btn-outline"

    .events-archive-link.lineup
      %a.a-chevron-right(href="/events/") Events Archive

-# Recommend an event

%section.recommend-an-event
  .container
    %h2 Do you have a great idea for an event, or would you like to bring one of our events to your community?
    %a.btn.btn-outline.btn-large(href="/contact/") Let Us Know
