---
title: Updates
pageable: true
---

%section

  %header.main-header.main-header-default
    .main-header-container.container
      %h1.main-header-title Updates

  .container
    - page_articles.each_with_index do |article, i|

      .update.grid

        %h2.update-title
          = link_to article.title, article
          .lineup
            %span.h-sm-caps-gray= article.date.strftime("%B %e, %Y")
      
        .update-summary
          - if article.summary.present?
            :preserve
              #{article.summary}
            
            .update-cta
              = link_to article, class: "btn btn-outline" do
                - if article.data.category == "events"
                  Attend
                - elsif article.data.category == "podcasts"
                  Listen
                - else
                  Learn More

          - else
            :preserve
              #{article.body}

  - if paginate && (prev_page || next_page)
    %nav.pagination
      - if prev_page
        = link_to "Previous", prev_page, class: "pagination-prev grid-1-2", rel: "prev"
      - if prev_page && next_page
        .pagination-divider
      - if next_page
        = link_to "Next", next_page, class: "pagination-next grid-1-2", rel: "next"
